<header class="header">
	<div class="container-fluid header__top">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="header__top-social py-2">
						<ul class="header__top-social-list">
							<li class="header__top-social-item">
								<a href="#" class="header__top-social-link" target="_blank">
									<i class="fab fa-facebook-square"></i>
								</a>
							</li>
							<li class="header__top-social-item">
								<a href="#" class="header__top-social-link" target="_blank">
										<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
							<li class="header__top-social-item">
								<a href="#" class="header__top-social-link" target="_blank">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="header__top-social-item">
								<a href="#" class="header__top-social-link" target="_blank">
									<i class="fab fa-google-plus-g"></i>
								</a>
							</li>
						</ul>
					</div> <!-- /.header__top-social -->
				</div>
				<div class="col-md-6 d-flex justify-content-end">
					<div class="header__top-email mr-5 py-2">
						<p class="header__top-email-text mr-1">E-mail:</p>
						<p class="header__top-email-info">info@example.com</p>
					</div> <!-- /.header__top-email -->
					<div class="header__top-phone py-2">
						<p class="header__top-phone-text mr-1">Phone:</p>
						<p class="header__top-phone-info">+00 123 456 78</p>
					</div> <!-- /.header__top-phone -->
				</div>
			</div>
		</div>
	</div> <!-- end container-fluid -->
</header>