* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	font-family: $main-font;
	font-size: $base-size;
	background-color: $white;
	color: $dark-grey;
}

a {
	text-decoration: none;
}

.sec-con {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		color: $light-dark;
		font-family: $title-font;
		font-size: $large-size;
		font-weight: 400;
		margin-bottom: 20px;
	}

	&__text {
		color: $light-dark;
		font-size: $huge-size;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 40px;
	}

	&__line {
		display: flex;
		width: 100%;
		max-width: 60px;
		border-bottom: 3px solid $red;
	}

	&__sub-text {
		color: $dark-grey;
		font-family: $sec-font;
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		padding-top: 40px;
	}
}