* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	font-family: $main-font;
	font-size: $base-size;
	background-color: $white;
	color: $dark-grey;
}

a {
	text-decoration: none;
}

// SCROLL-BAR

::-webkit-scrollbar { width: 5px; height: 0px;}
::-webkit-scrollbar-button {  background-color: transparent; }
::-webkit-scrollbar-track {  background-color: transparent;}
::-webkit-scrollbar-track-piece { background-color: $white;}
::-webkit-scrollbar-thumb { height: 90px; background-color: $aqua; border-radius: 3px;
}

.sec-con {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		color: $light-dark;
		font-family: $title-font;
		font-size: $large-size;
		font-weight: 400;
		margin-bottom: 20px;
	}

	&__text {
		color: $light-dark;
		font-size: $huge-size;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 40px;
	}

	&__line {
		display: flex;
		width: 100%;
		max-width: 60px;
		border-bottom: 3px solid $red;
	}

	&__sub-text {
		color: $dark-grey;
		font-family: $sec-font;
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		padding-top: 40px;
	}
}


.btn-top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 15px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: $aqua;
	color: $light-dark;
	font-family: $title-font;
	font-weight: 700;
	cursor: pointer;
	padding: 15px 20px;
	border-radius: 10px;
	transition: all .3s ease;

	&:hover {
		background-color: $red;
		color: $aqua;
	}
}

.carousel-control-prev {
	left: -10%;
}

.carousel-control-next {
	right: -10%;
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ccc' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ccc' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
	width: 20px;
	height: 20px;
	
}