.first-screen {
	background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%), $yellow url('../img/header-bg.png') no-repeat;
	background-size: cover;
	min-height: 100vh;
	color: $white;
	padding: px_to_rem(25px) 0;
	text-align: center;

	.logo__link {
		display: block;
		color: $white;
		font-size: $huge-size;
		font-weight: 700;

		@media screen and (max-width: 991px) {
			text-align: left;
		}

		&:hover {
			text-decoration: none;
		}
	}

	.menu {
		width: 100%;

		@media screen and (max-width: 991.98px) {
			display: none;
		}

		.active {
			color: $yellow;
			border-bottom: 2px solid $yellow;
		}



		&__link {
			display: block;
			color: $white;
			font-size: $small-size;
			font-weight: 400;
			text-transform: uppercase;

			&:hover {
				color: $yellow;
				border-bottom: 2px solid $yellow;
				text-decoration: none;
			}
		}
	}

	.fs-content {

		@media screen and (max-width: 575px) {
			padding: 6rem 0;
		}

		@media (min-width: 576px) and (max-width: 991px) {
			padding: 6rem 0;
		}

		@media screen and (min-width: 992px) {
			padding: 9rem 0;
		}

		@media screen and (min-width: 1200px) {
			padding: px_to_rem(150px) 0;
		}
	}

	&__title {
		font-family: $title-font;
		font-size: $big-size;
		font-weight: 400;
		margin-bottom: px_to_rem(40px);

		@media screen and (max-width: 575px) {
			font-size: 30px;
			margin-bottom: 1rem;
		}

		@media screen and (min-width: 576px) {
			font-size: 4rem;
			margin-bottom: 2rem;
		}

		@media screen and (min-width: 992px) {
			font-size: 4rem;
		}

		@media screen and (min-width: 1200px) {
			font-size: 50px;
			margin-bottom: 1rem;
		}
	}

	&__text {
		font-size: $v_big-size;
		font-weight: 700;
		line-height: 140px;
		text-transform: uppercase;
		margin-bottom: px_to_rem(70px);

		@media screen and (max-width: 575px) {
			font-size: 30px;
			line-height: 1;
			margin-bottom: 2rem;
		}

		@media screen and (min-width: 576px) {
			font-size: 5rem;
			line-height: 1;
			margin-bottom: 2rem;
		}

		@media screen and (min-width: 992px) {
			font-size: 90px;
			line-height: 1;
		}

		@media screen and (min-width: 1200px) {
			font-size: 120px;
			margin-bottom: 3rem;
		}
	}

	&__line {
		width: px_to_rem(60px);
		border: 1px solid $white;
		margin-bottom: px_to_rem(50px);
	}

	&__btn {
		color: $white;
		font-size: $small-size;
		font-weight: 700;
		text-transform: uppercase;
		padding: 15px 30px;
		border: 3px solid $white;
		background: transparent;
		transition: color .5s ease;

		&:hover {
			color: $red;
		}
	}

	&__slider {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	&__slider-item {
		width: 24%;
		display: flex;
		align-items: center;
		border-top: 3px solid $white;
		padding-top: 20px;
		cursor: pointer;
		transition: border .5s ease;

		&:hover {
			border-top: 3px solid $red;
		}
	}

	&__slider-number {
		font-size: $large-size;
		font-weight: 700;
		margin-right: 5px;
	}

	&__slider-text {
		margin: 0;
		opacity: 0.7;
		font-size: $middle-size;
		font-weight: 400;
		text-transform: uppercase;
	}
}