.logos {
	padding: 50px 0;
	background-color: $slider-bg;

	@media screen and (max-width: 767px) {
		display: none;
	}

	@media screen and (min-width: 768px) {
		display: block;
	}

	&-company {
		background: url('../img/logos.png') no-repeat center;
		background-size: contain;
		min-height: 150px;
	}
}