.slider-quote {
	background-color: $slider-bg;
	padding: 70px 0;

	// 

	.quote-wrap {
		display: flex;
	}

	.quote-icon {
		min-width: 150px;
		min-height: 150px;
		border: 1px solid $aqua;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 50px;
	}

	.blockquote {

		&-text {
			color: $dark-grey;
			font-family: $sec-font;
			font-size: $large-size;
			line-height: 36px;
			margin-bottom: 10px;
		}

		&-author {
			position: relative;
			color: $light-dark;
			font-family: $title-font;
			font-size: $large-size;
			font-weight: 400;
			padding-left: 70px;

			&::before {
				content: "";
				display: block;
				position: absolute;
				background: url('../img/line.jpg') no-repeat;
				background-size: cover;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 60px;
				height: 3px;
			}
		}
	}

	.carousel-control-prev {
		left: -10%;
	}

	.carousel-control-next {
		right: -10%;
	}

	.carousel-control-prev-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ccc' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
	}
	.carousel-control-next-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ccc' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
	}
	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		width: 20px;
		height: 20px;
		
	}
	
}