.services {

	@media screen and (max-width: 575px) {
		padding: 30px 0;
	}

	@media screen and (min-width: 576px) {
		padding: 50px 0;
	}

	@media screen and (min-width: 768px) {
		padding: 70px 0;
	}

	@media screen and (min-width: 992px) {
		padding: 100px 0;
	}

	&__card {
		display: flex;
	}
	&__icon {
		margin-right: 20px;
	}
	&__title {
color: $light-dark;
font-size: $small-size;
font-weight: 700;
text-transform: uppercase;
margin-bottom: 20px;

@media screen and (max-width: 1199px) {
	margin-bottom: 10px;
}
	}

	&__text {
color: $dark-grey;
font-family: $sec-font;
font-size: 15px;
font-weight: 400;
line-height: 24px;
margin-bottom: 0;
	}
}