.testimonial {
	padding: 70px 0;
	
	@media screen and (max-width: 1199px) {
		display: none;
	}

	@media screen and (min-width: 1200px) {
		display: block;
	}

	&-wrap {
		display: flex;
		align-items: center;
	}

	&-avatar {
		@include padding-hack (31%, cover);
		width: 100%;
		margin-right: 50px;
	}

	.blockquote {

		&-text {
			color: $dark-grey;
			font-family: $sec-font;
			font-size: $large-size;
			line-height: 36px;
			margin-bottom: 10px;
		}

		&-author {
			position: relative;
			color: $light-dark;
			font-family: $title-font;
			font-size: $large-size;
			font-weight: 400;
			padding-left: 70px;

			&::before {
				content: "";
				display: block;
				position: absolute;
				background: url('../img/line.jpg') no-repeat;
				background-size: cover;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 60px;
				height: 3px;
			}
		}
	}

	
	
}