// COLORS 

$white: #ffffff;
$black: #000000;
$yellow: #ffcc00;
$dark-grey: #666666;
$grey: #333333;
$light-grey: #cccccc;

$text-grey: #898f8f;

// FONTS


$main_font: 'Raleway';
$bold_font: 'Roboto';
$add_font: 'Open Sans';

/*

font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;

*/


// SIZE

$wrapper: 1200px;