*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face
{
    font-family: '$fonts';

    src: url('../fonts/museosansrounded-100-webfont.woff') format('woff');
}

html,
body
{
    min-height: 100vh;
}

body
{
    font-family: 'MuseoSansRoded', sans-serif; 

    background: url('../img/bg.png') no-repeat;
    background-size: cover;
}

.container
{
    width: 100%;
    max-width: 685px;
    margin: auto;
}
