html,
body {
	min-height: 100vh;
	scroll-behavior: smooth;
}

body {
	font-family: $main-font;
	font-weight: 300;
	font-size: 20px;
	background-color: grey;
	color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	font-weight: 100;
	margin: 0;
}

a:hover {
	text-decoration: none;
}

.scrollImg {
	background-color: #ffffff;
	background: url('http://netdna.webdesignerdepot.com/uploads/2014/07/featured36.jpg')no-repeat center/cover;
	background-attachment: fixed;
}

.main__title {
	font-family: $option-font;
	@include text-styling(3rem, 400, $white);
	text-transform: uppercase;
}

@keyframes drop {
	0% {
		top: 0;
		opacity: 0;
	}

	30% {
		top: 10px;
		opacity: 1;
	}

	100% {
		top: 25px;
		opacity: 0;
	}
}

@keyframes animate {

	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 300% 0;
	}

	100% {
		background-position: 0 0;
	}
}