/* Header style
--------------- */
.header {
	min-height: 100vh;
	display: flex;
	align-items: center;
	position: relative;

	&__fixed {
		z-index: 1;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		background-color: rgba($black, 0.5);

		&-logo {
			display: flex;
			font-family: $sec-font;
			text-transform: capitalize;
			color: $white;

			@media all and (min-width: 992px) {
				@include anim;
			}

			&:hover {
				color: $white;
			}
		}

		&-list {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&-link {
			@include text-styling(12px, 400, $white);
			font-family: $option-font;
			text-transform: capitalize;
			transition: all .3s ease;

			@media all and (min-width: 360px) {
				@include text-styling(14px, 400, $white);
			}

			@media all and (min-width: 576px) {
				@include text-styling(18px, 400, $white);
			}

			&:hover,
			&:active {
				color: $black;
				@include anim;
			}
		}

		.active {
			color: $black;
			border-bottom: 2px solid $white;
		}
	}

	&__content {
		background-color: rgba($black, 0.4);
		border-radius: 10px;
		font-family: $option-font;
		padding: 15px;

		&-title {
			@include text-styling(3rem, 400, $white);
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 10px;

			@media all and (min-width: 768px) {
				@include text-styling(5rem, 400, $white);
			}
		}

		&-text {
			@include text-styling(1rem, 400, rgba($white, .7));
			text-align: justify;

			@media all and (min-width: 768px) {
				@include text-styling(1.3rem, 400, rgba($white, .7));
			}
		}
	}

	&__scroll {
		display: block;
		position: absolute;
		bottom: 5%;
		left: 50%;
	}

	.scroll-down {
		display: none;
		border: 2px solid $white;
		border-radius: 50%;
		height: 50px;
		width: 50px;
		text-align: center;

		@media all and (min-width: 992px) {
			display: block;
		}
	}

	&__arrow {
		display: block;
		position: relative;
		animation-name: drop;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-delay: 0s;
		animation-iteration-count: infinite;
		animation-play-state: running;
	}

	.fa-2x {
		display: block;
		color: #fff;
		font-size: 1.5rem;
	}
}

/* End header style
------------------- */