// FONTS:

@import url('https://fonts.googleapis.com/css?family=Lato:400,100,300|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700&display=swap');

$main-font: Lato,
sans-serif;
$sec-font: Pacifico;
$option-font: 'Cabin Sketch', cursive;

// COLORS:

$black: #000000;
$white: #ffffff;
$grey: #cccccc;