/* WORK STYLE
------------- */
.work {
	padding: 40px 0;

	@media all and (min-width: 768px) {
		padding: 100px 0;
	}

	&__link {
		display: flex;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: -2px;
			left: -2px;
			width: calc(100% + 4px);
			height: calc(100% + 4px);
			background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
			background-size: 500%;
			animation: animate 20s linear infinite;
		}

		&::before {
			filter: blur(5px);
		}
	}

	.img-wrapper {
		@include padding-hack(62%);
	}

	&__img {
		filter: brightness(20%);
		transition: all .5s ease;

		&:hover {
			filter: none;
			transform: scale(1.1);
		}
	}
}

/* END WORK STYLE
----------------- */