/* WORK STYLE
------------- */
.work {
	padding: 40px 0;

	@media all and (min-width: 768px) {
		padding: 100px 0;
	}

	&__link {
		display: block;
	}

	.img-wrapper {
		@include padding-hack(62%);
		border: 1px solid $black;
	}
}


/* END WORK STYLE
----------------- */