@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700");
@font-face {
	font-family: "Aleo";
	src: url("../fonts/aleo/aleo-regular-webfont.eot"), url("../fonts/aleo/aleo-regular-webfont.woff"), url("../fonts/aleo/aleo-regular-webfont.woff2"), url("../fonts/aleo/aleo-regular-webfont.ttf"), url("../fonts/aleo/aleo-regular-webfont.svg");
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	border: 15px solid #fff;
	font-family: "Aleo", sans-serif;
	font-size: 16px;
	color: #fff;
}

.container {
	width: 100%;
	max-width: 1100px;
	margin: auto;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.first-screen {
	background: #0578e1 url("../img/header_bg.png") no-repeat;
	background-size: cover;
}

.fs {
	min-height: 100vh;
	font-family: "Josefin Sans", sans-serif;
}
.fs .row {
	min-height: 100vh;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.fs__title {
	font-weight: 700;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 4.8px;
	margin: 0 0 15px;
}
.fs__text {
	font-size: 1.375rem;
	font-weight: 300;
	letter-spacing: 6.82px;
	margin-bottom: 50px;
}
.fs__form {
	width: 100%;
	max-width: 650px;
	background-color: #fff;
	font-size: .875rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 120px;
}
.fs__search {
	width: 77%;
	color: #999;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 2.8px;
	text-align: center;
	padding: 20px 0;
	border: none;
}
.fs__search::-webkit-input-placeholder {
	color: #999;
	font-size: .875rem;
}
.fs__search:-moz-placeholder {
	color: #999;
	font-size: .875rem;
}
.fs__search::-moz-placeholder {
	color: #999;
	font-size: .875rem;
}
.fs__search:-ms-input-placeholder {
	color: #999;
	font-size: .875rem;
}
.fs__btn {
	position: relative;
	width: 23%;
	padding: 0;
	border: 2px solid #fff;
	background: #5474fd url("../img/search_small.svg") no-repeat 92% 50%;
	text-transform: uppercase;
	color: #fff;
	font-family: "Aleo", sans-serif;
	font-weight: 400;
	letter-spacing: 1.4px;
	cursor: pointer;
	-webkit-transition: background-color .4s ease;
	        transition: background-color .4s ease;
}
.fs__btn:hover {
	background-color: #496bfe;
}
.fs__link {
	position: relative;
	text-decoration: none;
	color: #fff;
	font-size: .875rem;
	font-weight: 400;
	letter-spacing: 2.8px;
}
.fs__link::after {
	content: "";
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	border: 2px solid transparent;
	left: 50%;
	-webkit-transform: rotate(-45deg) translateX(-50%);
	        transform: rotate(-45deg) translateX(-50%);
	border-bottom-color: #fff;
	border-left-color: #fff;
}

.nav {
	background-color: #5474fd;
	padding: 28px 0;
}
.nav .row {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.nav__logo {
	color: #fff;
	text-decoration: none;
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2.4px;
}
.nav__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 50%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.nav__link {
	display: block;
	color: #fff;
	font-size: .875rem;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: color .5s ease;
	        transition: color .5s ease;
}
.nav__link:hover {
	color: #333;
}

.choose {
	background: #333 url("../img/choose_bg.png") no-repeat;
	background-size: cover;
}
.choose .row {
	min-height: 100vh;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.choose__content {
	width: 50%;
}
.choose__title {
	font-size: 2.25rem;
	font-weight: 400;
	margin-bottom: 60px;
}
.choose__text {
	color: #e8e8e8;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 300;
	line-height: 1.75;
	letter-spacing: 1.6px;
	margin-bottom: 45px;
}
.choose .f-txt {
	margin-bottom: 40px;
}
.choose__btn {
	width: 225px;
	height: 70px;
	background-image: linear-gradient(45deg, #496bfe 40%, #5474fd 41%);
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	border: none;
	cursor: pointer;
	-webkit-transition: color .5s ease;
	        transition: color .5s ease;
}
.choose__btn:hover {
	color: #333;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #496bfe), color-stop(41%, #5474fd));
	background-image: linear-gradient(360deg, #496bfe 40%, #5474fd 41%);
}
.choose__gallery {
	width: 45%;
}
.choose__picture {
	position: relative;
	padding-top: 44.4%;
	max-width: 350px;
	margin-bottom: 5px;
}
.choose__picture:last-child {
	margin-bottom: 0;
	margin-left: 29%;
}
.choose__img {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}

.how {
	background-color: #333;
	padding: 80px 0;
}
.how .row {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.how__list {
	position: relative;
	width: 90%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.how__list::before {
	content: "";
	position: absolute;
	display: block;
	background: url("../img/wave.svg") no-repeat;
	background-size: cover;
	width: 100%;
	max-width: 790px;
	height: 100px;
	left: 49%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	z-index: 0;
}
.how__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #333;
	z-index: 1;
}
.how__icon {
	width: 60px;
	height: 60px;
	background-size: cover;
	margin-bottom: 30px;
}
.how__title {
	font-size: 2.25rem;
	font-weight: 400;
}
.how .h-search {
	background: url("../img/search.svg") no-repeat;
}
.how .h-select {
	background: url("../img/select.svg") no-repeat;
}
.how .h-finger {
	background: url("../img/finger.svg") no-repeat;
}

.travel-first {
	background: #ba999a url("../img/house.png") no-repeat;
	background-size: cover;
	min-height: 100vh;
}
.travel-first .row {
	min-height: 100vh;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.travel-first__card {
	width: 50%;
	font-family: "Josefin Sans", sans-serif;
	background: rgba(35, 35, 35, .9);
	padding: 50px 30px;
	margin-bottom: 100px;
}
.travel-first__title {
	color: #e8e8e8;
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 1.5px;
	margin-bottom: 30px;
}
.travel-first__subtitle {
	font-size: 1.25rem;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.travel-first__text {
	color: #e8e8e8;
	font-weight: 300;
	line-height: 26px;
	margin-bottom: 50px;
}
.travel-first__btn {
	width: 225px;
	height: 70px;
	background-image: linear-gradient(45deg, #496bfe 40%, #5474fd 41%);
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	border: none;
	cursor: pointer;
	-webkit-transition: color .5s ease;
	        transition: color .5s ease;
}
.travel-first__btn:hover {
	color: #333;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #496bfe), color-stop(41%, #5474fd));
	background-image: linear-gradient(360deg, #496bfe 40%, #5474fd 41%);
}

.travel-last {
	background: #ba999a url("../img/rocks.png") no-repeat;
	background-size: cover;
	min-height: 100vh;
}
.travel-last .row {
	min-height: 100vh;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.travel-last__card {
	width: 50%;
	font-family: "Josefin Sans", sans-serif;
	background: rgba(35, 35, 35, .9);
	padding: 50px 30px;
	margin-bottom: 100px;
}
.travel-last__title {
	color: #e8e8e8;
	font-size: 1.25rem;
	font-weight: 400;
	letter-spacing: 1.5px;
	margin-bottom: 30px;
}
.travel-last__subtitle {
	font-size: 1.25rem;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.travel-last__text {
	color: #e8e8e8;
	font-weight: 300;
	line-height: 26px;
	margin-bottom: 50px;
}
.travel-last__btn {
	width: 225px;
	height: 70px;
	background-image: linear-gradient(45deg, #496bfe 40%, #5474fd 41%);
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	border: none;
	cursor: pointer;
	-webkit-transition: color .5s ease;
	        transition: color .5s ease;
}
.travel-last__btn:hover {
	color: #333;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #496bfe), color-stop(41%, #5474fd));
	background-image: linear-gradient(360deg, #496bfe 40%, #5474fd 41%);
}
