<section class="about">
	<div class="container">
		<div class="row d-flex justify-content-center mb-7">
			<div class="col-6 d-flex flex-column align-items-center">
				<h2 class="main-title">About us</h2>
				<p class="main-text">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit</p>
			</div>
			<div class="col-12">
				<p class="about__text">Phasellus eu malesuada neque, ut scelerisque nisl. Sed laoreet libero eget orci lobortis,
					convallis mattis metus porttitor. Nunc tempor nunc ac urna tincidunt, quis placerat nisl suscipit. Mauris
					viverra gravida metus, ac auctor purus convallis in.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<div class="about-wrap mb-3">
					<div class="about-wrap__icon">
						<i class="far fa-eye"></i>
					</div>
					<div class="about-wrap__content">
						<h3 class="content__title">1. Lorem ipsum</h3>
						<p class="content__text">Ut porttitor quam nec risus ultricies efficitur. Pellentesque sagittis sed magna
							scelerisque consectetur. </p>
					</div>
				</div>
				<div class="about-wrap mb-3">
					<div class="about-wrap__icon">
							<i class="fas fa-paint-brush"></i>
					</div>
					<div class="about-wrap__content">
						<h3 class="content__title">2. Lorem ipsum</h3>
						<p class="content__text">Ut porttitor quam nec risus ultricies efficitur. Pellentesque sagittis sed magna
							scelerisque consectetur. </p>
					</div>
				</div>
				<div class="about-wrap mb-5">
					<div class="about-wrap__icon">
							<i class="fas fa-heart"></i>
					</div>
					<div class="about-wrap__content">
						<h3 class="content__title">3. Lorem ipsum</h3>
						<p class="content__text">Ut porttitor quam nec risus ultricies efficitur. Pellentesque sagittis sed magna
							scelerisque consectetur. </p>
					</div>
				</div>
				<button class="main__btn" type="submit">download</button>
			</div>
		</div>
	</div>
</section>