<section id="about" class="about">
	<div class="container">
		<div class="row mb-4 mb-md-5">
			<div class="col-12 text-center">
				<h3 class="main__title">About us</h3>
				<h4 class="main__subtitle">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor
				</h4>
				<p class="main__text">Phasellus eu malesuada neque, ut scelerisque nisl. Sed laoreet libero eget orci lobortis,
					convallis mattis metus porttitor. Nunc tempor nunc ac urna tincidunt, quis placerat nisl suscipit. Mauris
					viverra gravida metus, ac auctor purus convallis in.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="about__wrap mb-3">
					<i class="far fa-eye about__wrap-icon"></i>
					<div class="about__content">
						<h4 class="about__content-title">1. Lorem ipsum</h4>
						<p class="about__content-text">Ut porttitor quam nec risus ultricies efficitur. Pellentesque sagittis sed
							magna scelerisque consectetur. </p>
					</div>
				</div> <!-- End .about__wrap -->
				<div class="about__wrap mb-3">
					<i class="fas fa-paint-brush about__wrap-icon"></i>
					<div class="about__content">
						<h4 class="about__content-title">2. Lorem ipsum</h4>
						<p class="about__content-text">Ut porttitor quam nec risus ultricies efficitur. Pellentesque sagittis sed
							magna scelerisque consectetur. </p>
					</div>
				</div> <!-- End .about__wrap -->
				<div class="about__wrap">
						<i class="fas fa-heart about__wrap-icon"></i>
					<div class="about__content">
						<h4 class="about__content-title">3. Lorem ipsum</h4>
						<p class="about__content-text">Ut porttitor quam nec risus ultricies efficitur. Pellentesque sagittis sed
							magna scelerisque consectetur. </p>
					</div>
				</div> <!-- End .about__wrap -->
			</div>
		</div>
	</div>
</section> <!-- End .about -->