<section class="benefits">
	<div class="container">
		<div class="row mb-4 mb-md-5">
			<div class="col-12 text-center">
				<h3 class="benefits__title">Benefits</h3>
				<h4 class="benefits__subtitle">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor</h4>
				<p class="benefits__text">Etiam tristique lacus pulvinar viverra bibendum. Nullam egestas felis nec nunc
					lacinia, in
					viverra ipsum gravida. Proin et ullamcorper augue. Nam ultricies vulputate nisl nec dictum. Quisque vel rutrum
					nulla, ut dictum tortor. Praesent ultrices enim at mauris commodo, vel vestibulum ipsum gravida. Aliquam
					venenatis in lacus eu fringilla. Mauris pretium varius eros, sit amet lobortis dolor sodales sit amet. Quisque
					id finibus dolor, vitae faucibus velit. In hac habitasse platea dictumst.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 mb-4 mb-md-0">
				<div class="benefits__card">
					<div class="benefits__card-icon">
						<i class="fas fa-trophy"></i>
					</div>
					<h3 class="benefits__card-title">lorem ipsum</h3>
					<p class="benefits__card-text">Ut porttitor quam nec risus ultricies efficitur. Pellentesque sagittis sed
						magna scelerisque consectetur. Etiam condimentum massa sed tortor feugiat, ac congue lectus dapibus.</p>
				</div> <!-- End .benefits__card -->
			</div>
			<div class="col-md-4 mb-4 mb-md-0">
				<div class="benefits__card">
					<div class="benefits__card-icon">
						<i class="fas fa-rocket"></i>
					</div>
					<h3 class="benefits__card-title">lorem ipsum</h3>
					<p class="benefits__card-text">Ut porttitor quam nec risus ultricies efficitur. Pellentesque sagittis sed
						magna scelerisque consectetur. Etiam condimentum massa sed tortor feugiat, ac congue lectus dapibus.</p>
				</div> <!-- End .benefits__card -->
			</div>
			<div class="col-md-4">
				<div class="benefits__card">
					<div class="benefits__card-icon">
						<i class="fas fa-flag"></i>
					</div>
					<h3 class="benefits__card-title">lorem ipsum</h3>
					<p class="benefits__card-text">Ut porttitor quam nec risus ultricies efficitur. Pellentesque sagittis sed
						magna scelerisque consectetur. Etiam condimentum massa sed tortor feugiat, ac congue lectus dapibus.</p>
				</div> <!-- End .benefits__card -->
			</div>
		</div>
	</div>
</section> <!-- End .benefits -->