<section class="benfits">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
				<div class="benfits__card">
					<div class="benfits__card-icon">
						<i class="fas fa-laptop"></i>
					</div> <!-- End .benfits__card-icon -->
					<h3 class="benfits__card-title">lorem ipsum</h3>
					<p class="benfits__card-text">Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus
						magna eros sed ligula. In feugiat id odio ac feugiat.</p>
				</div> <!-- End .benfits__card -->
			</div>
			<div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
				<div class="benfits__card">
					<div class="benfits__card-icon active__icon">
						<i class="far fa-eye"></i>
					</div> <!-- End .benfits__card-icon -->
					<h3 class="benfits__card-title">lorem ipsum</h3>
					<p class="benfits__card-text">Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus
						magna eros sed ligula. In feugiat id odio ac feugiat.</p>
				</div> <!-- End .benfits__card -->
			</div>
			<div class="col-12 col-md-6 col-lg-3 mb-4 mb-md-0">
				<div class="benfits__card">
					<div class="benfits__card-icon">
						<i class="fas fa-cog"></i>
					</div> <!-- End .benfits__card-icon -->
					<h3 class="benfits__card-title">lorem ipsum</h3>
					<p class="benfits__card-text">Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus
						magna eros sed ligula. In feugiat id odio ac feugiat.</p>
				</div> <!-- End .benfits__card -->
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<div class="benfits__card">
					<div class="benfits__card-icon">
						<i class="fas fa-star"></i>
					</div> <!-- End .benfits__card-icon -->
					<h3 class="benfits__card-title">lorem ipsum</h3>
					<p class="benfits__card-text">Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus
						magna eros sed ligula. In feugiat id odio ac feugiat.</p>
				</div> <!-- End .benfits__card -->
			</div>
		</div>
	</div>
</section> <!-- End . -->