<section class="benfits">
	<div class="container">
		<div class="row">
			<div class="col-3 d-flex flex-column align-items-center">
				<div class="benfits__icon">
					<i class="fas fa-laptop"></i>
				</div>
				<h3 class="benfits__title">Lorem Ipsum</h3>
				<p class="benfits__text">Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat. </p>
			</div>
			<div class="col-3 d-flex flex-column align-items-center">
				<div class="benfits__icon">
					<i class="far fa-eye"></i>
				</div>
				<h3 class="benfits__title">Lorem Ipsum</h3>
				<p class="benfits__text">Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat. </p>
			</div>
			<div class="col-3 d-flex flex-column align-items-center">
				<div class="benfits__icon">
					<i class="fas fa-cog"></i>
				</div>
				<h3 class="benfits__title">Lorem Ipsum</h3>
				<p class="benfits__text">Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat. </p>
			</div>
			<div class="col-3 d-flex flex-column align-items-center">
				<div class="benfits__icon">
					<i class="fas fa-star"></i>
				</div>
				<h3 class="benfits__title">Lorem Ipsum</h3>
				<p class="benfits__text">Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus magna eros sed ligula. In feugiat id odio ac feugiat. </p>
			</div>
		</div>
	</div>
</section>