<section id="blog" class="blog">
	<div class="container">
		<div class="row mb-4 mb-md-5">
			<div class="col-12 text-center">
				<h3 class="main__title">Latest Blog Posts</h3>
				<h4 class="main__subtitle mb-0">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
				<div class="blog__card">
					<div class="img-wrapper">
						<img src="https://picsum.photos/270/180" alt="BlogCardItem" class="blog__card-img">
					</div>
					<h3 class="blog__card-title">simple blog post</h3>
					<div class="blog__card-desc">
						<div class="blog__card-desc_wrap">
							<i class="far fa-file-alt blog__card-desc_icon"></i>
							<p class="blog__card-desc_date">Aprilie 12, 2015</p>
						</div>
						<div class="blog__card-desc_wrap">
							<i class="far fa-comment blog__card-desc_icon"></i>
							<p class="blog__card-desc_commit">no comments</p>
						</div>
					</div> <!-- End .blog__card-desc -->
					<p class="blog__card-text">Curabitur auctor nisi eu tortor ultrices mollis. In gravida velit massa, at
						ullamcorper nibh tempor commodo. Nunc ex arcu, vehicula id nisl ut, condimentum elementum felis. </p>
				</div> <!-- End .blog__card -->
			</div>
			<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
				<div class="blog__card">
					<div class="img-wrapper">
						<img src="https://picsum.photos/270/180" alt="BlogCardItem" class="blog__card-img">
					</div>
					<h3 class="blog__card-title">simple blog post</h3>
					<div class="blog__card-desc">
						<div class="blog__card-desc_wrap">
							<i class="far fa-file-alt blog__card-desc_icon"></i>
							<p class="blog__card-desc_date">Aprilie 12, 2015</p>
						</div>
						<div class="blog__card-desc_wrap">
							<i class="far fa-comment blog__card-desc_icon"></i>
							<p class="blog__card-desc_commit">no comments</p>
						</div>
					</div> <!-- End .blog__card-desc -->
					<p class="blog__card-text">Curabitur auctor nisi eu tortor ultrices mollis. In gravida velit massa, at
						ullamcorper nibh tempor commodo. Nunc ex arcu, vehicula id nisl ut, condimentum elementum felis. </p>
				</div> <!-- End .blog__card -->
			</div>
			<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
				<div class="blog__card">
					<div class="img-wrapper">
						<img src="https://picsum.photos/270/180" alt="BlogCardItem" class="blog__card-img">
					</div>
					<h3 class="blog__card-title">simple blog post</h3>
					<div class="blog__card-desc">
						<div class="blog__card-desc_wrap">
							<i class="far fa-file-alt blog__card-desc_icon"></i>
							<p class="blog__card-desc_date">Aprilie 12, 2015</p>
						</div>
						<div class="blog__card-desc_wrap">
							<i class="far fa-comment blog__card-desc_icon"></i>
							<p class="blog__card-desc_commit">no comments</p>
						</div>
					</div> <!-- End .blog__card-desc -->
					<p class="blog__card-text">Curabitur auctor nisi eu tortor ultrices mollis. In gravida velit massa, at
						ullamcorper nibh tempor commodo. Nunc ex arcu, vehicula id nisl ut, condimentum elementum felis. </p>
				</div> <!-- End .blog__card -->
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="blog__card">
					<div class="img-wrapper">
						<img src="https://picsum.photos/270/180" alt="BlogCardItem" class="blog__card-img">
					</div>
					<h3 class="blog__card-title">simple blog post</h3>
					<div class="blog__card-desc">
						<div class="blog__card-desc_wrap">
							<i class="far fa-file-alt blog__card-desc_icon"></i>
							<p class="blog__card-desc_date">Aprilie 12, 2015</p>
						</div>
						<div class="blog__card-desc_wrap">
							<i class="far fa-comment blog__card-desc_icon"></i>
							<p class="blog__card-desc_commit">no comments</p>
						</div>
					</div> <!-- End .blog__card-desc -->
					<p class="blog__card-text">Curabitur auctor nisi eu tortor ultrices mollis. In gravida velit massa, at
						ullamcorper nibh tempor commodo. Nunc ex arcu, vehicula id nisl ut, condimentum elementum felis. </p>
				</div> <!-- End .blog__card -->
			</div>
		</div>
	</div>
</section> <!-- End .blog -->