<section class="facts">
	<div class="container">
		<div class="row">
			<div class="col-12 d-flex flex-column align-items-center">
				<h2 class="facts__main-title">Here's some interesting facts about our company.</h2>
				<p class="facts__main-text">Lorem ipsum dolor sit amet, id iusto oportere mel.</p>
				<ul class="facts__list">
					<li class="facts__item">
						<span class="facts__number">1258</span>
						<p class="facts__text">cups of coffee</p>
					</li>
					<li class="facts__item">
						<span class="facts__number">63</span>
						<p class="facts__text">new clients</p>
					</li>
					<li class="facts__item">
						<span class="facts__number">421</span>
						<p class="facts__text">completed projects</p>
					</li>
					<li class="facts__item">
						<span class="facts__number">562</span>
						<p class="facts__text">happy clients</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>