<section class="facts">
	<div class="container">
		<div class="row d-flex justify-content-center mb-4 mb-md-5">
			<div class="col-lg-10 text-center">
				<h2 class="facts__title">Here's some interesting facts about our company.</h2>
				<p class="facts__text">Lorem ipsum dolor sit amet, id iusto oportere mel.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-3 text-center mb-4 mb-md-5 mb-lg-0">
				<p class="facts__number">1258</p>
				<p class="facts__desc">cups of coffee</p>
			</div>
			<div class="col-md-6 col-lg-3 text-center mb-4 mb-md-5 mb-lg-0">
				<p class="facts__number">63</p>
				<p class="facts__desc">new clients</p>
			</div>
			<div class="col-md-6 col-lg-3 text-center mb-4 mb-md-0">
				<p class="facts__number">421</p>
				<p class="facts__desc">completed projects</p>
			</div>
			<div class="col-md-6 col-lg-3 text-center">
				<p class="facts__number">562</p>
				<p class="facts__desc">happy clients</p>
			</div>
		</div>
	</div>
</section>