<header id="header" class="header">
	<div class="header__top mb-3 mb-md-5">
		<div class="container-fluid header__top-contacts mb-3 mb-md-5">
			<div class="row">
				<div class="container">
					<div class="row d-flex justify-content-between align-items-start align-items-md-center">
						<div class=" col-5 col-md-4 col-lg-2">
							<ul class="header__top-social">
								<li class="header__top-item">
									<a href="#" class="header__top-link" target="_blank">
										<i class="fab fa-facebook-square"></i>
									</a>
								</li>
								<li class="header__top-item">
									<a href="#" class="header__top-link" target="_blank">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
								<li class="header__top-item">
									<a href="#" class="header__top-link" target="_blank">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li class="header__top-item">
									<a href="#" class="header__top-link" target="_blank">
										<i class="fab fa-google-plus-square"></i>
									</a>
								</li>
							</ul> <!-- End .header__top-social -->
						</div>
						<div class="col-7 col-md-6 col-lg-7">
							<div class="header__top-info">
								<a href="mailto: info@example.com" class="header__top-info_link">
									<p class="header__top-info_text">E-mail:</p>
									<span class="header__top-info_subtext">info@example.com</span>
								</a>
								<a href="tel: +380999999999" class="header__top-info_link">
									<p class="header__top-info_text">Phone:</p>
									<span class="header__top-info_subtext">+38 000 99 99</span>
								</a>
							</div> <!-- End .header__top-info -->
						</div>
					</div>
				</div>
			</div>
		</div><!-- End .header__top-contacts -->
		<div class="container">
			<div class="row d-flex justify-content-center mb-lg-5">
				<div class="col-lg-7">
					<h3 class="header__top-title">amethyst</h3>
					<ul class="header__top-menu">
						<li class="header__top-menu_item">
							<a href="#about" class="header__top-menu_link">about</a>
						</li>
						<li class="header__top-menu_item">
							<a href="#works" class="header__top-menu_link">works</a>
						</li>
						<li class="header__top-menu_item">
							<a href="#features" class="header__top-menu_link">features</a>
						</li>
						<li class="header__top-menu_item">
							<a href="#team" class="header__top-menu_link">team</a>
						</li>
						<li class="header__top-menu_item">
							<a href="#prices" class="header__top-menu_link">prices</a>
						</li>
						<li class="header__top-menu_item">
							<a href="#blog" class="header__top-menu_link">blog</a>
						</li>
						<li class="header__top-menu_item">
							<a href="#contact" class="header__top-menu_link">contact</a>
						</li>
					</ul> <!-- End .header__top-menu -->
				</div>
			</div>
		</div>
	</div> <!-- End .header__top -->
	<div class="header__content">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-10">
					<div class="owl-carousel owl-theme">
						<div class="header__content-slider">
							<h1 class="header__content-slider_title">amethyst</h1>
							<h3 class="header__content-slider_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
							<p class="header__content-slider_text">Nam auctor arcu ut efficitur blandit. Ut posuere dolor nunc, vitae
								eleifend
								est ornare in. Suspendisse luctus scelerisque condimentum. Nam a dui non libero vestibulum convallis sit
								amet
								quis lectus. Nam interdum condimentum est, vel varius lorem tincidunt vel.</p>
							<a href="#" class="header__content-slider_btn">view more</a>
						</div> <!-- End .header__content-slider -->
						<div class="header__content-slider">
							<h1 class="header__content-slider_title">amethyst</h1>
							<h3 class="header__content-slider_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
							<p class="header__content-slider_text">Nam auctor arcu ut efficitur blandit. Ut posuere dolor nunc, vitae
								eleifend
								est ornare in. Suspendisse luctus scelerisque condimentum. Nam a dui non libero vestibulum convallis sit
								amet
								quis lectus. Nam interdum condimentum est, vel varius lorem tincidunt vel.</p>
							<a href="#" class="header__content-slider_btn">view more</a>
						</div> <!-- End .header__content-slider -->
						<div class="header__content-slider">
							<h1 class="header__content-slider_title">amethyst</h1>
							<h3 class="header__content-slider_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
							<p class="header__content-slider_text">Nam auctor arcu ut efficitur blandit. Ut posuere dolor nunc, vitae
								eleifend
								est ornare in. Suspendisse luctus scelerisque condimentum. Nam a dui non libero vestibulum convallis sit
								amet
								quis lectus. Nam interdum condimentum est, vel varius lorem tincidunt vel.</p>
							<a href="#" class="header__content-slider_btn">view more</a>
						</div> <!-- End .header__content-slider -->
					</div> <!-- End .owl-carousel -->
				</div>
			</div>
		</div>
	</div> <!-- End .header__content -->

</header> <!-- End .header -->