<header id="header" class="header">
	<div class="header__top">
		<div class="container-fluid header__top-contacts">
			<div class="row">
				<div class="container">
					<div class="row d-flex justify-content-between align-items-center">
						<div class="col-xl-2">
							<ul class="header__top-social">
								<li class="header__top-item">
									<a href="#" class="header__top-link" target="_blank">
										<i class="fab fa-facebook-square"></i>
									</a>
								</li>
								<li class="header__top-item">
									<a href="#" class="header__top-link" target="_blank">
										<i class="fab fa-linkedin-in"></i>
									</a>
								</li>
								<li class="header__top-item">
									<a href="#" class="header__top-link" target="_blank">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li class="header__top-item">
									<a href="#" class="header__top-link" target="_blank">
										<i class="fab fa-google-plus-square"></i>
									</a>
								</li>
							</ul> <!-- End .header__top-social -->
						</div>
						<div class="col-xl-6">
							<div class="header__top-info">
								<a href="mailto: info@example.com" class="header__top-info_link">
									<p class="header__top-info_text">E-mail:</p>
									<span class="header__top-info_subtext">info@example.com</span>
								</a>
								<a href="tel: +380999999999" class="header__top-info_link">
									<p class="header__top-info_text">Phone:</p>
									<span class="header__top-info_subtext">+38 000 99 99</span>
								</a>
							</div> <!-- End .header__top-info -->
						</div>
					</div>
				</div>
			</div>
		</div><!-- End .header__top-contacts -->
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-xl-7 text-center">
					<h3 class="header__top-title">amethyst</h3>
					<ul class="header__top-menu">
						<li class="header__top-menu_item">
							<a href="#" class="header__top-menu_link">about</a>
						</li>
						<li class="header__top-menu_item">
							<a href="#" class="header__top-menu_link">works</a>
						</li>
						<li class="header__top-menu_item">
							<a href="#" class="header__top-menu_link">features</a>
						</li>
						<li class="header__top-menu_item">
							<a href="#" class="header__top-menu_link">team</a>
						</li>
						<li class="header__top-menu_item">
							<a href="#" class="header__top-menu_link">prices</a>
						</li>
						<li class="header__top-menu_item">
							<a href="#" class="header__top-menu_link">blog</a>
						</li>
						<li class="header__top-menu_item">
							<a href="#" class="header__top-menu_link">contact</a>
						</li>
					</ul> <!-- End .header__top-menu -->
				</div>
			</div>
		</div>

	</div> <!-- End .header__top -->
</header> <!-- End .header -->