<section class="header">
	<div class="container">
		<div class="row d-flex justify-content-between mb-5">
			<div class="col-2">
				<ul class="header__social-menu">
					<li class="header__social-menu__item">
						<a href="#" class="header__social-menu__link" target="_blank">
							<i class="fab fa-facebook-square"></i>
						</a>
					</li>
					<li class="header__social-menu__item">
						<a href="#" class="header__social-menu__link" target="_blank">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</li>
					<li class="header__social-menu__item">
						<a href="#" class="header__social-menu__link" target="_blank">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li class="header__social-menu__item">
						<a href="#" class="header__social-menu__link" target="_blank">
							<i class="fab fa-google-plus-g"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-5 d-flex justify-content-end">
				<div class="header-email">
					<p class="header-email__text">E-mail:</p>
					<a href="#" class="header-email__email">info@example.com</a>
				</div>
				<div class="header-phone">
					<p class="header-phone__text">Phone:</p>
					<a href="#" class="header-phone__number">+00 123 456 78</a>
				</div>
			</div>
		</div> <!-- top-header -->
		<div class="row d-flex flex-column align-items-center mb-180">
			<div class="col-3 mb-4">
				<a href="#" class="header-logo">Amethyst</a>
			</div>
			<div class="col-8">
				<ul class="header-menu">
					<li class="header-menu__item">
						<a href="#" class="header-menu__link active">about</a>
					</li>
					<li class="header-menu__item">
						<a href="#" class="header-menu__link">works</a>
					</li>
					<li class="header-menu__item">
						<a href="#" class="header-menu__link">features</a>
					</li>
					<li class="header-menu__item">
						<a href="#" class="header-menu__link">team</a>
					</li>
					<li class="header-menu__item">
						<a href="#" class="header-menu__link">prices</a>
					</li>
					<li class="header-menu__item">
						<a href="#" class="header-menu__link">blog</a>
					</li>
					<li class="header-menu__item">
						<a href="#" class="header-menu__link">contact</a>
					</li>
				</ul>
			</div>
		</div> <!-- main-header -->
		<div class="row">
			<div class="col">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active" data-interval="4000">
							<div class="row d-flex justify-content-center">
								<div class="col-10">
									<div class="header-slider d-flex flex-column align-items-center">
										<h1 class="header-slider__title">Amethyst</h1>
										<span class="header-slider__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
										<p class="header-slider__text">Nam auctor arcu ut efficitur blandit. Ut posuere dolor nunc, vitae
											eleifend est ornare in. Suspendisse luctus scelerisque condimentum. Nam a dui non libero
											vestibulum convallis sit amet quis lectus. Nam interdum condimentum est, vel varius lorem
											tincidunt vel. </p>
										<button class="main__btn" type="submit">VIEW MORE</button>
									</div>
								</div>
							</div> <!-- slider-header -->
						</div>
						<div class="carousel-item" data-interval="4000">
							<div class="row d-flex justify-content-center">
								<div class="col-10">
									<div class="header-slider d-flex flex-column align-items-center">
										<h1 class="header-slider__title">Amethyst</h1>
										<span class="header-slider__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
										<p class="header-slider__text">Nam auctor arcu ut efficitur blandit. Ut posuere dolor nunc, vitae
											eleifend est ornare in. Suspendisse luctus scelerisque condimentum. Nam a dui non libero
											vestibulum convallis sit amet quis lectus. Nam interdum condimentum est, vel varius lorem
											tincidunt vel. </p>
										<button class="main__btn" type="submit">VIEW MORE</button>
									</div>
								</div>
							</div> <!-- slider-header -->
						</div>
						<div class="carousel-item" data-interval="4000">
							<div class="row d-flex justify-content-center">
								<div class="col-10">
									<div class="header-slider d-flex flex-column align-items-center">
										<h1 class="header-slider__title">Amethyst</h1>
										<span class="header-slider__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
										<p class="header-slider__text">Nam auctor arcu ut efficitur blandit. Ut posuere dolor nunc, vitae
											eleifend est ornare in. Suspendisse luctus scelerisque condimentum. Nam a dui non libero
											vestibulum convallis sit amet quis lectus. Nam interdum condimentum est, vel varius lorem
											tincidunt vel. </p>
										<button class="main__btn" type="submit">VIEW MORE</button>
									</div>
								</div>
							</div> <!-- slider-header -->
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>