<section id="team" class="our-team">
	<div class="container">
		<div class="row mb-4">
			<div class="col-12 text-center">
				<h3 class="main__title">Our Team</h3>
				<h4 class="main__subtitle mb-0">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
				<div class="our-team__card">
					<div class="img-wrapper">
						<img src="./img/author_1.png" alt="Author" class="our-team__card-img">
					</div>
					<h3 class="our-team__card-name">richard jones</h3>
					<span class="our-team__card-position">android developer</span>
					<p class="our-team__card-desc text-center">Vivamus porta et nunc vitae lacinia. Nam sed fermentum metus.
						Maecenas ut
						tortor mi. Maecenas pellentesque ex in bibendum euismod.</p>
					<ul class="our-team__card-social">
						<li class="our-team__card-item">
							<a href="#" class="our-team__card-link" target="_blank">
								<i class="fab fa-facebook-square"></i>
							</a>
						</li>
						<li class="our-team__card-item">
							<a href="#" class="our-team__card-link" target="_blank">
								<i class="fab fa-linkedin"></i>
							</a>
						</li>
						<li class="our-team__card-item">
							<a href="#" class="our-team__card-link" target="_blank">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li class="our-team__card-item">
							<a href="#" class="our-team__card-link" target="_blank">
								<i class="fas fa-envelope"></i>
							</a>
						</li>
					</ul> <!-- End .our-team__card-social -->
				</div> <!-- End .our-team__card -->
			</div>
			<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
				<div class="our-team__card">
					<div class="img-wrapper">
						<img src="./img/author_2.png" alt="Author" class="our-team__card-img">
					</div>
					<h3 class="our-team__card-name">megan turner</h3>
					<span class="our-team__card-position">print designer</span>
					<p class="our-team__card-desc text-center">Vivamus porta et nunc vitae lacinia. Nam sed fermentum metus.
						Maecenas ut
						tortor mi. Maecenas pellentesque ex in bibendum euismod.</p>
					<ul class="our-team__card-social">
						<li class="our-team__card-item">
							<a href="#" class="our-team__card-link" target="_blank">
								<i class="fab fa-facebook-square"></i>
							</a>
						</li>
						<li class="our-team__card-item">
							<a href="#" class="our-team__card-link" target="_blank">
								<i class="fab fa-linkedin"></i>
							</a>
						</li>
						<li class="our-team__card-item">
							<a href="#" class="our-team__card-link" target="_blank">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li class="our-team__card-item">
							<a href="#" class="our-team__card-link" target="_blank">
								<i class="fas fa-envelope"></i>
							</a>
						</li>
					</ul> <!-- End .our-team__card-social -->
				</div> <!-- End .our-team__card -->
			</div>
			<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
				<div class="our-team__card">
					<div class="img-wrapper">
						<img src="./img/author_3.png" alt="Author" class="our-team__card-img">
					</div>
					<h3 class="our-team__card-name">victor green</h3>
					<span class="our-team__card-position">IT programmer</span>
					<p class="our-team__card-desc text-center">Vivamus porta et nunc vitae lacinia. Nam sed fermentum metus.
						Maecenas ut
						tortor mi. Maecenas pellentesque ex in bibendum euismod.</p>
					<ul class="our-team__card-social">
						<li class="our-team__card-item">
							<a href="#" class="our-team__card-link" target="_blank">
								<i class="fab fa-facebook-square"></i>
							</a>
						</li>
						<li class="our-team__card-item">
							<a href="#" class="our-team__card-link" target="_blank">
								<i class="fab fa-linkedin"></i>
							</a>
						</li>
						<li class="our-team__card-item">
							<a href="#" class="our-team__card-link" target="_blank">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li class="our-team__card-item">
							<a href="#" class="our-team__card-link" target="_blank">
								<i class="fas fa-envelope"></i>
							</a>
						</li>
					</ul> <!-- End .our-team__card-social -->
				</div> <!-- End .our-team__card -->
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="our-team__card">
					<div class="img-wrapper">
						<img src="./img/author_4.png" alt="Author" class="our-team__card-img">
					</div>
					<h3 class="our-team__card-name">amy watkins</h3>
					<span class="our-team__card-position">digital marketing specialist</span>
					<p class="our-team__card-desc text-center">Vivamus porta et nunc vitae lacinia. Nam sed fermentum metus.
						Maecenas ut
						tortor mi. Maecenas pellentesque ex in bibendum euismod.</p>
					<ul class="our-team__card-social">
						<li class="our-team__card-item">
							<a href="#" class="our-team__card-link" target="_blank">
								<i class="fab fa-facebook-square"></i>
							</a>
						</li>
						<li class="our-team__card-item">
							<a href="#" class="our-team__card-link" target="_blank">
								<i class="fab fa-linkedin"></i>
							</a>
						</li>
						<li class="our-team__card-item">
							<a href="#" class="our-team__card-link" target="_blank">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li class="our-team__card-item">
							<a href="#" class="our-team__card-link" target="_blank">
								<i class="fas fa-envelope"></i>
							</a>
						</li>
					</ul> <!-- End .our-team__card-social -->
				</div> <!-- End .our-team__card -->
			</div>
		</div>
	</div>
</section> <!-- End .our-team -->