<section class="services">
	<div class="container">
		<div class="row d-flex justify-content-center mb-4">
			<div class="col-6 d-flex flex-column align-items-center">
				<h2 class="main-title">Our Services</h2>
				<p class="main-text">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit</p>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<div class="services__content">
					<p class="services__text mb-2">Etiam tristique lacus pulvinar viverra bibendum. Nullam egestas felis nec nunc
						lacinia, in viverra ipsum gravida. Proin et ullamcorper augue. Nam ultricies vulputate nisl nec dictum.
						Quisque vel rutrum nulla, ut dictum
					</p>
					<p class="services__text mb-3">Etiam tristique lacus pulvinar viverra bibendum. Nullam egestas felis nec nunc
						lacinia, in viverra ipsum gravida.
					</p>
					<p class="services__text">Etiam tristique lacus pulvinar viverra bibendum. Nullam egestas felis nec nunc
						lacinia, in viverra ipsum gravida.
					</p>
				</div>
			</div>
			<div class="col-6">
				<div class="row mb-5">
					<div class="col-6 pt-3">
						<div class="services-wrap">
							<div class="services__icon active">
								<i class="fas fa-desktop"></i>
							</div>
							<p class="services__subtext active">Web Design</p>
						</div>
					</div>
					<div class="col-6 pt-3">
						<div class="services-wrap">
							<div class="services__icon">
								<i class="fas fa-paint-brush"></i>
							</div>
							<p class="services__subtext">Graphic Design</p>
						</div>
					</div>
				</div>
				<div class="row mb-5">
					<div class="col-6 pt-3">
						<div class="services-wrap">
							<div class="services__icon">
								<i class="fas fa-heart"></i>
							</div>
							<p class="services__subtext">Branding</p>
						</div>
					</div>
					<div class="col-6 pt-3">
						<div class="services-wrap">
							<div class="services__icon">
								<i class="fas fa-bomb"></i>
							</div>
							<p class="services__subtext">Marketing</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-6 pt-3">
						<div class="services-wrap">
							<div class="services__icon">
								<i class="fas fa-laptop"></i>
							</div>
							<p class="services__subtext">Development Design</p>
						</div>
					</div>
					<div class="col-6 pt-3">
						<div class="services-wrap">
							<div class="services__icon">
								<i class="fas fa-chart-line"></i>
							</div>
							<p class="services__subtext">SEO</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>