<section class="services">
	<div class="container services__top">
		<div class="row">
			<div class="col-12 text-center">
				<h3 class="main__title">About us</h3>
				<h4 class="main__subtitle">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor</h4>
			</div>
		</div>
	</div> <!-- End .services__top -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 services__left">

				<div class="owl-carousel owl-theme services__owl-carousel">
					<div class="services__inner">
						<p class="services__inner-text">Etiam tristique lacus pulvinar viverra bibendum. Nullam egestas felis nec
							nunc
							lacinia, in viverra ipsum gravida. Proin et ullamcorper augue. Nam ultricies vulputate nisl nec dictum.
							Quisque vel rutrum nulla, ut dictum tortor. Praesent ultrices enim at mauris commodo, vel vestibulum ipsum
							gravida. Aliquam venenatis in lacus eu fringilla. </p>
						<p class="services__inner-text">Mauris pretium varius eros, sit amet lobortis dolor sodales sit amet.
							Quisque
							id finibus dolor, vitae faucibus velit. In hac habitasse platea dictumst.</p>
						<p class="services__inner-text"> Integer ut interdum leo. Sed justo libero, dapibus ac dictum nec, finibus
							eget lacus. Morbi commodo neque felis, eget mattis quam tristique in.
						</p>
					</div> <!-- End .services__inner -->
					<div class="services__inner">
							<p class="services__inner-text">Etiam tristique lacus pulvinar viverra bibendum. Nullam egestas felis nec
								nunc
								lacinia, in viverra ipsum gravida. Proin et ullamcorper augue. Nam ultricies vulputate nisl nec dictum.
								Quisque vel rutrum nulla, ut dictum tortor. Praesent ultrices enim at mauris commodo, vel vestibulum ipsum
								gravida. Aliquam venenatis in lacus eu fringilla. </p>
							<p class="services__inner-text">Mauris pretium varius eros, sit amet lobortis dolor sodales sit amet.
								Quisque
								id finibus dolor, vitae faucibus velit. In hac habitasse platea dictumst.</p>
							<p class="services__inner-text"> Integer ut interdum leo. Sed justo libero, dapibus ac dictum nec, finibus
								eget lacus. Morbi commodo neque felis, eget mattis quam tristique in.
							</p>
						</div> <!-- End .services__inner -->
						<div class="services__inner">
								<p class="services__inner-text">Etiam tristique lacus pulvinar viverra bibendum. Nullam egestas felis nec
									nunc
									lacinia, in viverra ipsum gravida. Proin et ullamcorper augue. Nam ultricies vulputate nisl nec dictum.
									Quisque vel rutrum nulla, ut dictum tortor. Praesent ultrices enim at mauris commodo, vel vestibulum ipsum
									gravida. Aliquam venenatis in lacus eu fringilla. </p>
								<p class="services__inner-text">Mauris pretium varius eros, sit amet lobortis dolor sodales sit amet.
									Quisque
									id finibus dolor, vitae faucibus velit. In hac habitasse platea dictumst.</p>
								<p class="services__inner-text"> Integer ut interdum leo. Sed justo libero, dapibus ac dictum nec, finibus
									eget lacus. Morbi commodo neque felis, eget mattis quam tristique in.
								</p>
							</div> <!-- End .services__inner -->
				</div> <!-- End .services__owl-carousel -->

			</div> <!-- End .services__left -->
			<div class="col-lg-6 py-4 py-md-5">
				<div class="row">
					<div class="col-md-6 services__card">
						<a href="#" class="services__card-link active">
							<i class="fas fa-desktop services__card-icon"></i>
							<h3 class="services__card-title">web design</h3>
						</a>
					</div> <!-- End .services__card -->
					<div class="col-md-6 services__card">
						<a href="#" class="services__card-link">
							<i class="fas fa-paint-brush services__card-icon"></i>
							<h3 class="services__card-title">graphic design</h3>
						</a>
					</div> <!-- End .services__card -->
					<div class="col-md-6 services__card">
						<a href="#" class="services__card-link">
							<i class="fas fa-heart services__card-icon"></i>
							<h3 class="services__card-title">branding</h3>
						</a>
					</div> <!-- End .services__card -->
					<div class="col-md-6 services__card">
						<a href="#" class="services__card-link">
							<i class="fas fa-bomb services__card-icon"></i>
							<h3 class="services__card-title">marketing</h3>
						</a>
					</div> <!-- End .services__card -->
					<div class="col-md-6 services__card">
						<a href="#" class="services__card-link">
							<i class="fas fa-laptop services__card-icon"></i>
							<h3 class="services__card-title">development</h3>
						</a>
					</div> <!-- End .services__card -->
					<div class="col-md-6 services__card">
						<a href="#" class="services__card-link">
							<i class="fas fa-chart-line services__card-icon"></i>
							<h3 class="services__card-title">SEO</h3>
						</a>
					</div> <!-- End .services__card -->
				</div>
			</div>
		</div>
	</div>
</section> <!-- End .services -->