<section class="skills">
	<div class="container">
		<div class="row mb-4">
			<div class="col-12 text-center">
				<h3 class="main__title">Our Skills</h3>
				<h4 class="main__subtitle mb-0">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 mb-4 mb-lg-0">
				<div class="skills__content">
					<p class="skills__content-text">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
						inceptos himenaeos. Vestibulum nec efficitur diam. Morbi viverra felis quis urna ultricies gravida. Vivamus
						id dapibus leo. </p>
					<p class="skills__content-text">Cras molestie rutrum magna quis hendrerit. Suspendisse sed odio rhoncus,
						accumsan elit in, elementum risus. Nam eu vulputate tortor. Aliquam facilisis sem eget ex dictum, id
						elementum sem efficitur</p>
					<p class="skills__content-text">Vivamus eget turpis vestibulum, blandit nisi in, rhoncus magna. In ac
						condimentum elit, sit amet gravida sapien. </p>
					<p class="skills__content-text">Vestibulum sed enim sodales diam cursus malesuada. Morbi at laoreet nunc.
						Mauris ornare arcu sit amet lorem sagittis, non tempor ante venenatis. Suspendisse posuere maximus neque, a
						tincidunt urna tempor id.</p>
				</div>
			</div>
			<div class="col-lg-6">
				<h3 class="skills__title">lorem ipsum</h3>
				<div id="bar1" class="barfiller">
					<div class="tipWrap">
						<span class="tip">lorem ipsum</span>
					</div>
					<span class="fill" data-percentage="80"></span>
				</div>
				<h3 class="skills__title">lorem ipsum</h3>
				<div id="bar2" class="barfiller">
					<div class="tipWrap">
						<span class="tip">lorem ipsum</span>
					</div>
					<span class="fill" data-percentage="97"></span>
				</div>
				<h3 class="skills__title">lorem ipsum</h3>
				<div id="bar3" class="barfiller">
					<div class="tipWrap">
						<span class="tip">lorem ipsum</span>
					</div>
					<span class="fill" data-percentage="65"></span>
				</div>
				<h3 class="skills__title">lorem ipsum</h3>
				<div id="bar4" class="barfiller">
					<div class="tipWrap">
						<span class="tip">lorem ipsum</span>
					</div>
					<span class="fill" data-percentage="72"></span>
				</div>

			</div>
		</div>
	</div>
</section> <!-- End .skills -->