<section class="testimonials">
	<div class="container">
		<div class="row d-flex justify-content-center mb-5">
			<div class="col-6 d-flex flex-column align-items-center mb-5">
				<h2 class="main-title">Testimonials</h2>
				<p class="main-text">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit</p>
			</div>
			<div class="col-12">
				<p class="testimonials__text">Fusce libero enim, iaculis ac auctor et, sollicitudin non lacus. Pellentesque
					turpis
					lacus, aliquet in ornare at, laoreet vel quam. Aliquam tempor nibh a nisi cursus varius. Pellentesque non
					blandit dui. Cras a pellentesque libero, vel ornare mi. Nulla imperdiet dui sit amet vulputate tempor. Cras
					non ligula turpis. Quisque neque felis, facilisis ut metus eget, volutpat porttitor sapien. Curabitur quis
					elit eget nibh fringilla tincidunt</p>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			<div class="col-4 d-flex align-items-center mb-5">
				<div class="img-wrapper">
					<img src="img/jpg/photo-2.jpg" alt="photo" class="testimonials__photo">
				</div>
				<div class="testimonials__content">
					<h3 class="testimonials__content-title">Jake Peterson</h3>
					<p class="testimonials__content-text">Product Designer</p>
				</div>
			</div>
			<div class="col-12">
				<div class="testimonials__company">
					<a class="testimonials__link" href="#">
						<img src="img/png/logo_1.png" alt="logo">
					</a>
					<a class="testimonials__link" href="#">
						<img src="img/png/logo_2.png" alt="logo">
					</a>
					<a class="testimonials__link" href="#">
						<img src="img/png/logo_3.png" alt="logo">
					</a>
					<a class="testimonials__link" href="#">
						<img src="img/png/logo_4.png" alt="logo">
					</a>
					<a class="testimonials__link" href="#">
						<img src="img/png/logo_5.png" alt="logo">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>