<section class="testimonials">
	<div class="container">
		<div class="row mb-5">
			<div class="col-12 text-center">
				<h3 class="main__title">Testimonials</h3>
				<h4 class="main__subtitle">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit auctor
				</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="owl-carousel owl-theme testimonials-carousel ">
					<div class="testimonials__wrapper">
						<blockquote class="testimonials__blockquote">Fusce libero enim, iaculis ac auctor et, sollicitudin non
							lacus.
							Pellentesque turpis lacus, aliquet in ornare at, laoreet vel quam. Aliquam tempor nibh a nisi cursus
							varius.
							Pellentesque non blandit dui. Cras a pellentesque libero, vel ornare mi. Nulla imperdiet dui sit amet
							vulputate tempor. Cras non ligula turpis. Quisque neque felis, facilisis ut metus eget, volutpat porttitor
							sapien. Curabitur quis elit eget nibh fringilla tincidunt</blockquote>
						<div class="testimonials__inner">
							<div class="img-wrapper">
								<img src="" alt="AuthorIcon" class="testimonials__wrapper-author">
							</div>
							<div class="testimonials__content">
								<h3 class="testimonials__content-author">jake peterson</h3>
								<p class="testimonials__content-prof">product designer</p>
							</div> <!-- End .testimonials__content -->
						</div> <!-- End .testimonials__inner -->
					</div> <!-- End .testimonials__wrapper -->
					<div class="testimonials__wrapper">
						<blockquote class="testimonials__blockquote">Fusce libero enim, iaculis ac auctor et, sollicitudin non
							lacus.
							Pellentesque turpis lacus, aliquet in ornare at, laoreet vel quam. Aliquam tempor nibh a nisi cursus
							varius.
							Pellentesque non blandit dui. Cras a pellentesque libero, vel ornare mi. Nulla imperdiet dui sit amet
							vulputate tempor. Cras non ligula turpis. Quisque neque felis, facilisis ut metus eget, volutpat porttitor
							sapien. Curabitur quis elit eget nibh fringilla tincidunt</blockquote>
						<div class="testimonials__inner">
							<div class="img-wrapper">
								<img src="" alt="AuthorIcon" class="testimonials__wrapper-author">
							</div>
							<div class="testimonials__content">
								<h3 class="testimonials__content-author">jake peterson</h3>
								<p class="testimonials__content-prof">product designer</p>
							</div> <!-- End .testimonials__content -->
						</div> <!-- End .testimonials__inner -->
					</div> <!-- End .testimonials__wrapper -->

					<div class="testimonials__wrapper">
						<blockquote class="testimonials__blockquote">Fusce libero enim, iaculis ac auctor et, sollicitudin non
							lacus.
							Pellentesque turpis lacus, aliquet in ornare at, laoreet vel quam. Aliquam tempor nibh a nisi cursus
							varius.
							Pellentesque non blandit dui. Cras a pellentesque libero, vel ornare mi. Nulla imperdiet dui sit amet
							vulputate tempor. Cras non ligula turpis. Quisque neque felis, facilisis ut metus eget, volutpat porttitor
							sapien. Curabitur quis elit eget nibh fringilla tincidunt</blockquote>
						<div class="testimonials__inner">
							<div class="img-wrapper">
								<img src="" alt="AuthorIcon" class="testimonials__wrapper-author">
							</div>
							<div class="testimonials__content">
								<h3 class="testimonials__content-author">jake peterson</h3>
								<p class="testimonials__content-prof">product designer</p>
							</div> <!-- End .testimonials__content -->
						</div> <!-- End .testimonials__inner -->
					</div> <!-- End .testimonials__wrapper -->
				</div> <!-- End .testimonials-carousel -->
			</div>
		</div>
	</div>
</section> <!-- End .testimonials -->