<section class="works">
	<div class="container">
		<div class="row d-flex justify-content-center mb-4">
			<div class="col-6 d-flex flex-column align-items-center">
				<h2 class="main-title">Works</h2>
				<p class="main-text">Aliquam dapibus massa diam, eu porta ipsum mollis vel. Etiam blandit</p>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			<div class="col-4 d-flex justify-content-center mb-4">
				<ul class="works__menu">
					<li class="works__item">
						<a href="#" class="works__link active">all</a>
					</li>
					<li class="works__item">
						<a href="#" class="works__link">design</a>
					</li>
					<li class="works__item">
						<a href="#" class="works__link">urban</a>
					</li>
					<li class="works__item">
						<a href="#" class="works__link">posters</a>
					</li>
				</ul>
			</div>
			<div class="col-12">
				<div class="row mb-1">
					<div class="col-4">
						<div class="img-wrapper">
							<img src="img/jpg/arkhitektura.jpg" alt="works" class="works__img">
							<div class="works__content">
								<h3 class="works__title">Lorem Ipsum</h3>
								<p class="works__text">Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus
									magna eros sed ligula. In feugiat id odio ac feugiat. </p>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="img-wrapper">
							<img src="img/jpg/doroga.jpg" alt="works" class="works__img">
							<div class="works__content">
								<h3 class="works__title">Lorem Ipsum</h3>
								<p class="works__text">Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus
									magna eros sed ligula. In feugiat id odio ac feugiat. </p>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="img-wrapper">
							<img src="img/jpg/doroga-most.jpg" alt="works" class="works__img">
							<div class="works__content">
								<h3 class="works__title">Lorem Ipsum</h3>
								<p class="works__text">Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus
									magna eros sed ligula. In feugiat id odio ac feugiat. </p>
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-1">
					<div class="col-4">
						<div class="img-wrapper">
							<img src="img/jpg/groza.jpg" alt="works" class="works__img">
							<div class="works__content">
								<h3 class="works__title">Lorem Ipsum</h3>
								<p class="works__text">Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus
									magna eros sed ligula. In feugiat id odio ac feugiat. </p>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="img-wrapper">
							<img src="img/jpg/ostanovka.jpg" alt="works" class="works__img">
							<div class="works__content">
								<h3 class="works__title">Lorem Ipsum</h3>
								<p class="works__text">Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus
									magna eros sed ligula. In feugiat id odio ac feugiat. </p>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="img-wrapper">
							<img src="img/jpg/kosmos.jpg" alt="works" class="works__img">
							<div class="works__content">
								<h3 class="works__title">Lorem Ipsum</h3>
								<p class="works__text">Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus
									magna eros sed ligula. In feugiat id odio ac feugiat. </p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="img-wrapper">
							<img src="img/jpg/vselennaya.jpg" alt="works" class="works__img">
							<div class="works__content">
								<h3 class="works__title">Lorem Ipsum</h3>
								<p class="works__text">Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus
									magna eros sed ligula. In feugiat id odio ac feugiat. </p>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="img-wrapper">
							<img src="img/jpg/ekzoplaneta.jpg" alt="works" class="works__img">
							<div class="works__content">
								<h3 class="works__title">Lorem Ipsum</h3>
								<p class="works__text">Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus
									magna eros sed ligula. In feugiat id odio ac feugiat. </p>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="img-wrapper">
							<img src="img/jpg/planeta.jpg" alt="works" class="works__img">
							<div class="works__content">
								<h3 class="works__title">Lorem Ipsum</h3>
								<p class="works__text">Morbi commodo, nisl id euismod commodo, mauris felis aliquam erat, id dapibus
									magna eros sed ligula. In feugiat id odio ac feugiat. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>