/* --- all --- */

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background-color: #ECF0F1;
	font-family: Arial, sans-serif;
	font-size: 20px;
}
a {
	text-decoration: none;
	color: #c2c2c2;
}
input{
	outline: none;
}

input::-webkit-search-cancel-button,
input::-webkit-search-results-button { display: none; }

/* --- main --- */

.main {
	padding-top: 40px;
	max-width: 960px;
	margin: 0 auto;
}

/* --- form --- */

.main_form {
	margin: 0 auto;
	position: relative;
}

.main_input {
	width: 100%;
	font-size: 90px;
	font-weight: 700;
	background-color: transparent;
	border: none;
	color: #ec5a62;
}

input::-webkit-input-placeholder {
	color: #c2c2c2;
}

.main_button {
	position: absolute;
	width: 80px;
	height: 80px;
	top: 0;
	right: 0;
	text-indent: 80px;
	overflow: hidden;
	background-image: url("../images/magnifier.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	background-size: 100%;
	transform-origin: 100% 50%;
	transform: translate3d(0,0,0) scale(1);
	transition: transform 0.3s;
	border: none;
	
}

.main_button:hover {
	transform: translate3d(0,0,0) scale(1.1);
}

/* --- main_content --- */

/* --- main_column --- */

.main_column {
	display: inline-block;
	width: 30%;
	margin-top: 30px;
	padding-bottom: 100px;
}

.main_column:nth-child(2n) {
	margin: 0 4%;
}

.main_column__title {
	color: #c2c2c2; 
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.main_list {
	margin-top: 20px;
}

.main_item a {
	margin: 5px 0;
	background-color: rgba(118,117,128,0.05);
	color: rgba(145,145,145,0.7);
	padding: 13px;
	font-size: 15px;
	font-weight: 600;
	border-radius: 5px;
}

.main_item a:hover {
	background-color:  rgba(118,117,128,0.1);
	color: #ec5a62;
}

.main_link {
	display: flex;
	align-items: center;
}

.main_link h3 {
	margin-left: 13px;
}

.main_circle {
	border-radius: 50px;
}