<footer class="footer">
	<div class="container">
		<div class="row d-flex justify-content-center mb-5">
			<div class="col-xl-8">
				<div class="row d-flex justify-content-between">
					<div class="col-xl-5">
						<a href="#" class="footer__logo">
							<img src="../img/logo.png" alt="FooterLogo">
						</a>
					</div>
					<div class="col-xl-3 d-flex justify-content-between">
						<a href="#" class="footer__social" target="_blank">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="#" class="footer__social" target="_blank">
							<i class="fab fa-twitter"></i>
						</a>
						<a href="#" class="footer__social" target="_blank">
							<i class="fab fa-instagram"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-5 offset-xl-2 d-flex">
				<p class="footer__copy">
						Copyrights © 2017 Monticello Group
				</p>
				<span class="footer__design">
						Made with <i class="fas fa-heart"></i> by Ga Huy
				</span>
			</div>
		</div>
	</div>
</footer>