<section class="gallery">
	<div class="container">
		<div class="row d-flex justify-content-lg-center mb-5">
			<div class="col-lg-4">
				<h2 class="gallery__title">gallery</h2>
			</div>
		</div>
		<div class="row mb-5">
			<div class="col-lg-6">
				<div class="img-wrapper">
					<img src="img/gallery-item1.jpg" alt="ItemGallery" class="gallery__img">
				</div>
			</div>
			<div class="col-lg-6 d-flex flex-wrap">
				<div class="gallery__img-wrapper mb-2 mr-2">
					<img src="img/gallery-item2.jpg" alt="ItemGallery" class="gallery__img">
				</div>
				<div class="gallery__img-wrapper mb-2">
					<img src="img/gallery-item3.jpg" alt="ItemGallery" class="gallery__img">
				</div>
				<div class="gallery__img-wrapper mr-2">
					<img src="img/gallery-item4.jpg" alt="ItemGallery" class="gallery__img">
				</div>
				<div class="gallery__img-wrapper">
					<img src="img/gallery-item5.jpg" alt="ItemGallery" class="gallery__img">
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-lg-center">
			<div class="col-lg-2">
				<button type="submit" class="gallery__btn">see more</button>
			</div>
		</div>
	</div>
</section>