<section class="map">
	<div id="map"></div>
	<div class="container">
		<div class="row d-flex justify-content-lg-center">
			<div class="col-lg-8 shadow">
				<h2 class="map__title">get in touch</h2>
				<div class="row">
					<div class="col-lg-6">
						<div class="map__info d-flex flex-column">
							<a href="#" class="map__contacts address"><i class="fas fa-map-marker-alt map__icon"></i>91 Nolan Extensions Suite
								670</a>
							<a href="#" class="map__contacts phone"><i class="fas fa-phone map__icon"></i>+001 356-868-2454</a>
							<a href="#" class="map__contacts email"><i class="fas fa-inbox map__icon"></i>gahuy93@gmail.com</a>
							<a href="#" class="map__contacts time"><i class="far fa-clock map__icon"></i>From 07:05AM to 19:30PM</a>
						</div>
					</div>
					<div class="col-lg-6">
						<form action="#" class="map__form">
							<input type="text" class="map__form-name all-form mb-3" placeholder="Full name" required>
							<input type="email" class="map__form-email all-form mb-4" placeholder="Email" required>
							<div class="map-btn">
								<button type="submit" class="map__form-btn" submit>submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>