<section class="news">
	<div class="container">
		<div class="row d-flex justify-content-lg-center mb-5">
			<div class="col-lg-4">
				<h2 class="news__title">latest news</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="news__slider">
					<div class="img-wrapper__slider mb-3">
						<img src="img/news-item1.jpg" alt="NewsImages" class="news__img">
					</div>
					<div class="news__slider-content">
						<h3 class="news__slider-title">See The Unmatched Beauty Of The Great.</h3>
						<p class="news__slider-text">Free directories: directories are perfect for customers that are...</p>
					</div>
					<div class="news__slider-wrap">
						<div class="img-wrapper__author">
							<img src="img/news-photo1.png" alt="NewsPhoto">
						</div>
						<div class="news__slider-content">
							<p class="news__slider-name">saac dunn</p>
							<a href="#" class="news__slider-date">09 Feb 2017</a>
						</div>
					</div>
				</div>
			</div> <!-- news__slider -->
			<div class="col-lg-4">
				<div class="news__slider">
					<div class="img-wrapper__slider mb-3">
						<img src="img/news-item2.jpg" alt="NewsImages" class="news__img">
					</div>
					<div class="news__slider-content">
						<h3 class="news__slider-title">See The Unmatched Beauty Of The Great.</h3>
						<p class="news__slider-text">Free directories: directories are perfect for customers that are...</p>
					</div>
					<div class="news__slider-wrap">
						<div class="img-wrapper__author">
							<img src="img/news-photo2.png" alt="NewsPhoto">
						</div>
						<div class="news__slider-content">
							<p class="news__slider-name">dominic freeman</p>
							<a href="#" class="news__slider-date">24 Apr 2017</a>
						</div>
					</div>
				</div>
			</div> <!-- news__slider -->
			<div class="col-lg-4">
				<div class="news__slider">
					<div class="img-wrapper__slider mb-3">
						<img src="img/news-item3.jpg" alt="NewsImages" class="news__img">
					</div>
					<div class="news__slider-content">
						<h3 class="news__slider-title">See The Unmatched Beauty Of The Great.</h3>
						<p class="news__slider-text">Free directories: directories are perfect for customers that are...</p>
					</div>
					<div class="news__slider-wrap">
						<div class="img-wrapper__author">
							<img src="img/news-photo3.png" alt="NewsPhoto">
						</div>
						<div class="news__slider-content">
							<p class="news__slider-name">alice ward</p>
							<a href="#" class="news__slider-date">30 Dec 2017</a>
						</div>
					</div>
				</div>
			</div> <!-- news__slider -->
		</div>
	</div>
</section>