<section class="wwd">
	<div class="container">
		<div class="row d-flex justify-content-lg-center mb-5">
			<div class="col-lg-4">
				<h2 class="wwd__title">what we do</h2>
			</div>
		</div>
		<div class="row pt-5 mb-5">
			<div class="col-lg-7">
				<div class="img-wrapper">
					<img src="img/wwd-item.jpg" alt="Images" class="wwd__img">
				</div>
			</div>
			<div class="col-lg-5">
				<div class="wwd__content">
					<span class="wwd__content-subtitle">one world</span>
					<h2 class="wwd__content-title">trade center</h2>
					<p class="wwd__content-text">Increasing prosperity in our lives can be accomplished by having the right frame
						of mind. The truth is, our thoughts are very powerful.

						They are capable of influencing every aspect of our daily lives, from our physical health to our social
						behaviors. I’m sure you’ve heard the adage, “As you think, so shall you be.”

						If we want to improve our lives, we must first improve our thoughts. Harnessing the power of thought in a
						positive way has the ability to create great change in our lives, including our financial well-being and
						prosperity. But how? How do we take something as intangible as thoughts, and manifest them into a physical
						reality?

						We must first understand that being prosperous is more than having a lot of money. Prosperity is a mindset,
						a way of interacting in our lives, and a way of thinking. Mastering this train of thought is not easy, but
						it is simple enough if we keep working on it consistently.

						Following are some ideas to help you improve your thoughts, and ultimately attract more prosperity into your
						life:

						Be grateful for the blessings in your life right now. Take a few minutes each day to express heartfelt
						gratitude for the good things in your life. Even more powerful, write a few of these blessings down each
						day. This helps to put your focus in the right direction — on abundance, not lack.

						Use positive affirmations to begin training yourself to think positively. Use “I am” statements such as “I
						am worthy of all that is good.” Write the statements down and repeat them nightly before bed. Over time,
						this will implant these thoughts into your subconscious mind, and you will begin to naturally believe them.

						Creative visualization can help you achieve prosperity by determining what it is you wish to achieve, and
						then thoroughly creating that image in your mind. This works in the same way affirmations do. Our
						subconscious will fill with images of prosperity, and eventually these subconscious “truths” will manifest
						in the physical. “See” yourself as being prosperous, and you will become so.

						Encourage yourself with the belief that you can achieve great things. This could also be one of your
						affirmations, but expand on it. If you know you can earn a certain salary, tell yourself you can earn more.
						Allow yourself to believe all things are possible, and you will gain the confidence needed to reach higher
						than you ever imagined you could. If you believe you can do it, you are more likely to take the risks
						associated with people who are highly successful. Prosperity and success go hand in hand, so take risks and
						aim higher.

						Start a savings account. As strange as it sounds, think about this: Like Attracts Like. Even if you can only
						afford to put a few dollars into your account every month, it will begin to build up and attract more money.

						Finally, believe you are already wealthy. The creative ability of our thoughts is such that we lend more
						power and energy to whatever we consistently focus on. Focusing on lack will create more lack. Focusing on
						wealth and prosperity will create . . . guess what?

						Remember that this is a process. You likely won’t change your circumstances in one day. But over time, with
						consistent focus, your thoughts will begin to attract what you want. Once you master this power of thought,
						there are truly no limits to what you can create!</p>
					<button type="submit" class="wwd__content-btn">more details</button>
					<a href="#" class="wwd__content-adress" target="_blank">
						<i class="fas fa-map-marker-alt wwd__adress"></i>New York City, United States - 1776 feet
					</a>
				</div>
			</div>
		</div>
		<div class="row pt-5">
			<div class="col-lg-5">
				<div class="wwd__content">
					<span class="wwd__content-subtitle">international</span>
					<h2 class="wwd__content-title">commerce centre</h2>
					<p class="wwd__content-text">Successful businesses have many things in common, today we’ll look at the big ‘R’ of recognition and how a digital advertising network may help.

						They are capable of influencing every aspect of our daily lives, from our physical health to our social
						behaviors. I’m sure you’ve heard the adage, “As you think, so shall you be.”

						If we want to improve our lives, we must first improve our thoughts. Harnessing the power of thought in a
						positive way has the ability to create great change in our lives, including our financial well-being and
						prosperity. But how? How do we take something as intangible as thoughts, and manifest them into a physical
						reality?

						We must first understand that being prosperous is more than having a lot of money. Prosperity is a mindset,
						a way of interacting in our lives, and a way of thinking. Mastering this train of thought is not easy, but
						it is simple enough if we keep working on it consistently.

						Following are some ideas to help you improve your thoughts, and ultimately attract more prosperity into your
						life:

						Be grateful for the blessings in your life right now. Take a few minutes each day to express heartfelt
						gratitude for the good things in your life. Even more powerful, write a few of these blessings down each
						day. This helps to put your focus in the right direction — on abundance, not lack.

						Use positive affirmations to begin training yourself to think positively. Use “I am” statements such as “I
						am worthy of all that is good.” Write the statements down and repeat them nightly before bed. Over time,
						this will implant these thoughts into your subconscious mind, and you will begin to naturally believe them.

						Creative visualization can help you achieve prosperity by determining what it is you wish to achieve, and
						then thoroughly creating that image in your mind. This works in the same way affirmations do. Our
						subconscious will fill with images of prosperity, and eventually these subconscious “truths” will manifest
						in the physical. “See” yourself as being prosperous, and you will become so.

						Encourage yourself with the belief that you can achieve great things. This could also be one of your
						affirmations, but expand on it. If you know you can earn a certain salary, tell yourself you can earn more.
						Allow yourself to believe all things are possible, and you will gain the confidence needed to reach higher
						than you ever imagined you could. If you believe you can do it, you are more likely to take the risks
						associated with people who are highly successful. Prosperity and success go hand in hand, so take risks and
						aim higher.

						Start a savings account. As strange as it sounds, think about this: Like Attracts Like. Even if you can only
						afford to put a few dollars into your account every month, it will begin to build up and attract more money.

						Finally, believe you are already wealthy. The creative ability of our thoughts is such that we lend more
						power and energy to whatever we consistently focus on. Focusing on lack will create more lack. Focusing on
						wealth and prosperity will create . . . guess what?

						Remember that this is a process. You likely won’t change your circumstances in one day. But over time, with
						consistent focus, your thoughts will begin to attract what you want. Once you master this power of thought,
						there are truly no limits to what you can create!</p>
					<button type="submit" class="wwd__content-btn">more details</button>
					<a href="#" class="wwd__content-adress" target="_blank">
						<i class="fas fa-map-marker-alt wwd__adress"></i>Hong Kong - 1588 Feet
					</a>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="img-wrapper">
					<img src="img/wwd-item2.jpg" alt="Images" class="wwd__img">
				</div>
			</div>
		</div>
	</div>
</section>