<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="footer__social">
					<ul class="footer__menu">
						<li class="footer__item">
							<a href="https://www.facebook.com/gtCunningFox" class="footer__link facebook" target="_blank">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li class="footer__item">
							<a href="https://www.linkedin.com/in/serhii-shabala-8a8b89135/" class="footer__link linkedin" target="_blank">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</li>
						<li class="footer__item">
							<a href="https://github.com/13RedFox" class="footer__link github" target="_blank">
								<i class="fab fa-github-square"></i>
							</a>
						</li>
						<li class="footer__item">
							<a href="https://www.instagram.com/gtcunningfox/?hl=ru" class="footer__link instagram" target="_blank">
								<i class="fab fa-instagram"></i>
							</a>
						</li>
					</ul> <!-- footer__menu -->
					<p class="footer__text">I <span><i class="fas fa-heart animated pulse"></i></span> Front-End</p>
				</div>
			</div>
		</div>
	</div>
</footer>