<section class="header-nav">
	<div class="container">
		<div class="row">
			<div class="col">

				<div class="header-nav__wrap">
					<a class="header-nav__logo" href="index.html">13 RedFox</a>
					<nav class="header-nav__menu">

						<div class="burger-menu">
							<a href="#">
								<span class="bar" id="top"></span>
								<span class="bar" id="middle"></span>
								<span class="bar" id="bottom"></span>
							</a>
						</div>

						<ul class="header-nav__list">
							<li class="header-nav__item">
								<a href="#" class="header-nav__link">home</a>
							</li>
							<li class="header-nav__item">
								<a href="#" class="header-nav__link">about</a>
							</li>
							<li class="header-nav__item">
								<a href="#" class="header-nav__link">work</a>
							</li>
							<li class="header-nav__item">
								<a href="#" class="header-nav__link">skills</a>
							</li>
							<li class="header-nav__item">
								<a href="#" class="header-nav__link">contacts</a>
							</li>
						</ul>
					</nav>
				</div>

			</div>
		</div>
	</div>
</section>