<header class="header">
	<div class="header__overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col d-flex flex-column align-items-center">
				<div class="header__content d-flex flex-column align-items-center">
					<h1 class="header__title order-1">junior front end web developer</h1>
					<p class="header__text order-0">Hello, my name is Serhii Shabala and I am</p>
				</div>
				<a href="#portfolio">
						<div class="scroll-down">
							<span class="header__arrow">
								<i class="fa fa-angle-down fa-2x"></i>
							</span>
						</div>
					</a>
			</div>
		</div>
	</div>
</header>