<section class="work">
	<div class="container">
		<div class="row mb-5">
			<div class="col d-flex flex-column align-items-center">
				<h2 class="main-title">my work</h2>
				<div class="main-line"></div>
			</div>
		</div> <!-- main -->
		<div class="row mb-4">
			<div class="col-md-4 mb-3 mb-md-0">
				<a href="mogo/app/" class="work__link">
					<div class="img-wrapper">
						<img src="img/item-1.jpg" alt="MoGo" class="work__img">
						<p class="work__text">MoGo</p>
					</div>
				</a>
			</div> <!-- col-md-4 mb-3 mb-md-0 -->
			<div class="col-md-4 mb-3 mb-md-0">
				<a href="mogo/app/" class="work__link">
					<div class="img-wrapper">
						<img src="img/item-2.jpg" alt="MoGo" class="work__img">
						<p class="work__text">MoGo</p>
					</div>
				</a>
			</div> <!-- col-md-4 mb-3 mb-md-0 -->
			<div class="col-md-4 mb-3 mb-md-0">
				<a href="mogo/app/" class="work__link">
					<div class="img-wrapper">
						<img src="img/item-3.jpg" alt="MoGo" class="work__img">
						<p class="work__text">MoGo</p>
					</div>
				</a>
			</div> <!-- col-md-4 mb-3 mb-md-0 -->
		</div>
		<div class="row">
				<div class="col-md-4 mb-3 mb-md-0">
					<a href="mogo/app/" class="work__link">
						<div class="img-wrapper">
							<img src="img/item-4.jpg" alt="MoGo" class="work__img">
							<p class="work__text">MoGo</p>
						</div>
					</a>
				</div> <!-- col-md-4 mb-3 mb-md-0 -->
				<div class="col-md-4 mb-3 mb-md-0">
					<a href="mogo/app/" class="work__link">
						<div class="img-wrapper">
							<img src="img/item-5.jpg" alt="MoGo" class="work__img">
							<p class="work__text">MoGo</p>
						</div>
					</a>
				</div> <!-- col-md-4 mb-3 mb-md-0 -->
				<div class="col-md-4">
					<a href="mogo/app/" class="work__link">
						<div class="img-wrapper">
							<img src="img/item-6.jpg" alt="MoGo" class="work__img">
							<p class="work__text">MoGo</p>
						</div>
					</a>
				</div> <!-- col-md-4 -->
			</div>
	</div>
</section>