<!-- header -->
<section class="header">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div class="col-4 col-md-1">
				<a href="/" class="header__logo">
					<img src="./img/logo.png" alt="Logo" class="header__logo-img">
				</a>
			</div> <!-- /.header__logo -->
			<div class=" col-6 col-lg-8 col-xl-6">
				<nav class="header__nav">
					<ul class="header__menu desktop">
						<li class="header__menu-item">
							<a href="#" class="header__menu-link">home</a>
						</li>
						<li class="header__menu-item">
							<a href="#about" class="header__menu-link">about</a>
						</li>
						<li class="header__menu-item">
							<a href="#services" class="header__menu-link">services</a>
						</li>
						<li class="header__menu-item">
							<a href="#works" class="header__menu-link">works</a>
						</li>
						<li class="header__menu-item">
							<a href="#contact" class="header__menu-link">contact</a>
						</li>
					</ul> <!-- /.header__menu desktop-->
					<div class="header__burger-btn">
						<span class="header__burger-line active"></span>
					</div> <!-- /.header__burger-btn -->
				</nav>
			</div> <!-- /.header__nav -->
		</div>
		<div class="row justify-content-center">
			<div class="col header-fs">
				<div class="header__inner">
					<h1 class="header__inner-title">creative digital project</h1>
					<p class="header__inner-text">Duis mollis, est non commodo luctus,
						nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
				</div> <!-- /.header__inner -->
			</div> <!-- /.header-fs -->
		</div>
	</div>
</section> <!-- /.header -->