.about {
	background-color: $aqua;
	color: $white;
	scroll-behavior: auto;


	@media screen and (max-width: 575px) {
		padding: 20px 0;
	}

	&__img {
		object-fit: contain;
	}

	&__title {
		text-transform: capitalize;
		font-size: $main-title;
		font-weight: 700;
		padding-top: 100px;

		@media screen and (max-width: 991px) {
			text-align: center;
			padding-top: 20px;
			font-size: $title-size;
			margin-bottom: 10px;
		}
	}

	&__text {
		font-weight: 300;
		line-height: 27px;

		@media screen and (max-width: 991px) {
			text-align: justify;
		}
	}
}