// --- MAIN ---

html,
body {
	min-height: 100vh;
}

body {
	background-color: $white;
	color: $black;
	font-family: $main-font;
	font-size: $base-size;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
}

a:hover {
	text-decoration: none;
}

/* --- MAIN --- */

.main__link {
	display: flex;
	align-items: center;
	color: $dark;
	letter-spacing: 0.35px;

	&:hover {
		color: $white;
	}
}

.fas {
	margin-right: 10px;
}

.fa-phone,
.fa-envelope,
.fa-map-marker-alt {
	color: $yellow;
}

.btn__work {
	display: block;
	padding: 15px 10px;
	background-color: $yellow;
	color: $black;
	font-size: $base-size;
	text-align: center;

	&:hover {
		color: $black;
	}
}

.main__info {
	display: flex;
	flex-direction: column;
	padding-left: 105px;
}

.main__title {
	color: $menu;
	font-size: $huge-size;
	font-weight: 500;
	line-height: 24px;
	text-transform: capitalize;
	margin-bottom: 10px;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 10px;
		left: -105px;
		width: 100px;
		height: 2px;
		background-color: $yellow;
	}
}

.main__text {
	color: $grey;
	font-family: $sec-font;
	line-height: 18px;
}

/* --- SLIDER --- */

.owl-carousel {
	position: relative;

	.active {
		display: flex;
		justify-content: center;
	}
}

.arrow-owl {
	@include owl-corusel($white, $white, $white);
}

.arrow-left {
	left: 0;
	top: 50%;
}

.arrow-right {
	right: 0;
	top: 50%;
}