// --- MAIN ---

html,
body {
	min-height: 100vh;
}

body {
	background-color: $white;
	color: $black;
	font-family: $main-font;
	font-size: $base-size;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
}

a:hover {
	text-decoration: none;
}

.btn__work {
	display: block;
	padding: 15px 10px;
	background-color: $yellow;
	color: $black;
	font-size: $base-size;
	text-align: center;

	&:hover {
		color: $black;
	}
}

/* --- SLIDER --- */

.owl-carousel {
	padding: 100px 0;
	position: relative;

	.active {
		display: flex;
		justify-content: center;
	}
}

.arrow-owl {
	border: 1px solid $white;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	top: 50%;
	color: $white;
	font-size: 30px;

	&:hover {
		background-color: $yellow;
	}
}

.arrow-left {
	left: 0;
}

.arrow-right {
	right: 0;
}