.consultation {
	padding: 40px 0;

	@media screen and (min-width: 992px) {
		background: url('../img/woman.jpg') no-repeat 100%;
		background-size: contain;
	}

	&__text {
		display: flex;
		flex-direction: column;
		color: $menu;
		font-weight: 500;
	}

	input,
	textarea {
		border: 1px solid $dark;
	}

	#consultation-textarea {
		resize: none;
		min-height: 165px;
	}

	&__wrap-btn {
		display: flex;
		justify-content: flex-end;
	}

	&__btn {
		@include main-btn($menu);
	}
}