.services {
	padding: 60px 0 30px;

	&__btn {
		display: flex;
		justify-content: center;

		@media screen and (min-width: 992px) {
			justify-content: flex-end;
		}
	}

	&__all {
		@include all;
	}

	&__cart {
		box-shadow: 0 7px 24px 3px rgba(91, 89, 89, 0.14);
		background-color: $bg-cart;
		padding: 20px 40px 40px;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media screen and (max-width: 575px) {
			padding: 20px 20px 40px;
		}

		&-title {
			color: $menu;
			font-size: $middle-size;
			font-weight: 500;
			text-align: center;
			margin-bottom: 20px;

			@media (min-width: 992px) and (max-width: 1199px) {
				font-size: 0.9rem;
			}
		}

		&-text {
			color: $grey;
			font-family: $sec-font;
			line-height: 18px;
			letter-spacing: 0.14px;
			text-align: justify;
			margin-bottom: 80px;
			height: 90px;
			overflow: hidden;
			text-align: center;

			@media (min-width: 992px) and (max-width: 1199px) {
				font-size: 0.8rem;
			}
		}

		&-btn {
			@include main-btn($black);
		}
	}

	&__icon {
		width: 60px;
		height: 60px;
		fill: $yellow;
		margin-bottom: 15px;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__link {
		text-transform: capitalize;
		color: $black;
		text-decoration: underline;

		&:hover {
			color: $black;
			text-decoration: underline;
		}
	}
}