/* About style
-------------- */
.about {
	padding: 30px 0;

	@media all and (min-width: 768px) {
		padding: 50px 0 30px;
	}

	@media all and (min-width: 992px) {
		padding: 70px 0 50px;
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media all and (min-width: 768px) {
			flex-direction: row;
			align-items: flex-start;
		}

		&-icon {
			margin-bottom: 15px;

			@media all and (min-width: 768px) {
				margin-right: 15px;
			}
		}
	}

	&__content {
		text-align: center;

		@media all and (min-width: 768px) {
			text-align: left;
		}

		&-title {
			@include text-styling($middle-size, 700, $main-title);
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		&-text {
			@include text-styling($base-size, 400, $main-text);
		}
	}


	.fa-eye,
	.fa-paint-brush,
	.fa-heart {
		color: $violet;
	}
}
/* End about style
------------------ */