/* Benefits style
----------------- */
.benefits {
	padding: 30px 0;
	background-color: $main-title;

	@media all and (min-width: 768px) {
		padding: 60px 0;
	}

	&__title {
		@include text-styling($base-title, 700, $white);
		margin-bottom: 15px;
	}

	&__subtitle {
		font-family: $sec-font;
		font-style: italic;
		@include text-styling($base-size, 400, $social);
		margin-bottom: 30px;
	}

	&__text {
		@include text-styling($small-size, 400, $white);
		text-align: center;
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;

		&-icon {
			font-size: $fa-size;
			color: $white;
			display: flex;
			justify-content: center;
			align-items: center;
			$size: 100px;
			width: $size;
			height: $size;
			border: 2px solid $white;
			border-radius: 50%;
			margin-bottom: 30px;
		}

		&-title {
			@include text-styling($card-title, 700, $white);
			text-transform: uppercase;
			margin-bottom: 25px;
		}

		&-text {
			@include text-styling($base-size, 400, $white);
			text-align: center;
		}
	}
}

/* End benefits style
--------------------- */