/* Benfits style
---------------- */
.benfits {
	background-color: $bg-benfits;
	padding: 30px 0;

	@media all and (min-width: 768px) {
		padding: 60px 0;
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;

		&-icon {
			font-size: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			$size: 90px;
			width: $size;
			height: $size;
			background-color: $violet;
			color: $white;
			border-radius: 50%;
			margin-bottom: 30px;
		}
		.active__icon {
			background-color: $white;
			border: 2px solid $violet;
			color: $violet;
		}

		&-title {
			@include text-styling($base-size, 700, $main-title);
			text-transform: uppercase;
			margin-bottom: 25px;
		}

		&-text {
			@include text-styling($base-size, 400, $light-grey);
			text-align: center;
		}
	}
}
/* End benfits style
-------------------- */