html,
body {
	min-height: 100vh;
	scroll-behavior: smooth;
}

body {
	font-family: $main-font;
	font-size: $base-size;
	background-color: $white;
	color: $black;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
}

.main__title {
	@include text-styling($base-title, 700, $main-title);
	margin-bottom: 20px;
}

.main__subtitle {
	font-family: $sec-font;
	font-style: italic;
	@include text-styling($base-size, 400, $main-text);
	margin-bottom: 30px;
}

.main__text {
	@include text-styling($base-size, 400, $main-text);
}