/* Facts style
-------------- */
.facts {
	background-color: $violet;
	padding: 30px 0;

	@media all and (min-width: 768px) {
		padding: 60px 0;
	}

	&__title {
		@include text-styling($big-size, 700, $white);
		margin-bottom: 20px;

		@media all and (min-width: 768px) {
			@include text-styling($base-title, 700, $white);
		}

		@media all and (min-width: 992px) {
			@include text-styling($facts-title, 700, $white);
		}
	}

	&__text {
		font-family: $sec-font;
		font-style: italic;
		@include text-styling($base-size, 400, $white);

		@media all and (min-width: 768px) {
			@include text-styling($middle-size, 400, $white);
		}
	}

	&__number {
		@include text-styling($facts-number, 700, $white);
		line-height: 1;
		margin-bottom: 15px;

		@media all and (min-width: 768px) {
			margin-bottom: 20px;
		}
	}

	&__desc {
		@include text-styling($middle-size, 400, $white);
		letter-spacing: 0.36px;
		text-transform: uppercase;
	}
}

/* End facts style
------------------ */