/* Header style
--------------- */
.header {
	background: $white linear-gradient(-215deg, rgba(153, 102, 204, 1) 0%, rgba(225, 133, 34, 1) 100%);
	color: $white;

	@media all and (min-width: 992px) {
		min-height: 100vh;
	}

	&__top {

		&-contacts {
			border: 1px solid rgba($white, 0.5);
			margin-bottom: 50px;
		}

		&-social {
			display: flex;
			justify-content: space-between;
			border-right: 1px solid rgba($white, 0.5);
			padding: 17px 15px 10px 0;
		}

		&-link {
			display: flex;
			@include text-styling($big-size, 400, $white);
			transition: color .3s ease;

			&:hover {
				color: $hover;
			}
		}

		&-info {
			display: flex;
			justify-content: flex-end;

			&_link {
				display: flex;
				border-left: 1px solid rgba($white, 0.5);
				padding: 10px 15px;
				margin-right: 40px;

				&:last-child {
					margin-right: 0;
				}
			}

			&_text {
				@include text-styling($base-size, 400, $light-white);
				margin-right: 5px;
			}

			&_subtext {
				@include text-styling($middle-size, 700, $white);
			}
		}

		&-title {
			font-family: $title-font;
			@include text-styling($header-logo, 500, $white);
			text-transform: uppercase;
			margin-bottom: 25px;
		}

		&-menu {
			display: flex;
			justify-content: space-between;

			&_link {
				display: flex;
				@include text-styling($base-size, 400, $white);
				text-transform: uppercase;
				transition: color .3s ease;

				&:hover {
					color: $hover;
				}
			}
		}
	}
}

/* End header style
------------------- */