/* Our-team style
----------------- */
.our-team {
	padding-top: 30px;

	@media all and (min-width: 768px) {
		padding-top: 60px;
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;

		.img-wrapper {
			@include padding-hack(100%);
			margin-bottom: 15px;
		}

		&-name {
			@include text-styling($middle-size, 700, $main-title);
			text-transform: capitalize;
			margin-bottom: 5px;
		}

		&-position {
			@include text-styling($base-size, 400, $dark-grey);
			text-transform: capitalize;
			margin-bottom: 15px;
		}

		&-desc {
			@include text-styling($small-size, 600, $main-title);
			margin-bottom: 20px;
		}

		&-social {
			display: flex;
			justify-content: center;
		}

		&-item {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}

		&-link {
			display: block;
			@include text-styling($big-size, 400, $social);
			transition: color .3s ease;

			&:hover {
				color: $violet;
			}
		}

	}
}

/* End our-team style
--------------------- */