.quotes {
	background-color: $main-text;
	padding: 100px 0;
	color: $white;
	text-align: center;

	&__title {
		font-family: $sec-font;
		font-size: $base-title;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.6px;
		margin-bottom: 50px;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			display: block;
			bottom: -35%;
			left: 48%;
			width: 60px;
			height: 2px;
			background-color: $white;

		}
	}

	&__text {
font-size: $card-title;
text-transform: uppercase;
letter-spacing: 0.44px;
	}
}