/* Testimonials style
--------------------- */
.testimonials {
	padding: 30px 0;

	@media all and (min-width: 768px) {
		padding: 60px 0;
	}

	.main__subtitle {
		margin-bottom: 0;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__blockquote {
		font-family: $sec-font;
		font-style: italic;
		@include text-styling($base-size, 400, $main-text);
		text-align: center;
		margin-bottom: 30px;

		@media all and (min-width: 768px) {
			margin-bottom: 50px;
		}
	}

	&__inner {
		display: flex;
		align-items: center;

		.img-wrapper {
			$size: 120px;
			width: $size;
			height: $size;
			border: 1px solid $light-grey;
			border-radius: 50%;
			margin-right: 20px;
		}
	}

	&__content {
		&-author {
			@include text-styling($base-size, 700, $main-title);
			text-transform: uppercase;
		}

		&-prof {
			@include text-styling($base-size, 400, $main-text);
			text-transform: capitalize;
		}
	}
}

/* End testimonials style
------------------------- */