// COLORS:
$white: #fff;
$black: #000;
$orange: #e18522;
$violet: #9966cc;
$pink: #bd7677;
$light-grey: #b1b1b1;
$light-white: #e5e5e5;
$hover: #45413e;
$bg-benfits: #f9f9f9;
$main-title: #333;
$main-text: #666;
$dark-grey: #999;
$social: #cccccc;

// SIZE:

@function px_to_rem($target, $context: $base-size) {
	@if $target==0 {
		@return 0
	}

	@return $target / $context+0rem;
}

$header-title: 100px;
$header-text: 93px;
$facts-number: 60px;
$fa-size: 48px;
$header-logo: 41px;
$facts-title: 36px;
$base-title: 30px;
$service-title: 24px;
$card-title: 22px;
$big-size: 20px;
$middle-size: 18px;
$base-size: 16px;
$small-size: 14px;
$little-size: 12px;

//FONTS:

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

@font-face {
	font-family: 'Georgia';
	src: url("../fonts/georgiai.ttf") format("truetype");
	font-weight: 900, 400i;
}

@font-face {
	font-family: 'Anders';
	src: url("../fonts/anders.ttf") format("truetype");
}

$main-font: 'Lato',
sans-serif;
$sec-font: 'Georgia',
sans-serif;
$title-font: 'Anders';

// font-family: 'Lato', sans-serif;