/* Works style
-------------- */
.works {
	padding-top: 50px;

	.main__subtitle {
		margin-bottom: 0;
	}

	.active {
		color: $violet;
	}

	.img-wrapper {
		display: block;
		@include padding-hack(66%);
	}

	&__filter {
		display: flex;
		justify-content: space-between;

		&-link {
			@include text-styling($base-size, 700, $main-text);
			text-transform: uppercase;
			transition: color .3s ease;

			&:hover {
				color: $violet;
			}
		}
	}

	&__card {
		border: 1px solid $white;
		padding: 0;
	}
}

/* End works style
------------------ */