//COLORS:

$white: #ffffff;
$black: #000000;
$red: #da4935;
$blue: #005a87;
$bg-viol: #9f9acf;

//SIZE:

$small-size: 0.83333rem;
$base-size: 1rem;
$middle-size: 1.11111rem;
$huge-size: 1.33333rem;
$big-size: 1.66666rem;
$main-title: 2rem;
$about-title: 2.55555rem;
$header-title: 4rem;

//FONTS:

$main-font: 'Nova Rg',
sans-serif;
$sec-font: 'PT Sans',
sans-serif;

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&display=swap');

// font-family: 'PT Sans', sans-serif;

@font-face {
	font-family: 'Nova Rg';
	src: url('../fonts/ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nova Rg';
	src: url('../fonts/ProximaNova-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}