//COLORS

$white: #ffffff;
$black: #000000;
$grey: #eaeaea;
$green-color: #48bf72;
$first-screen-bg: #3c4955;

$light-grey: $grey;
$dark-text: $first-screen-bg;

//FONTS
$fat-font: 'Big Johm';
$slim-font: 'Slim Joe';


//SIZE

$container-width: 1140px;