html,
body {
	min-height: 100vh;
	scroll-behavior: smooth;
}

body {
	font-family: $main-font;
	font-size: $base-size;
	background-color: $main-bg;
	color: $black;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
}