<header class="aditii-header">
<div class="container">
<div class="row">
	<div class="col-3">
	<a href="/" class="aditii-header__logo">Aditii</a>
	</div>

<div class="col-6">
	<form action="" class="aditii-header__search">
		<input type="search" name="search">
		<input type="submit">
	</form>
</div>

<div class="col-3">
<div class="shop-cart">
	<span></span>
	span.shop-cart__basket
</div>
</div>

</div>
</div>
</header>