*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body
{
    height: 100%;
}

body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: auto; 

    background-color: #354546;
}

.container
{
    position: relative; 

    width: 100%;
    max-width: 620px;
    height: 620px;
    margin: auto;

    border: 10px solid #27ae60;
    background-color: #fff;
}
.container .box
{
    position: absolute;

    width: 75px;
    height: 75px;

    background-color: #000;
}
.container .item1
{
    top: 0;
    left: 0;
}
.container .item2
{
    top: 0;
    left: 25%;
}
.container .item3
{
    top: 0;
    left: 50%;
}
.container .item4
{
    top: 0;
    left: 75%;
}
.container .item5
{
    top: 12.5%;
    left: 12.5%;
}
.container .item6
{
    top: 12.5%;
    left: 37.5%;
}
.container .item7
{
    top: 12.5%;
    left: 62.5%;
}
.container .item8
{
    top: 12.5%;
    left: 87.5%;
}
.container .item9
{
    top: 25%;
    left: 0;
}
.container .item10
{
    top: 25%;
    left: 25%;
}
.container .item11
{
    top: 25%;
    left: 50%;
}
.container .item12
{
    top: 25%;
    left: 75%;
}
.container .item13
{
    top: 37.5%;
    left: 12.5%;
}
.container .item14
{
    top: 37.5%;
    left: 37.5%;
}
.container .item15
{
    top: 37.5%;
    left: 62.5%;
}
.container .item16
{
    top: 37.5%;
    left: 87.5%;
}
.container .item17
{
    top: 50%;
    left: 0;
}
.container .item18
{
    top: 50%;
    left: 25%;
}
.container .item19
{
    top: 50%;
    left: 50%;
}
.container .item20
{
    top: 50%;
    left: 75%;
}
.container .item21
{
    top: 62.5%;
    left: 12.5%;
}
.container .item22
{
    top: 62.5%;
    left: 37.5%;
}
.container .item23
{
    top: 62.5%;
    left: 62.5%;
}
.container .item24
{
    top: 62.5%;
    left: 87.5%;
}
.container .item25
{
    top: 75%;
    left: 0;
}
.container .item26
{
    top: 75%;
    left: 25%;
}
.container .item27
{
    top: 75%;
    left: 50%;
}
.container .item28
{
    top: 75%;
    left: 75%;
}
.container .item29
{
    top: 87.5%;
    left: 12.5%;
}
.container .item30
{
    top: 87.5%;
    left: 37.5%;
}
.container .item31
{
    top: 87.5%;
    left: 62.5%;
}
.container .item32
{
    top: 87.5%;
    left: 87.5%;
}
