.footer {
	padding: 150px 0;
	background-image: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);

	&__logo {
		display: block;
	}

	&__social {
		width: 40px;
		height: 40px;
		border: 1px solid $white;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $white;

		&:hover {
			color: $white;
		}
	}

	&__copy {
		color: $white;
		padding-right: 10px;
		border-right: 1px solid $white;
		margin-right: 10px;
	}

	&__design {
		color: $white;
	}
}