<section class="advantages">
	<div class="container">
		<div class="row ">
			<div class="col-md-12 col-lg-4 d-flex flex-column align-items-center mb-5">
				<div class="advantages__icon">
					<i class="fas fa-check"></i>
				</div>
				<span class="advantages__title">Десятки добровольных ликвидаций ежемесячно</span>
				<p class="advantages__text">Мы умеем минимизировать все риски в процессе добровольной ликвидации юридических
					лиц.</p>
			</div>
			<div class="col-md-12 col-lg-4 d-flex flex-column align-items-center mb-5">
				<div class="advantages__icon">
					<i class="fas fa-check"></i>
				</div>
				<span class="advantages__title">Отличное знание законов в сфере банкротства </span>
				<p class="advantages__text">Позволяют нам эффективно отстаивать как интересы кредиторов, так и интересы
					собственников проблемной организации.</p>
			</div>
			<div class="col-md-12 col-lg-4 d-flex flex-column align-items-center">
				<div class="advantages__icon">
					<i class="fas fa-check"></i>
				</div>
				<span class="advantages__title">Большой опыт сопровождения банкротства</span>
				<p class="advantages__text">Мы обладаем большим опытом сопровождения процедур банкротства предприятий.</p>
			</div>
		</div>
	</div>
</section>