<header class="header">
	<div class="header__info">
		<div class="container">
			<div class="row d-flex justify-content-xl-between">
				<div class="col-xl-4 d-flex justify-content-between">
					<a href="tel:+380963092145" class="header__tel header__link"><i class="fas fa-phone"></i>+38 (096) 309 21
						45</a>
					<a href="email:layout585@gmail.com " class="header__email header__link"><i
							class="fas fa-envelope"></i>layout585@gmail.com</a>
				</div>
				<div class="col-xl-3">
					<a href="#" class="btn__work"><i class="fas fa-briefcase"></i>Бесплатная консультация</a>
				</div>
			</div>
		</div> <!-- container -->
	</div> <!-- header__top -->
	<div class="header__navigation">
		<div class="container">
			<div class="row d-flex justify-content-xl-between align-items-xl-center">
				<div class="col-xl-3">
					<a href="#" class="header__logo">
						<h1 class="header__logo-text_first">logo<span class="header__logo-text_second">type</span> </h1>
					</a>
				</div>
				<div class="col-xl-5">
					<ul class="header__menu">
						<li class="menu__item">
							<a href="#" class="menu__link">главная</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">о компании</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">услуги</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">контакты</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div> <!-- header__navigation -->
	<div class="header__slider">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="owl-carousel header__owl">
						<div class="header__slider-content">
							<h2 class="header__slider-title">комплексное закрытие предприятия</h2>
							<p class="header__slider-text">Полное прекращение существования юридического лица с сохранением
								легальности всей предыдущей деятельности.</p>
							<button class="header__slider-btn" type="submit">Оставить заявку</button>
						</div> <!-- header__slider-content -->
						<div class="header__slider-content">
								<h2 class="header__slider-title">комплексное закрытие предприятия</h2>
								<p class="header__slider-text">Полное прекращение существования юридического лица с сохранением
									легальности всей предыдущей деятельности.</p>
								<button class="header__slider-btn" type="submit">Оставить заявку</button>
							</div> <!-- header__slider-content -->
					</div>
				</div>
			</div>
		</div>
	</div> <!-- header__slider -->

</header>