<section class="news">
	<div class="container">

		<div class="row d-flex justify-content-xl-between mb-5">
			<div class="col-xl-6">
				<div class="main__info">
					<h3 class="main__title">новости компании</h3>
					<p class="main__text">Комплексный подход к вашему вопросу, своевременная правовую помощь, представление
						интересов во всех судебных инстанциях.</p>
				</div>
			</div>
			<div class="col-xl-3 pt-xl-4">
				<div class="services__btn">
					<button type="submit" class="services__all">Показать все услуги</button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-6">
				<div class="owl-carousel">
					<div class="news__info">
						<h4 class="news__info-title">Банкротство и ликвидация предприятия в Украине</h4>
						<p class="news__info-text">«На сегодняшний день, коллектив компании объединяет высокопрофессиональных
							экспертов имеющих специализации в отдельных областях права. На сегодняшний день, коллектив компании
							объединяет высокопрофессиональных экспертов имеющих специализации в отдельных областях права. На
							сегодняшний день, коллектив компании объединяет высокопрофессиональных экспертов имеющих специализации в
							отдельных областях права...»</p>
						<span class="news__info-autor">Андрей Ворошилов, генеральный д иректор компании Bankom</span>
					</div>

					<div class="news__info">
						<h4 class="news__info-title">Банкротство и ликвидация предприятия в Украине</h4>
						<p class="news__info-text">«На сегодняшний день, коллектив компании объединяет высокопрофессиональных
							экспертов имеющих специализации в отдельных областях права. На сегодняшний день, коллектив компании
							объединяет высокопрофессиональных экспертов имеющих специализации в отдельных областях права. На
							сегодняшний день, коллектив компании объединяет высокопрофессиональных экспертов имеющих специализации в
							отдельных областях права...»</p>
						<span class="news__info-autor">Андрей Ворошилов, генеральный д иректор компании Bankom</span>
					</div>

				</div>

			</div>
			<div class="col-xl-6">
				<div class="row">
					<div class="col-xl-6">
						<div class="news__cart">
							<div class="img-wrapper">
								<img src="img/news-1.jpg" alt="item" class="news__item">
							</div>
							<h4 class="news__cart-title">Новость компании</h4>
							<p class="news__cart-text">На сегодняшний день, коллектив компании объединяет высокопрофессиональных
								экспертов имеющих специализации в отдельных областях права...»</p>
							<span class="news__cart-date">03.04</span>
						</div> <!-- news__cart -->
					</div>
					<div class="col-xl-6">
						<div class="news__cart">
							<div class="img-wrapper">
								<img src="img/news-2.jpg" alt="item" class="news__item">
							</div>
							<h4 class="news__cart-title">Новость компании</h4>
							<p class="news__cart-text">На сегодняшний день, коллектив компании объединяет высокопрофессиональных
								экспертов имеющих специализации в отдельных областях права...»</p>
							<span class="news__cart-date">03.04</span>
						</div> <!-- news__cart -->
					</div>
				</div>
			</div>
		</div>

	</div>
</section>