<section class="services">
	<div class="container">
		<div class="row mb-5">
			<div class="col">
				<div class="row d-flex justify-content-xl-between">
					<div class="col-xl-6">
						<div class="main__info">
							<h3 class="main__title">наши услуги</h3>
							<p class="main__text">Комплексный подход к вашему вопросу, своевременная правовую помощь, представление
								интересов во всех судебных инстанциях.</p>
						</div>
					</div>
					<div class="col-xl-3 pt-xl-4">
						<div class="services__btn">
							<button type="submit" class="services__all">Показать все услуги</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-4">
				<div class="services__cart">
					<div class="services__icon">
						//= gavel.html
					</div>
					<div class="services__wrap">
						<h4 class="services__cart-title">Банкротство и ликвидация</h4>
						<p class="services__cart-text">Полное прекращение существования юридического лица с сохранением легальности
							всей предыдущей деятельности</p>
						<div class="services__info">
							<a href="#" class="services__link">подробнее</a>
							<button type="submit" class="services__cart-btn">Заказать</button>
						</div>
					</div>
				</div>
			</div> <!-- services__cart -->

			<div class="col-xl-4">
				<div class="services__cart">
					<div class="services__icon">
						//= court.html
					</div>
					<div class="services__wrap">
						<h4 class="services__cart-title">Адвокадское сопровождение</h4>
						<p class="services__cart-text">Мы гарантируем полное профессиональное обслуживание клиентов в заявленных
							сферах деятельности и соблюдение конфиденциальности.</p>
						<div class="services__info">
							<a href="#" class="services__link">подробнее</a>
							<button type="submit" class="services__cart-btn">Заказать</button>
						</div>
					</div>
				</div>
			</div> <!-- services__cart -->

			<div class="col-xl-4">
				<div class="services__cart">
					<div class="services__icon">
						//= briefcase.html
					</div>
					<div class="services__wrap">
						<h4 class="services__cart-title">Налоговый аудит</h4>
						<p class="services__cart-text">Налоговый аудит проводят перед проведением налоговых проверок; при оценке
							возможных налоговых рисков; при оптимизации налогообложения.</p>
						<div class="services__info">
							<a href="#" class="services__link">подробнее</a>
							<button type="submit" class="services__cart-btn">Заказать</button>
						</div>
					</div>
				</div>
			</div> <!-- services__cart -->

		</div>
	</div>
	</div>
</section> <!-- services -->