//	COLORS

$white: #ffffff;
$black: #000000;


//DAILY
$daily_span: #ea355a;
$daily_shadow: #bd1962;

// PAYMENT

// BG
$pmnt_bg: #f5f5f5;
$pmnt_head: #efe5aa;
$pmnt_add: #25b167;

// COLOR
$grey: #9eabad;
$pmnt_title: #6e7f7b;
$pmnt_txt: #a6a28d;
$pmnt_price: #637570;
$form-txt: #727f82;
$border-form: #bac8cb;



// SIZE


$daily_con: 580px;
$payment_con: 360px;


// FONTS

