@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:700&display=swap");

// COLORS:

$white: #ffffff;
$black: #000000;
$l-grey: #e4fdf9;
$grey: #212121;
$green: #00897b;
$blue: #3949ab;
$pink: #d6b3b3;

// SIZE:

@function px_to_rem($target, $context: $base-size) {
 @if $target == 0 { @return 0 }
 @return $target / $context + 0rem;
}

$base-size: 16px;

$s1: 18px;
$s2: 20px;
$s3: 24px;
$s4: 30px;
$s5: 50px;
$s6: 60px;

// FONTS:

$main-font: "Open Sans", sans-serif;
$second-font: "Roboto", sans-serif;
