/* Шрифт: Шрифт: Arial, sans-serif
Цвета:
Цвет текста в поиске и ссылки при наведении #ec5a62;
Цвет текста и placeholder’a #c2c2c2
Фон ссылки rgba(118,117,128,0.05)
Фон ссылки при наведении rgba(118,117,128,0.1) */

* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}

body {
	font-size: 100%;
	font-family: Arial, sans-serif;
	background-color: #f1f1f1;
	
}