@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400");
* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	background-color: #fff;
	color: #999;
}

a {
	text-decoration: none;
}

.sec-con {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.sec-con__title {
	color: #333;
	font-family: "Kaushan Script", cursive;
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 20px;
}
.sec-con__text {
	color: #333;
	font-size: 1.875rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.sec-con__line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	max-width: 60px;
	border-bottom: 3px solid #f38181;
}
.sec-con__sub-text {
	color: #999;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	padding-top: 40px;
}

.first-screen {
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, .9)), to(rgba(243, 129, 129, .9))), #fce38a url("../img/header-bg.png") no-repeat;
	background: linear-gradient(to top, rgba(252, 227, 138, .9) 0%, rgba(243, 129, 129, .9) 100%), #fce38a url("../img/header-bg.png") no-repeat;
	background-size: cover;
	min-height: 100vh;
	color: #fff;
	padding: 1.5625rem 0;
	text-align: center;
}
.first-screen .logo__link {
	display: block;
	color: #fff;
	font-size: 1.875rem;
	font-weight: 700;
}
.first-screen .logo__link:hover {
	text-decoration: none;
}
.first-screen .menu {
	width: 100%;
}
.first-screen .menu .active {
	color: #fce38a;
	border-bottom: 2px solid #fce38a;
}
.first-screen .menu__item {
	margin-right: 3.125rem;
}
.first-screen .menu__item:last-child {
	margin-right: 0;
}
.first-screen .menu__link {
	display: block;
	color: #fff;
	font-size: .875rem;
	font-weight: 400;
	text-transform: uppercase;
}
.first-screen .menu__link:hover {
	color: #fce38a;
	border-bottom: 2px solid #fce38a;
	text-decoration: none;
}
.first-screen .fs-content {
	padding: 9.375rem 0;
}
.first-screen__title {
	font-family: "Kaushan Script", cursive;
	font-size: 4.5rem;
	font-weight: 400;
	margin-bottom: 2.5rem;
}
.first-screen__text {
	font-size: 9.375rem;
	font-weight: 700;
	line-height: 140px;
	text-transform: uppercase;
	margin-bottom: 4.375rem;
}
.first-screen__line {
	width: 3.75rem;
	border: 1px solid #fff;
	margin-bottom: 3.125rem;
}
.first-screen__btn {
	color: #fff;
	font-size: .875rem;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 30px;
	border: 3px solid #fff;
	background: transparent;
	-webkit-transition: color .5s ease;
	        transition: color .5s ease;
}
.first-screen__btn:hover {
	color: #f38181;
}
.first-screen .sub-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
}
.first-screen .sub-menu__link {
	text-decoration: none;
	display: block;
	color: #fff;
	border-top: 3px solid #fff;
	-webkit-transition: border-top-color .5s ease;
	        transition: border-top-color .5s ease;
}
.first-screen .sub-menu__link:hover {
	border-top-color: #f38181;
}
.first-screen .sub-menu__text {
	margin: 0;
	opacity: .7;
	font-size: 1.125rem;
	font-weight: 400;
	text-transform: uppercase;
}
.first-screen .sub-menu__number {
	font-size: 1.5rem;
	font-weight: 700;
}

.wwd {
	padding: 100px 0;
}
.wwd__img-wrap {
	position: relative;
	padding-top: 65.8%;
}
.wwd__img-wrap > * {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.wwd__img:hover {
	-webkit-box-shadow: 10px 10px 0 #95e1d3;
	        box-shadow: 10px 10px 0 #95e1d3;
}

.facts {
	background: #95e1d3;
	color: #fff;
	text-transform: uppercase;
}
.facts__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0;
}
.facts__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-preferred-size: 240px;
	flex-basis: 240px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-right: 1px solid rgba(255, 255, 255, .3);
	padding: 90px 0;
}
.facts__item:first-child {
	border-left: 1px solid rgba(255, 255, 255, .3);
}
.facts__number {
	font-size: 4.5rem;
	font-weight: 700;
	margin-bottom: 30px;
}
.facts__text {
	font-size: .875rem;
	font-weight: 400;
}

.services {
	padding: 100px 0;
}
.services__card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 60px 0 50px;
}
.services__icon {
	margin-right: 20px;
}
.services__title {
	color: #333;
	font-size: .875rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.services__text {
	color: #999;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 0;
}

.design {
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, .85)), to(rgba(255, 255, 255, .85))), url("../img/feauture-bg.png") no-repeat;
	background: linear-gradient(to top, rgba(255, 255, 255, .85) 0%, rgba(255, 255, 255, .85) 100%), url("../img/feauture-bg.png") no-repeat;
	background-size: cover;
	padding-top: 100px;
}
.design__img-wrap {
	position: relative;
	padding-top: 108%;
	width: 100%;
	max-width: 477px;
}
.design__img-wrap > * {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}

.services-wwd {
	padding: 100px 0;
}
.services-wwd__img-wrap {
	position: relative;
	padding-top: 66.7%;
	width: 100%;
	max-width: 540px;
}
.services-wwd__img-wrap > * {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.services-wwd__title-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid #e5e5e5;
	padding: 15px;
	position: relative;
}
.services-wwd__title-wrap::after {
	content: "";
	position: absolute;
	display: block;
	width: 15px;
	height: 15px;
	border: 2px solid #ccc;
	border-right: none;
	border-bottom: none;
	top: 25px;
	right: 20px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.services-wwd__title-wrap:focus::after {
	-webkit-transform: rotate(225deg);
	        transform: rotate(225deg);
}
.services-wwd__title-wrap:focus ~ p {
	display: block;
}
.services-wwd__icon {
	margin-right: 10px;
}
.services-wwd__title {
	color: #333;
	font-size: .875rem;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}
.services-wwd__text {
	color: #ccc;
	font-family: "Roboto", sans-serif;
	font-size: .875rem;
	font-weight: 300;
	line-height: 24px;
	margin: 0;
	display: none;
	border: 1px solid #e5e5e5;
	border-top: none;
	padding: 15px;
}
