<header class="header">
	<div class="header__top-menu">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-6 col-md-2">
					<a href="/" class="header__logo">
						<img src="img/logo.png" alt="Logo" class="header__logo-img">
					</a> <!-- End header__logo -->
				</div>
				<div class="col-6 col-md-8 col-xl-6">
					<nav class="header__menu">
						<div class="burger">
							<span class="burger__line"></span>
							<span class="burger__line"></span>
							<span class="burger__line"></span>
						</div>
						<ul class="header__menu-list">
							<li class="header__menu-item">
								<a href="#" class="header__menu-link">home</a>
							</li>
							<li class="header__menu-item">
								<a href="#about" class="header__menu-link">about</a>
							</li>
							<li class="header__menu-item">
								<a href="#services" class="header__menu-link">services</a>
							</li>
							<li class="header__menu-item">
								<a href="#works" class="header__menu-link">works</a>
							</li>
							<li class="header__menu-item">
								<a href="#contact" class="header__menu-link">contact</a>
							</li>
						</ul> <!-- End header__menu-list -->

					</nav> <!-- End header__menu block -->
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10">
				<div class="header__content">
					<h1 class="header__content-title">creative digital project</h1>
					<p class="header__content-text">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia
						odio sem nec elit.</p>
				</div> <!-- End header__content block -->
			</div>
		</div>
	</div>
</header> <!-- End header block -->