<section class="works__slider">
	<div class="container">
		<div class="row top-slider">
			<div class="col text-center">
				<p class="works__slider-text">our featured work</p>
				<h1 class="works__slider-title">we create engaging experiences through creativity & craft</h1>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="slick_slider">

					<div class="img-wrapper">
						<img src="https://picsum.photos/id/1033/300/400" alt="Item" class="works__slider-img">
					</div>

					<div class="img-wrapper">
						<img src="https://picsum.photos/id/1075/300/400" alt="Item" class="works__slider-img">
					</div>

					<div class="img-wrapper">
						<img src="https://picsum.photos/id/125/300/400" alt="Item" class="works__slider-img">
					</div>

					<div class="img-wrapper">
						<img src="https://picsum.photos/id/127/300/400" alt="Item" class="works__slider-img">
					</div>

				</div>

			</div>
		</div>
	</div>
</section>