<section class="about" id="about">
  <div class="container">
    <div class="row justify-content-center main__wrapper">
      <div class="col-12 col-md-10 col-lg-8">
        <h2 class="main__title">about us</h2>
        <p class="main__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <div class="about__card">
          <div class="about__card-icon">
            <i class="fas fa-globe"></i>
          </div>
          <h2 class="about__card-title">awesome icons</h2>
          <p class="about__card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          </p>
        </div> <!-- End .about__card -->
      </div>
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <div class="about__card">
          <div class="about__card-icon">
            <i class="fas fa-certificate"></i>
          </div>
          <h2 class="about__card-title">one page</h2>
          <p class="about__card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor
          </p>
        </div> <!-- End .about__card -->
      </div>
      <div class="col-12 col-md-4">
        <div class="about__card">
          <div class="about__card-icon">
            <i class="fab fa-audible"></i>
          </div>
          <h2 class="about__card-title">fully responsive</h2>
          <p class="about__card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor
          </p>
        </div> <!-- End .about__card -->
      </div>
    </div>
  </div>
</section>