<section class="blog" id="blog">
  <div class="container">
    <div class="row justify-content-center main__wrapper">
      <div class="col-12 col-md-10 col-lg-8">
        <h2 class="main__title">blog</h2>
        <p class="main__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
      </div>
    </div>
    <div class="row mb-4 mb-md-0">
      <div class="col-12 col-md-6 mb-4 mb-md-0">
        <div class="blog__wrapper">
          <img src="./img/blog__001.jpg" alt="BlogImg" class="blog__wrapper-img">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="blog__content">
          <a href="#" class="blog__content-linkTitle">SEO quis vestibulum</a>
          <div class="blog__content-wrapperData">
            <div class="blog__content-data">
              <i class="far fa-calendar-alt"></i>
              <span class="blog__content-dataText">14.07.2017</span>
            </div>

            <div class="blog__content-data">
              <i class="far fa-file"></i>
              <span class="blog__content-dataText">development</span>
            </div>
          </div>
          <p class="blog__content-text">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat...</p>
        </div> <!-- End .blog__content -->
      </div>
    </div>

    <div class="row mb-4 mb-md-0">
      <div class="col-12 col-md-6 order-1 order-md-0">
        <div class="blog__content">
          <a href="#" class="blog__content-linkTitle">SEO quis vestibulum</a>
          <div class="blog__content-wrapperData">
            <div class="blog__content-data">
              <i class="far fa-calendar-alt"></i>
              <span class="blog__content-dataText">14.07.2017</span>
            </div>

            <div class="blog__content-data">
              <i class="far fa-file"></i>
              <span class="blog__content-dataText">development</span>
            </div>
          </div>
          <p class="blog__content-text">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco
            laboris nisi ut aliquip ex ea commodo consequat...</p>
        </div> <!-- End .blog__content -->
      </div>
      <div class="col-12 col-md-6 mb-4 mb-md-0  order-0 order-md-1">
        <div class="blog__wrapper">
          <img src="./img/blog__002.jpg" alt="BlogImg" class="blog__wrapper-img">
        </div>
      </div>
    </div>
    <div class="row main__wrapper">
      <div class="col-12 col-md-6 mb-4 mb-md-0">
        <div class="blog__wrapper">
          <img src="./img/blog__003.jpg" alt="BlogImg" class="blog__wrapper-img">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="blog__content">
          <a href="#" class="blog__content-linkTitle">SEO quis vestibulum</a>
          <div class="blog__content-wrapperData">
            <div class="blog__content-data mr-4">
              <i class="far fa-calendar-alt"></i>
              <span class="blog__content-dataText">14.07.2017</span>
            </div>

            <div class="blog__content-data">
              <i class="far fa-file"></i>
              <span class="blog__content-dataText">development</span>
            </div>
          </div>
          <p class="blog__content-text">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco
            laboris nisi ut aliquip ex ea commodo consequat...</p>
        </div> <!-- End .blog__content -->
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <a href="#" class="blog__btn">more view</a>
      </div>
    </div>
  </div>
</section>