<header class="header" id="header">
  <div class="header__bg"></div>
  <div class="header__top">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-6 col-md-2">
          <a href="#" class="header__logo">YourLogo</a>
        </div>
        <div class="col-6 col-md-9 col-lg-8 headerTopNav">

          <div id="nav-icon2">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>

          <ul class="header__nav" id="headerNav">
            <li class="header__nav-item">
              <a href="#header" class="header__nav-link">home</a>
            </li>
            <li class="header__nav-item">
              <a href="#about" class="header__nav-link">about</a>
            </li>
            <li class="header__nav-item">
              <a href="#services" class="header__nav-link">servicing</a>
            </li>
            <li class="header__nav-item">
              <a href="#portfolio" class="header__nav-link">portfolio</a>
            </li>
            <li class="header__nav-item">
              <a href="#blog" class="header__nav-link">blog</a>
            </li>
            <li class="header__nav-item">
              <a href="#contactUs" class="header__nav-link">contact us</a>
            </li>
          </ul> <!-- End .header__nav -->
        </div>
      </div>
    </div>
  </div> <!-- End .header__top -->
  <div class="container header__content">
    <div class="row">
      <div class="col-12">
        <div class="row mb-10">
          <div class="col-12 text-center">
            <h1 class="header__title">Web development project</h1>
            <p class="header__text">Very suitable to support all web development projects</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-md-4 mb-3 mb-md-0">
            <a href="#" class="header__btn header__btn-left">our services</a>
          </div>
          <div class="col-12 col-md-4">
            <a href="#" class="header__btn header__btn-right">here is now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__arrow">
    <a href="#about" class="header__arrow-btn"></a>
  </div> <!-- End .header__arrow -->
</header> <!-- End .header -->