<section class="pricing" id="pricing">
  <div class="container">
    <div class="row justify-content-center main__wrapper">
      <div class="col-12 col-md-10 col-lg-8">
        <h2 class="main__title">pricing plan</h2>
        <p class="main__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <div class="pricing__card">
          <div class="pricing__card-tarif">
            <h3 class="pricing__card-title">free trail</h3>
            <p class="pricing__card-price"><sup class="pricing__card-priceTop">$</sup>00<sub
                class="pricing__card-priceBtm">per mounth</sub></p>
          </div> <!-- End .pricing__card-tarif -->
          <div class="pricing__card-optionals">
            <p class="pricing__card-text mb-5">30 free trail</p>
            <p class="pricing__card-text mb-5">5 free projects</p>
            <p class="pricing__card-text mb-5">PHP 5 enabled</p>
            <p class="pricing__card-text">24/7 supports</p>
          </div> <!-- End .pricing__card-optionals -->
          <button class="pricing__card-btn">order now</button>
        </div> <!-- End .pricing__card -->
      </div>

      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <div class="pricing__card">
          <div class="pricing__card-tarif">
            <h3 class="pricing__card-title">basic</h3>
            <p class="pricing__card-price"><sup class="pricing__card-priceTop">$</sup>50<sub
                class="pricing__card-priceBtm">per mounth</sub></p>
          </div> <!-- End .pricing__card-tarif -->
          <div class="pricing__card-optionals">
            <p class="pricing__card-text mb-5">30 free trail</p>
            <p class="pricing__card-text mb-5">5 free projects</p>
            <p class="pricing__card-text mb-5">PHP 5 enabled</p>
            <p class="pricing__card-text">24/7 supports</p>
          </div> <!-- End .pricing__card-optionals -->
          <button class="pricing__card-btn">order now</button>
        </div> <!-- End .pricing__card -->
      </div>

      <div class="col-12 col-md-4">
        <div class="pricing__card">
          <div class="pricing__card-tarif">
            <h3 class="pricing__card-title">ultimates</h3>
            <p class="pricing__card-price"><sup class="pricing__card-priceTop">$</sup>99<sub
                class="pricing__card-priceBtm">per mounth</sub></p>
          </div> <!-- End .pricing__card-tarif -->
          <div class="pricing__card-optionals">
            <p class="pricing__card-text mb-5">30 free trail</p>
            <p class="pricing__card-text mb-5">5 free projects</p>
            <p class="pricing__card-text mb-5">PHP 5 enabled</p>
            <p class="pricing__card-text">24/7 supports</p>
          </div> <!-- End .pricing__card-optionals -->
          <button class="pricing__card-btn">order now</button>
        </div> <!-- End .pricing__card -->
      </div>
    </div>
  </div>
</section>