<section class="team" id="team">
  <div class="container">
    <div class="row justify-content-center main__wrapper">
      <div class="col-12 col-md-10 col-lg-8">
        <h2 class="main__title">our team member</h2>
        <p class="main__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <div class="team__slider">
          <div class="team__slider-card">
            <div class="team__slider-wrapperCard">
              <img src="./img/team__001.jpg" alt="Team" class="team__slider-img">
            </div>
            <h3 class="team__slider-cardTitle">john doe</h3>
            <p class="team__slider-cardJob">general manager</p>
            <ul class="team__slider-cardSocialNav">
              <li class="team__slider-cardSocialItem">
                <a href="#" class="team__slider-cardSocialLink">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="team__slider-cardSocialItem">
                <a href="#" class="team__slider-cardSocialLink">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="team__slider-cardSocialItem">
                <a href="#" class="team__slider-cardSocialLink">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li class="team__slider-cardSocialItem">
                <a href="#" class="team__slider-cardSocialLink">
                  <i class="fab fa-behance-square"></i>
                </a>
              </li>
            </ul>
          </div> <!-- End .team__slider-card -->
        </div> <!-- End .team__slider -->
      </div>

      <div class="col-12 col-md-4 mb-4 mb-md-0">
        <div class="team__slider">
          <div class="team__slider-card">
            <div class="team__slider-wrapperCard">
              <img src="./img/team__002.jpg" alt="Team" class="team__slider-img">
            </div>
            <h3 class="team__slider-cardTitle">alexa biru</h3>
            <p class="team__slider-cardJob">office director</p>
            <ul class="team__slider-cardSocialNav">
              <li class="team__slider-cardSocialItem">
                <a href="#" class="team__slider-cardSocialLink">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="team__slider-cardSocialItem">
                <a href="#" class="team__slider-cardSocialLink">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="team__slider-cardSocialItem">
                <a href="#" class="team__slider-cardSocialLink">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li class="team__slider-cardSocialItem">
                <a href="#" class="team__slider-cardSocialLink">
                  <i class="fab fa-behance-square"></i>
                </a>
              </li>
            </ul>
          </div> <!-- End .team__slider-card -->
        </div> <!-- End .team__slider -->
      </div>

      <div class="col-12 col-md-4">
        <div class="team__slider">
          <div class="team__slider-card">
            <div class="team__slider-wrapperCard">
              <img src="./img/team__003.jpg" alt="Team" class="team__slider-img">
            </div>
            <h3 class="team__slider-cardTitle">ronobir sing</h3>
            <p class="team__slider-cardJob">admin</p>
            <ul class="team__slider-cardSocialNav">
              <li class="team__slider-cardSocialItem">
                <a href="#" class="team__slider-cardSocialLink">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="team__slider-cardSocialItem">
                <a href="#" class="team__slider-cardSocialLink">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="team__slider-cardSocialItem">
                <a href="#" class="team__slider-cardSocialLink">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li class="team__slider-cardSocialItem">
                <a href="#" class="team__slider-cardSocialLink">
                  <i class="fab fa-behance-square"></i>
                </a>
              </li>
            </ul>
          </div> <!-- End .team__slider-card -->
        </div> <!-- End .team__slider -->
      </div>
    </div>
  </div>
</section> <!-- End .team -->