@import url('https://fonts.googleapis.com/css?family=Lato:300,700');

@font-face {
	font-family: 'Miso-Bold';
	src: url('../fonts/miso-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Miso-Regular';
	src: url('../fonts/miso-regular.woff');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	min-height: 100%;
}

body {
	font-size: 100%;
	background-color: #fdde7e;
}

.container {
	width: 100%;
	max-width: 1140px;
	height: 600px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.bronze{
	width: 360px;
	height: 440px;
	border-radius: 5px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;


	&__price {
		font-family: 'Miso-Bold';
		font-size: 70px;
		font-weight: bold;
		color: #02995b;
		flex-grow: 2;
	}

	&__title {
		width: 50%;
		font-family: 'miso-Regular';
		font-size: 56px;
		text-transform: capitalize;
		flex-grow: 1;
	}
	
	&__img {
	}
	&__text {
		font-family: 'Lato', sans-serif;
		font-size: 20px;
		width: 155px;
		flex-grow: 1;
	}
}
