.contacts {
  position: relative;
  background: $black url("./../img/contacts__bg.jpg");
  background-size: cover;
  padding: 50px 0;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($grey, .9);
  }

  @media screen and (min-width: 768px) {
    padding: 100px 0;
  }

  .main__title,
  .main__text {
    color: $white;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    $size: 100px;
    width: $size;
    height: $size;
    border-radius: 50%;
    background: $blue;
    @include text-styling($s6, 400, $white);
    margin-bottom: 30px;
  }

  &__info {
    @include text-styling($base-size, 400, $white);
    letter-spacing: 1px;

    @media screen and (min-width: 992px) {
      @include text-styling($s2, 400, $white);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 992px) {
      padding: 0 50px;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &-input::placeholder,
    &-textarea::placeholder {
      @include text-styling($s2, 400, $grey);
    }

    &-input,
    &-textarea {
      border: none;
      @include text-styling($s2, 400, $grey);
      letter-spacing: 1px;
      border-radius: 10px;
      padding: 5px 10px;

      @media screen and (min-width: 768px) {
        padding: 20px 10px;
      }
    }

    &-input {
      width: 100%;

      @media screen and (min-width: 768px) {
        width: 48%;
      }
    }

    &-textarea {
      min-height: 150px;
      margin-bottom: 20px;

      @media screen and (min-width: 768px) {
        min-height: 300px;
      }
    }

    &-wrapperBtn {
      display: flex;
      justify-content: flex-end;
    }

    &-btn {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $white;
      border: none;
      border-radius: 10px;
      @include text-styling($base-size, 700, $grey);
      letter-spacing: 1px;
      text-transform: uppercase;
      padding: 10px 0;

      @media screen and (min-width: 768px) {
        max-width: 200px;
        @include text-styling($s2, 700, $grey);
        padding: 20px 0;
      }
    }
  }
}
