.header {
  position: relative;
  min-height: 100vh;

  &__bg {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: $black url("./../img/header__bg.jpg");
    background-size: cover;
    filter: brightness(0.2);
    z-index: 0;
  }

  .headerTopNav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__top {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    background: rgba($white, 0.9);
    padding: 15px 0;
    z-index: 3;

    @media screen and (min-width: 576px) {
      padding: 30px 0;
    }
  }

  &__logo {
    display: block;
    @include text-styling($s3, 700, $grey);
    line-height: 22px;
    transition: color 0.3s ease;

    &:hover {
      color: $green;
    }
  }

  #nav-icon2 {
    display: flex;
    justify-content: flex-end;
    width: 60px;
    height: 45px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  #nav-icon2 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 50%;
    background: $green;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  #nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }

  #nav-icon2 span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
  }

  #nav-icon2 span:nth-child(1),
  #nav-icon2 span:nth-child(2) {
    top: 0px;
  }

  #nav-icon2 span:nth-child(3),
  #nav-icon2 span:nth-child(4) {
    top: 18px;
  }

  #nav-icon2 span:nth-child(5),
  #nav-icon2 span:nth-child(6) {
    top: 36px;
  }

  #nav-icon2.open span:nth-child(1),
  #nav-icon2.open span:nth-child(6) {
    transform: rotate(45deg);
  }

  #nav-icon2.open span:nth-child(2),
  #nav-icon2.open span:nth-child(5) {
    transform: rotate(-45deg);
  }

  #nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }

  #nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }

  #nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  #nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  #nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 29px;
  }

  #nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
  }

  &__nav {
    display: none;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (min-width: 768px) {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &-link {
      @include text-styling($s2, 400, $grey);
      line-height: 22px;
      letter-spacing: 1px;
      text-transform: capitalize;
      transition: color 0.3s ease;

      &:hover {
        color: $green;
      }
    }
  }

  &__content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
  }

  &__title {
    @include text-styling($s3, 400, $white);
    letter-spacing: 3px;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
      @include text-styling($s5, 400, $white);
      margin-bottom: 25px;
    }

    @media screen and (min-width: 992px) {
      @include text-styling($s6, 400, $white);
    }
  }

  &__text {
    @include text-styling($base-size, 400, $white);
    letter-spacing: 1.1px;

    @media screen and (min-width: 768px) {
      @include text-styling($s3, 400, $white);
    }
  }

  &__btn {
    width: 100%;
    min-width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $second-font;
    @include text-styling($s2, 700, $white);
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 3px solid;
    padding: 25px 0;

    &:hover {
      color: $white;
    }

    &-left {
      border-color: $white;
    }

    &-right {
      background: $green;
      border-color: $green;
    }
  }

  &__arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 7%;
    left: 50%;
    $size: 25px;
    height: $size;
    width: $size;
    transform: translateX(-50%);

    &-btn {
      $size: 15px;
      width: $size;
      height: $size;
      border-right: 3px solid $white;
      border-bottom: 3px solid $white;
      transform: rotate(45deg);
    }
  }
}
