<div class="container">
		<nav class="menu">

			<span class="menu__mobile-btn" id="mobBtn">
				<span></span>
				<span></span>
				<span></span>
			</span>

				<ul class="menu__list">
					<li class="menu__list-item">
						<a href="#" class="menu__list-link">Item1</a>
					</li>
					<li class="menu__list-item">
						<a href="#" class="menu__list-link">Item1</a>
					</li>
					<li class="menu__list-item">
						<a href="#" class="menu__list-link">Item1</a>
					</li>
					<li class="menu__list-item">
						<a href="#" class="menu__list-link">Item1</a>
					</li>
					<li class="menu__list-item">
						<a href="#" class="menu__list-link">Item1</a>
					</li>
				</ul>
			</nav>
</div>