<section class="blog" id="blog">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-lg-4 sec-con">
				<h2 class="sec-con__title">Our stories</h2>
				<p class="sec-con__text">Latest blog</p>
				<span class="sec-con__line"></span>
			</div>
		</div> <!-- sec-con -->
		<div class="row">
			<div class="col-md-4 mb-3 mb-md-0">
				<div class="blog__wrap">
						<div class="img-wrapper">
								<img src="img/blog1.jpg" alt="blog" class="blog__item">
							</div>
							<div class="blog__content">
								<h3 class="blog__title">Lorem ipsum dolor sit amet</h3>
								<p class="blog__text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
									aliqua.</p>
								<div class="blog__date">
									<p class="date__number">15</p>
									<span class="date__month ">Jan</span>
								</div>
							</div> <!-- /.blog__content -->
							<div class="blog__rating">
								<span class="blog__view"><i class="fas fa-eye"></i>542</span>
								<span class="blog__comment"><i class="fas fa-comment-dots"></i>17</span>
							</div>	<!-- /.blog__rating -->
				</div>
			</div> <!-- /.col-4 -->

			<div class="col-md-4 mb-3 mb-md-0">
					<div class="blog__wrap">
							<div class="img-wrapper">
									<img src="img/blog2.jpg" alt="blog" class="blog__item">
								</div>
								<div class="blog__content">
									<h3 class="blog__title">sed do eiusmod tempor</h3>
									<p class="blog__text">Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<div class="blog__date">
										<p class="date__number">14</p>
										<span class="date__month ">Jan</span>
									</div>
								</div> <!-- /.blog__content -->
								<div class="blog__rating">
									<span class="blog__view"><i class="fas fa-eye"></i>992</span>
									<span class="blog__comment"><i class="fas fa-comment-dots"></i>42</span>
								</div>	<!-- /.blog__rating -->
					</div>
				</div> <!-- /.col-4 -->

				<div class="col-md-4">
						<div class="blog__wrap">
								<div class="img-wrapper">
										<img src="img/blog3.jpg" alt="blog" class="blog__item">
									</div>
									<div class="blog__content">
										<h3 class="blog__title">incididunt ut labore et dolore</h3>
										<p class="blog__text">Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
										<div class="blog__date">
											<p class="date__number">12</p>
											<span class="date__month ">Jan</span>
										</div>
									</div> <!-- /.blog__content -->
									<div class="blog__rating">
										<span class="blog__view"><i class="fas fa-eye"></i>1560</span>
										<span class="blog__comment"><i class="fas fa-comment-dots"></i>98</span>
									</div>	<!-- /.blog__rating -->
						</div>
					</div> <!-- /.col-4 -->
		
		</div>	<!-- /.row -->
	</div>
</section>