<section class="clients">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-xl-4 sec-con">
				<h2 class="sec-con__title">Happy Clients</h2>
				<p class="sec-con__text">What people say</p>
				<span class="sec-con__line"></span>
			</div>
		</div> <!-- sec-con -->

		<div class="row pt-md-5 mb-3">
			<div class="col-md-6 d-flex align-items-start mb-3 mb-md-0">
				<div class="clients__author">
					<img src="img/client-1.png" alt="client" class="clients__avatar">
				</div>
				<div class="clients__content">
					<h3 class="clients__title">Matthew Dix</h3>
					<p class="clients__subtitle">Graphic Design</p>
					<span class="clients__line"></span>
					<p class="clients__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
				</div>
			</div>
			<div class="col-md-6 d-flex align-items-start">
				<div class="clients__author">
					<img src="img/client-2.png" alt="client" class="clients__avatar">
				</div>
				<div class="clients__content">
					<h3 class="clients__title">Nick Karvounis</h3>
					<p class="clients__subtitle">Graphic Design</p>
					<span class="clients__line"></span>
					<p class="clients__text">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
						dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 d-flex align-items-start mb-3 mb-md-0">
				<div class="clients__author">
					<img src="img/client-3.png" alt="client" class="clients__avatar">
				</div>
				<div class="clients__content">
					<h3 class="clients__title">Jaelynn Castillo </h3>
					<p class="clients__subtitle">Graphic Design</p>
					<span class="clients__line"></span>
					<p class="clients__text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
						ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				</div>
			</div>
			<div class="col-md-6 d-flex align-items-start">
				<div class="clients__author">
					<img src="img/client-4.png" alt="client" class="clients__avatar">
				</div>
				<div class="clients__content">
					<h3 class="clients__title">Mike Petrucci</h3>
					<p class="clients__subtitle">Graphic Design</p>
					<span class="clients__line"></span>
					<p class="clients__text">Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim.</p>
				</div>
			</div>
		</div>
	</div>
</section>