<section class="design">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-xl-4 sec-con">
				<h2 class="sec-con__title">For all devices</h2>
				<p class="sec-con__text">Unique design</p>
				<span class="sec-con__line"></span>
			</div>
		</div> <!-- sec-con -->
		<div class="row justify-content-center">
			<div class="col-6">
				<div class="design__img-wrap">
					<img src="img/tablet.png" alt="tablet" class="design__img">
					<div class="design__phone-wrap">
						<div class="design__phone">
							<img src="img/fea-mobile.png" alt="phone">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>