<section class="facts">
	<div class="container">
		<div class="row">
			<div class="col">
				<ul class="facts__list">
					<li class="facts__item">
						<span class="facts__number">42</span>
						<p class="facts__text">web design Ppojects</p>
					</li>
					<li class="facts__item">
						<span class="facts__number">123</span>
						<p class="facts__text">happy client</p>
					</li>
					<li class="facts__item">
						<span class="facts__number">15</span>
						<p class="facts__text">award winner</p>
					</li>
					<li class="facts__item">
						<span class="facts__number">99</span>
						<p class="facts__text">cup of coffee</p>
					</li>
					<li class="facts__item">
						<span class="facts__number">24</span>
						<p class="facts__text">members</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>