<header class="first-screen">
	<div class="container">
		<div class="row">
			<div class="col-2">
				<a href="#" class="logo__link">MoGo</a>
			</div>
			<div class="col-7 offset-3 d-flex align-items-center">
				<nav class="menu">
					<ul class="menu__list d-flex justify-content-end mb-0">
						<li class="menu__item">
							<a href="#" class="menu__link active">About</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">service</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">work</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">blog</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">contact</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								<i class="fas fa-shopping-cart"></i>
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								<i class="fas fa-search"></i>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div> <!-- menu -->

		<div class="row justify-content-center">
			<div class="col-10 d-flex flex-column align-items-center fs-content">
				<h1 class="first-screen__title">Creative Template</h2>
					<p class="first-screen__text">Welcome to MoGo</p>
					<span class="first-screen__line"></span>
					<button class="first-screen__btn" type="submit">Learn more</button>
			</div>
		</div> <!-- title -->

		<div class="row">
			<div class="col">
				<ul class="sub-menu">
					<li class="sub-menu__item">
						<a href="#" class="sub-menu__link">
							<p class="sub-menu__text"><span class="sub-menu__number">01</span> Intro</p>
						</a>
					</li>
					<li class="sub-menu__item">
						<a href="#" class="sub-menu__link">
							<p class="sub-menu__text"><span class="sub-menu__number">02</span> Work</p>
						</a>
					</li>
					<li class="sub-menu__item">
						<a href="#" class="sub-menu__link">
							<p class="sub-menu__text"><span class="sub-menu__number">03</span> About</p>
						</a>
					</li>
					<li class="sub-menu__item">
						<a href="#" class="sub-menu__link">
							<p class="sub-menu__text"><span class="sub-menu__number">04</span> Contacts</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>