<header class="first-screen">
	<div class="container">
		<div class="row">
			<div class="col-lg-2">
				<a href="#" class="logo__link">MoGo</a>
			</div>
			<div class="col-lg-7 offset-lg-3 d-flex align-items-center">
				<nav class="menu">
					<div class="burger-menu">
						<a href="#">
							<span class="bar" id="top"></span>
							<span class="bar" id="middle"></span>
							<span class="bar" id="bottom"></span>
						</a>
					</div>
					<ul class="menu__list-mobile d-lg-flex justify-content-lg-between mb-0" id="desktop">
						<li class="menu__item">
							<a href="#" class="menu__link active" id="block-1">About</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link" id="block-2">service</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link" id="block-3">work</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link" id="block-4">blog</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link" id="block-5">contact</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								<i class="fas fa-shopping-cart"></i>
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								<i class="fas fa-search"></i>
							</a>
						</li>
					</ul>



				</nav>
			</div>
		</div> <!-- menu -->

		<div class="row justify-content-center">
			<div class="col-12 col-xl-8 d-flex flex-column align-items-center fs-content">
				<h1 class="first-screen__title">Creative Template</h2>
					<p class="first-screen__text">Welcome to MoGo</p>
					<span class="first-screen__line"></span>
					<button class="first-screen__btn" type="submit">Learn more</button>
			</div>
		</div> <!-- title -->

		<div class="row">
			<div class="col-12">
				<div class="first-screen__slider">
					<div class="first-screen__slider-item">
						<span class="first-screen__slider-number">01</span>
						<p class="first-screen__slider-text">intro</p>
					</div>
					<div class="first-screen__slider-item">
						<span class="first-screen__slider-number">02</span>
						<p class="first-screen__slider-text">work</p>
					</div>
					<div class="first-screen__slider-item">
						<span class="first-screen__slider-number">03</span>
						<p class="first-screen__slider-text">about</p>
					</div>
					<div class="first-screen__slider-item">
						<span class="first-screen__slider-number">04</span>
						<p class="first-screen__slider-text">contacts</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>