<section class="footer" id="footer">
	<div class="container">
		<div class="row b-btm">
			<div class="col-5">
				<div class="footer__content">
					<h2 class="footer__title">MoGo</h2>
					<p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat.</p>
					<p class="footer__follower"><span class="footer__number">15k</span>followers</p>
				</div>
				<div class="footer__follow">
					<span class="follow__text">follow us:</span>
					<ul class="follow__list">
						<li class="follow__item">
							<a href="" class="follow__link">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li class="follow__item">
							<a href="" class="follow__link">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li class="follow__item">
							<a href="" class="follow__link">
								<i class="fab fa-instagram"></i>
							</a>
						</li>
						<li class="follow__item">
							<a href="" class="follow__link">
								<i class="fab fa-pinterest-p"></i>
							</a>
						</li>
						<li class="follow__item">
							<a href="" class="follow__link">
								<i class="fab fa-google-plus-g"></i>
							</a>
						</li>
						<li class="follow__item">
							<a href="" class="follow__link">
								<i class="fab fa-youtube"></i>
							</a>
						</li>
						<li class="follow__item">
							<a href="" class="follow__link">
								<i class="fab fa-dribbble"></i>
							</a>
						</li>
						<li class="follow__item">
							<a href="" class="follow__link">
								<i class="fab fa-tumblr"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="footer__form">
					<div class="input-group">
						<input type="email" class="form-control" placeholder="Your Email..." aria-label="Your Email"
							aria-describedby="basic-addon2">
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="button">subscribe</button>
						</div>
					</div>
				</div>

			</div>
			<div class="col-4">
				<h3 class="footer__blog">blogs</h3>
				<div class="footer-blog__wrap">
					<div class="img-blog-wrapper">
						<img src="img/footer1.jpg" alt="footer">
					</div>
					<div class="footer-blog__content">
						<p class="footer-blog__text">Lorem ipsum dolor sit amet,
							consectetur adipiscing</p>
						<span class="footer-blog__date">Jan 9, 2016</span>
					</div>
				</div> <!-- /.footer-blog__wrap -->

				<div class="footer-blog__wrap">
					<div class="img-blog-wrapper">
						<img src="img/footer2.jpg" alt="footer">
					</div>
					<div class="footer-blog__content">
						<p class="footer-blog__text">Consectetur adipiscing elit,
							sed do eiusmod tempor</p>
						<span class="footer-blog__date">Jan 9, 2016</span>
					</div>
				</div> <!-- /.footer-blog__wrap -->

				<div class="footer-blog__wrap">
					<div class="img-blog-wrapper">
						<img src="img/footer3.jpg" alt="footer">
					</div>
					<div class="footer-blog__content">
						<p class="footer-blog__text">sed do eiusmod tempor
							incididunt ut labore</p>
						<span class="footer-blog__date">Jan 9, 2016</span>
					</div>
				</div> <!-- /.footer-blog__wrap -->
			</div>
			<div class="col-3">
				<h3 class="footer__instagram">instagram</h3>
				<div class="footer-instagram__wrap">
					<div class="img-instagram-wrapper">
						<img src="img/f-inst1.jpg" alt="instagram">
					</div> <!-- /.img-instagram-wrapper -->
					<div class="img-instagram-wrapper">
						<img src="img/f-inst2.jpg" alt="instagram">
					</div> <!-- /.img-instagram-wrapper -->
					<div class="img-instagram-wrapper">
						<img src="img/f-inst3.jpg" alt="instagram">
					</div> <!-- /.img-instagram-wrapper -->
					<div class="img-instagram-wrapper">
						<img src="img/f-inst4.jpg" alt="instagram">
					</div> <!-- /.img-instagram-wrapper -->
					<div class="img-instagram-wrapper">
						<img src="img/f-inst5.jpg" alt="instagram">
					</div> <!-- /.img-instagram-wrapper -->
					<div class="img-instagram-wrapper">
						<img src="img/f-inst6.jpg" alt="instagram">
					</div> <!-- /.img-instagram-wrapper -->
					<div class="img-instagram-wrapper">
						<img src="img/f-inst7.jpg" alt="instagram">
					</div> <!-- /.img-instagram-wrapper -->
					<div class="img-instagram-wrapper">
						<img src="img/f-inst8.jpg" alt="instagram">
					</div> <!-- /.img-instagram-wrapper -->
					<div class="img-instagram-wrapper">
						<img src="img/f-inst9.jpg" alt="instagram">
					</div> <!-- /.img-instagram-wrapper -->
				</div>
				<a href="#" class="footer-instagram__view">View more photos</a>
			</div>
		</div>
		<div class="row d-flex justify-content-center">
			<div class="col-4">
				<div class="footer-copy">
					<p class="footer-text__copy">© 2016 MoGo free PSD template by <a class="footer-link__copy" href="#">Laaqiq</a></p>
				</div>
			</div>
		</div>
	</div>
</section>