<section class="our-team">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-4 sec-con">
				<h2 class="sec-con__title">Who we are</h2>
				<p class="sec-con__text">Meet our team</p>
				<span class="sec-con__line"></span>
			</div>
		</div> <!-- sec-con -->
		<div class="row mb-5">
			<div class="col-10 offset-1">
				<p class="sec-con__sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
					incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
					laboris nisi ut
					aliquip ex ea commodo consequat. </p>
			</div>
		</div>
			<div class="row">
				<div class="col-4">
					<figure class="figure">
						<div class="img-wrapper">
							<img class="img-avatar" src="img/team-1.jpg" alt="team">
							<ul class="our-team__list">
								<li class="our-team__item">
									<a href="#" class="our-team__link" target="blank">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li class="our-team__item">
									<a href="#" class="our-team__link" target="blank">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li class="our-team__item">
									<a href="#" class="our-team__link" target="blank">
										<i class="fab fa-pinterest-p"></i>
									</a>
								</li>
								<li class="our-team__item">
									<a href="#" class="our-team__link" target="blank">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
							</ul> <!-- our-team__list -->
						</div>
						<figcaption class="figure-caption">Matthew Dix</figcaption>
						<span class="figure-text">Graphic Design</span>
						
					</figure> <!-- figure -->
					
				</div>
				<!-- /.col-4 -->
				<div class="col-4">
						<figure class="figure">
								<div class="img-wrapper">
									<img class="img-avatar" src="img/team-2.jpg" alt="team">
									<ul class="our-team__list">
										<li class="our-team__item">
											<a href="#" class="our-team__link" target="blank">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li class="our-team__item">
											<a href="#" class="our-team__link" target="blank">
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li class="our-team__item">
											<a href="#" class="our-team__link" target="blank">
												<i class="fab fa-pinterest-p"></i>
											</a>
										</li>
										<li class="our-team__item">
											<a href="#" class="our-team__link" target="blank">
												<i class="fab fa-instagram"></i>
											</a>
										</li>
									</ul> <!-- our-team__list -->
								</div>
								<figcaption class="figure-caption">Christopher Campbell</figcaption>
								<span class="figure-text">Branding/UX design</span>
								
							</figure> <!-- figure -->
				</div>
				<!-- /.col-4 -->
				<div class="col-4">
						<figure class="figure">
								<div class="img-wrapper">
									<img class="img-avatar" src="img/team-3.jpg" alt="team">
									<ul class="our-team__list">
										<li class="our-team__item">
											<a href="#" class="our-team__link" target="blank">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li class="our-team__item">
											<a href="#" class="our-team__link" target="blank">
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li class="our-team__item">
											<a href="#" class="our-team__link" target="blank">
												<i class="fab fa-pinterest-p"></i>
											</a>
										</li>
										<li class="our-team__item">
											<a href="#" class="our-team__link" target="blank">
												<i class="fab fa-instagram"></i>
											</a>
										</li>
									</ul> <!-- our-team__list -->
								</div>
								<figcaption class="figure-caption">Michael Fertig </figcaption>
								<span class="figure-text">Developer</span>
							
							</figure> <!-- figure -->
				</div>
				<!-- /.col-4 -->
			</div>
		</div>
</section>