<section class="testimonial">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-10 d-flex align-items-center">
	
					<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
	
								<div class="testimonial-wrap">
									<div class="testimonial-avatar">
										<img src="../img/testimonial.png" alt="">
									</div>
									<blockquote class="blockquote mb-0">
										<p class="blockquote-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
											eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
											exercitation.”</p>
										<span class="blockquote-author">Jon Doe</span>
									</blockquote>
								</div> <!-- quote-wrap -->
	
							</div>
							<div class="carousel-item">
	
									<div class="testimonial-wrap">
											<div class="testimonial-avatar">
												<img src="../img/testimonial.png" alt="">
											</div>
											<blockquote class="blockquote mb-0">
												<p class="blockquote-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
													eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
													exercitation.”</p>
												<span class="blockquote-author">Jon Doe</span>
											</blockquote>
										</div> <!-- quote-wrap -->
	
							</div>
							<div class="carousel-item">
	
									<div class="testimonial-wrap">
											<div class="testimonial-avatar">
												<img src="../img/testimonial.png" alt="">
											</div>
											<blockquote class="blockquote mb-0">
												<p class="blockquote-text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
													eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
													exercitation.”</p>
												<span class="blockquote-author">Jon Doe</span>
											</blockquote>
										</div> <!-- quote-wrap -->
	
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
	
				</div>
			</div>
	</section>