<section class="work" id="work">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-4 sec-con">
				<h2 class="sec-con__title">What we do</h2>
				<p class="sec-con__text">some of our work</p>
				<span class="sec-con__line"></span>
			</div>
		</div> <!-- sec-con -->

		<div class="row mb-5">
			<div class="col-10 offset-1">
				<p class="sec-con__sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
					incididunt
					ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. </p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-3">
				<div class="row d-flex flex-column">
					<div class="col-6">
						<div class="img-hover img-wrapper">
							<img src="../img/work1.jpg" alt="work">
						</div>
					</div>
					<div class="col-6">
						<div class="img-hover img-wrapper">
							<img src="../img/work2.jpg" alt="work">
						</div>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="row d-flex flex-column">
					<div class="col-6">
						<div class="img-hover img-wrapper">
							<img src="../img/work3.jpg" alt="work">
						</div>
					</div>
					<div class="col-6">
						<div class="img-hover img-wrapper">
							<img src="../img/work4.jpg" alt="work">
						</div>
					</div>
				</div>
			</div>
			<div class="col-3">
				<div class="img-hover img-wrap">
						<img src="../img/work5.jpg" alt="work">
				</div>
			</div>
			<div class="col-3">
				<div class="row d-flex flex-column">
						<div class="col-6">
								<div class="img-hover img-wrapper">
									<img src="../img/work6.jpg" alt="work">
								</div>
							</div>
							<div class="col-6">
								<div class="img-hover img-wrapper">
									<img src="../img/work7.jpg" alt="work">
								</div>
							</div>
				</div>
			</div>
		</div>
	</div>
</section>