<section class="wwd" id="wwd">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-4 sec-con">
				<h2 class="sec-con__title">What we do</h2>
				<p class="sec-con__text">Story about us</p>
				<span class="sec-con__line"></span>
			</div>
		</div> <!-- sec-con -->

		<div class="row mb-5">
			<div class="col-10 offset-1">
				<p class="sec-con__sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
					incididunt
					ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. </p>
			</div>
		</div>

		<div class="row">
			<div class="col-4">
				<div class="wwd__img-wrap">
					<a href="#" class="wwd__link">
						<img src="img/about-1.jpg" alt="about-1" class="wwd__img">
						<div class="wwd__wrap">
							<span class="wwd__icon"><i class="fas fa-user-friends"></i></span>
							<p class="wwd__text">super team</p>
						</div>
					</a>
				</div>

			</div>
			<div class="col-4">
				<div class="wwd__img-wrap">
					<a href="#" class="wwd__link">
						<img src="img/about-2.jpg" alt="about-2" class="wwd__img">
						<div class="wwd__wrap">
							<span class="wwd__icon"><i class="fas fa-user-friends"></i></span>
							<p class="wwd__text">super team</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-4">
				<div class="wwd__img-wrap">
					<a href="#" class="wwd__link">
						<img src="img/about-3.jpg" alt="about-3" class="wwd__img">
						<div class="wwd__wrap">
							<span class="wwd__icon"><i class="fas fa-user-friends"></i></span>
							<p class="wwd__text">super team</p>
						</div>
					</a>
				</div>
			</div>
		</div>

	</div>
</section>