<header class="header">
  <div class="container mb-10">

    <div class="row d-flex align-items-center mb-3 mb-lg-5">
      <div class="col-6">
        <a href="#" class="header__logo">
          <img src="./img/header__logo.png" alt="Logo" class="header__logo-img">
          <p class="header__logo-text">organical</p>
        </a> <!-- End .header__logo -->
      </div>
      <div class="col-6">
        <ul class="header__list">
          <li class="header__list-item">
            <a href="#" class="header__list-link">contact</a>
          </li>
          <li class="header__list-item">
            <a href="#" class="header__list-link">support</a>
          </li>
        </ul> <!-- End .header__list -->
      </div>
    </div>

    <div class="row mb-3 mb-lg-5">
      <div class="col-12 d-flex flex-column align-items-center">
        <div class="header__wrap-title">
          <img src="./img/green__sheet.png" alt="GreenSheet" class="header__title-icon">
          <h1 class="header__title">Get your organic food <span class="header__title-bold">for Free</span></h1>
        </div>
        <div class="header__wrap-text">
          <p class="header__text">fast</p>
          <p class="header__text">safe</p>
          <p class="header__text">delicious</p>
        </div> <!-- End .header__wrap-text -->
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6 d-flex justify-content-end mb-3 mb-md-0">
        <div class="header__wrapper">
          <img src="./img/vegetables.png" alt="vegetables" class="header__wrapper-img">
        </div>
      </div>
      <div class="col-md-6">
        <form action="#" class="header__form">
          <h3 class="header__form-title">Give us a FREE try!</h3>
          <p class="header__form-text">Signup Now to get your <span class="header__form-txtBold">free</span> shippment
            of Organic Food!
          </p>

          <div class="header__form-wrapper">

            <div class="header__form-wrapEmail inner__input">
              <label for="formEmail">Email Address (Case Sensitive)</label>
              <input type="email" id="formEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
            </div>
            <div class="header__form-wrapPswrd inner__input">
              <label for="formPswrd">Password (+6 Characters)</label>
              <input type="password" id="formPswrd" maxlength="10" pattern="[0-9]{10}" required>
            </div>
            <a href="#" class="header__form-link">Existing users please enter here</a>
            <div class="header__form-wrappBtn">
              <input type="submit" class="header__form-btn" name="submit" value="Signup Now">
              <img class="header__form-arrow" src="./img/arrow.png" alt="Arrow">
            </div>
            <p class="header__form-privacy">
              We value your privacy. We will not sell or rent your email
              address to third parties. See our <a href="#" class="header__form-privacyLink">Terms & Conditions</a> and
              <a href="#" class="header__form-privacyLink">Privacy Policy</a> for more details.
            </p>
          </div>
        </form>
      </div>
    </div>
  </div> <!-- End .container -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-4 px-0">
        <div class="header__points pointsOne">
          <img src="./img/points_1.png" alt="Point_1" class="header__points-icon">
          <p class="header__points-text">Free of chemicals</p>
        </div>
      </div>
      <div class="col-12 col-lg-4 px-0">
        <div class="header__points pointsTwo">
          <img src="./img/points_2.png" alt="Point_2" class="header__points-icon">
          <p class="header__points-text">No shopping costs within Canada</p>
        </div>
      </div>
      <div class="col-12 col-lg-4 px-0">
        <div class="header__points pointsFree">
          <img src="./img/points_3.png" alt="Point_3" class="header__points-icon">
          <p class="header__points-text">Cancel your account at any time, no hassles</p>
        </div>
      </div>
    </div>
  </div> <!-- End .container-fluid -->

</header> <!-- End .header -->