<section class="packages">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="packages__title">Choose your Free Trial Package</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 mb-4 mb-md-0">
        <div class="packages__card">
          <h4 class="packages__card-subtitle">free trial</h4>
          <h3 class="packages__card-title">Natural Fruits and Vegetables</h3>
          <p class="packages__card-text">
            Ensure your body is stocked with nutritious fruits and vegetables. We take care of your food, while you live
            your life
            the to the fulest.
          </p>
          <a href="#" class="packages__card-link">learn more</a>
          <div class="packages__card-wrap">
            <div class="packages__card-wrapperImg">
              <img src="./img/card_1.jpg" alt="card_1" class="packages__card-img">
            </div>
            <a href="#" class="packages__card-btn">get started now</a>
          </div>
        </div> <!-- End .packages__card -->
      </div>

      <div class="col-12 col-md-6">
        <div class="packages__card">
          <h4 class="packages__card-subtitle">free trial</h4>
          <h3 class="packages__card-title">Organicly fed protein products</h3>
          <p class="packages__card-text">
            Ensure your body is stocked with protein-high and savory products, such as cheeses and raw meat. We take
            care of your food, while you live your life the to the fulest.
          </p>
          <a href="#" class="packages__card-link">learn more</a>
          <div class="packages__card-wrap">
            <div class="packages__card-wrapperImg">
              <img src="./img/card_2.png" alt="card_2" class="packages__card-img">
            </div>
            <a href="#" class="packages__card-btn">get started now</a>
          </div>
        </div> <!-- End .packages__card -->
      </div>
    </div>
  </div>
</section> <!-- End .packages -->