<section class="whatWeDo">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <h2 class="whatWeDo__title">what we do best</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-3 mb-md-0">
        <div class="whatWeDo__card">
          <img src="./img/wwd__icon-1.jpg" alt="wwd__icon-1" class="whatWeDo__card-icon">
          <h3 class="whatWeDo__card-title">healthy</h3>
          <p class="whatWeDo__card-text">
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante
            ipsum primis
            in faucibus orci luctus et ultrices posuere cubilia Curae;
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante
            ipsum primis
            in faucibus orci luctus et ultrices posuere cubilia Curae;
          </p>
        </div> <!-- End .whatWeDo__card -->
      </div>

      <div class="col-12 col-md-4 mb-3 mb-md-0">
        <div class="whatWeDo__card">
          <img src="./img/wwd__icon-2.jpg" alt="wwd__icon-2" class="whatWeDo__card-icon">
          <h3 class="whatWeDo__card-title">happy</h3>
          <p class="whatWeDo__card-text">
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante
            ipsum primis
            in faucibus orci luctus et ultrices posuere cubilia Curae;
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante
            ipsum primis
            in faucibus orci luctus et ultrices posuere cubilia Curae;
          </p>
        </div> <!-- End .whatWeDo__card -->
      </div>

      <div class="col-12 col-md-4">
        <div class="whatWeDo__card">
          <img src="./img/wwd__icon-3.jpg" alt="wwd__icon-3" class="whatWeDo__card-icon">
          <h3 class="whatWeDo__card-title">beautiful</h3>
          <p class="whatWeDo__card-text">
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante
            ipsum primis
            in faucibus orci luctus et ultrices posuere cubilia Curae;
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante
            ipsum primis
            in faucibus orci luctus et ultrices posuere cubilia Curae;
          </p>
        </div> <!-- End .whatWeDo__card -->
      </div>
    </div>
  </div>
</section> <!-- End .whatWeDo -->