<section class="first-screen">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="owl-carousel owl-theme">
					<div class="slider">
						<h2 class="slider__title">Дорогие братья и сестры</h2>
						<p class="slider__text">Приглашаем Вас каждое воскресенье в 13.00 на молебен о
							строительстве Храма преподобного Саввы Сторожевского.
							Молебен служится на месте строительства по адресу: пл.
							Викторио Кодовильи, вл. 1 напротив бывшего кинотеатра
							“Енисей”
						</p>
					</div> <!-- End .slider -->
					<div class="slider">
						<h2 class="slider__title">Дорогие братья и сестры</h2>
						<p class="slider__text">Приглашаем Вас каждое воскресенье в 13.00 на молебен о
							строительстве Храма преподобного Саввы Сторожевского.
							Молебен служится на месте строительства по адресу: пл.
							Викторио Кодовильи, вл. 1 напротив бывшего кинотеатра
							“Енисей”
						</p>
					</div> <!-- End .slider -->
					<div class="slider">
						<h2 class="slider__title">Дорогие братья и сестры</h2>
						<p class="slider__text">Приглашаем Вас каждое воскресенье в 13.00 на молебен о
							строительстве Храма преподобного Саввы Сторожевского.
							Молебен служится на месте строительства по адресу: пл.
							Викторио Кодовильи, вл. 1 напротив бывшего кинотеатра
							“Енисей”
						</p>
					</div> <!-- End .slider -->
				</div> <!-- End .owl-carousel -->
			</div>
		</div>
	</div>
</section> <!-- End .first-screen -->