<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="header__title">Храм святого преподобного Саввы Сторожевского</h2>
				<p class="header__text">Местная религиозная организация Московской епархии Русской Православной Церкви
					(Московский Патриархат)</p>
				<ul class="header__menu">
					<li class="header__menu-item">
						<a href="#" class="header__menu-link">главная</a>
					</li>
					<li class="header__menu-item">
						<a href="#" class="header__menu-link">прп. Савва сторожевский</a>
					</li>
					<li class="header__menu-item">
						<a href="#" class="header__menu-link">жизнь прихода </a>
					</li>
					<li class="header__menu-item">
						<a href="#" class="header__menu-link">фотоальбом</a>
					</li>
					<li class="header__menu-item">
						<a href="#" class="header__menu-link">контакты </a>
					</li>
					<li class="header__menu-item">
						<a href="#" class="header__menu-link">пожертвования</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header> <!-- End .header -->