<section id="client" class="client">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 client__photo">
				<div class="img-wrapper">
					<img src="img/woman.jpg" alt="Woman" class="client__img">
				</div>
			</div> <!-- /.client__photo -->
			<div class="col-md-6 client__wrap">
				<div class="owl-carousel owl-theme">
					<div class="client__content">
						<blockquote class="client__content-quote">“Integer posuere erat a ante venenatis dapibus posuere velit
							aliquet. Donec sed odio dui. Aenean eu leo quam...”</blockquote>
						<p class="client__content-author">susan sims, interaction designer at xyz</p>
					</div> <!-- /.client__content -->
					<div class="client__content">
						<blockquote class="client__content-quote">“Integer posuere erat a ante venenatis dapibus posuere velit
							aliquet. Donec sed odio dui. Aenean eu leo quam...”</blockquote>
						<p class="client__content-author">susan sims, interaction designer at xyz</p>
					</div> <!-- /.client__content -->
					<div class="client__content">
						<blockquote class="client__content-quote">“Integer posuere erat a ante venenatis dapibus posuere velit
							aliquet. Donec sed odio dui. Aenean eu leo quam...”</blockquote>
						<p class="client__content-author">susan sims, interaction designer at xyz</p>
					</div> <!-- /.client__content -->
					<div class="client__content">
						<blockquote class="client__content-quote">“Integer posuere erat a ante venenatis dapibus posuere velit
							aliquet. Donec sed odio dui. Aenean eu leo quam...”</blockquote>
						<p class="client__content-author">susan sims, interaction designer at xyz</p>
					</div> <!-- /.client__content -->
					<div class="client__content">
						<blockquote class="client__content-quote">“Integer posuere erat a ante venenatis dapibus posuere velit
							aliquet. Donec sed odio dui. Aenean eu leo quam...”</blockquote>
						<p class="client__content-author">susan sims, interaction designer at xyz</p>
					</div> <!-- /.client__content -->
				</div> <!-- /.owl-carousel -->
			</div> <!-- /.client__wrap -->
		</div>
	</div>
</section> <!-- /.client -->