<section id="download" class="download">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-lg-10 col-xl-8">
				<div class="download__content">
					<h2 class="download__content-title">Are You Ready to Start? Download Now For Free!</h2>
					<p class="download__content-text">Fusce dapibus, tellus ac cursus commodo</p>
					<a href="#" class="download__content-btn">download here</a>
				</div>	<!-- /.download__content -->
			</div>
		</div>
	</div>
</section><!-- /.download -->