<section id="features" class="features">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
				<div class="features__content">
					<div class="features__content-icon">
						<img src="img/item-1.png" alt="Icon" class="feature__content-img">
					</div>
					<h2 class="features__content-title">easily customised</h2>
					<p class="features__content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis
						risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla</p>
				</div> <!-- /.features__content -->
			</div>
			<div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
				<div class="features__content">
					<div class="features__content-icon">
						<img src="img/item-2.png" alt="Icon" class="feature__content-img">
					</div>
					<h2 class="features__content-title">responsive ready</h2>
					<p class="features__content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis
						risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla</p>
				</div> <!-- /.features__content -->
			</div>
			<div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
				<div class="features__content">
					<div class="features__content-icon">
						<img src="img/item-3.png" alt="Icon" class="feature__content-img">
					</div>
					<h2 class="features__content-title">modern design</h2>
					<p class="features__content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis
						risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla</p>
				</div> <!-- /.features__content -->
			</div>
			<div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
				<div class="features__content">
					<div class="features__content-icon">
						<img src="img/item-4.png" alt="Icon" class="feature__content-img">
					</div>
					<h2 class="features__content-title">clean code</h2>
					<p class="features__content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis
						risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla</p>
				</div> <!-- /.features__content -->
			</div>
			<div class="col-md-6 col-lg-4 mb-5 mb-md-0">
				<div class="features__content">
					<div class="features__content-icon">
						<img src="img/item-5.png" alt="Icon" class="feature__content-img">
					</div>
					<h2 class="features__content-title">ready to ship</h2>
					<p class="features__content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis
						risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla</p>
				</div> <!-- /.features__content -->
			</div>
			<div class="col-md-6 col-lg-4">
				<div class="features__content">
					<div class="features__content-icon">
						<img src="img/item-6.png" alt="Icon" class="feature__content-img">
					</div>
					<h2 class="features__content-title">download for free</h2>
					<p class="features__content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis
						risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla</p>
				</div> <!-- /.features__content -->
			</div>
		</div>
	</div>
</section> <!-- /.features -->