<section class="footer">
	<div class="container-fluid">
		<div class="row footer-top">
			<div class="col-md-6 mb-5 mb-lg-0 col-lg-4 d-flex justify-content-center">
				<div class="footer__location">
					<h2 class="footer__title">location</h2>
					<p class="footer__text">3481 Melrose Place Beverly Hills, CA 90210</p>
				</div> <!-- /.footer__location -->
			</div>
			<div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
				<div class="footer__social">
					<h2 class="footer__title">share whith love</h2>
					<div class="footer__social-wrap">
						<a href="#" class="footer__social-wrapIcon" target="_blank">
							<i class="fab fa-facebook-f"></i>
						</a>
						<a href="#" class="footer__social-wrapIcon" target="_blank">
							<i class="fab fa-twitter"></i>
						</a>
						<a href="#" class="footer__social-wrapIcon" target="_blank">
							<i class="fab fa-linkedin"></i>
						</a>
					</div> <!-- /.footer__social-wrap -->
				</div> <!-- /.footer__social -->
			</div>
			<div class="col-lg-4 d-md-flex justify-content-center">
				<div class="footer__about">
					<h2 class="footer__title">about activebox</h2>
					<p class="footer__text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla
						non metus auctor fringilla.</p>
				</div>
			</div>
		</div> <!-- /.footer-top -->
		<div class="row footer-bottom d-flex justify-content-center">
			<div class="col-lg-4 text-center">
				<p class="footer__copy">
					Copyright © 2015 ActiveBox. All Rights Reserved
					Made with <i class="fas fa-heart"></i><span class="footer__copy-author"> by Kamal Chaneman</span>
				</p>
			</div>
		</div> <!-- /.footer-bottom -->
	</div>
</section>