<header class="header">
	<div class="container">
		<div class="row d-flex justify-content-between pt-4 pt-lg-5">
			<div class="col-4 col-lg-3">
				<a href="#" class="header__top-logo">
					<img src="img/logo.png" alt="Logo" class="header__top-img">
				</a>
			</div> <!-- .header__top-logo -->
			<div class="col-6 d-flex justify-content-lg-between align-items-lg-center">
				<nav class="header__top-menu">
					<a href="#" class="header__top-btn mb-2">
						<span class="header__top-line"></span>
					</a>	<!-- /.header__top-btn -->
					<div class="header__menu-desktop">
						<a href="#" class="header__top-menu-link">features</a>
						<a href="#" class="header__top-menu-link">works</a>
						<a href="#" class="header__top-menu-link">our team</a>
						<a href="#" class="header__top-menu-link">testimonials</a>
						<a href="#" class="header__top-menu-link">download</a>
					</div> <!-- /.header__menu-desktop -->
				</nav> <!-- /.header__top-menu -->
			</div>
		</div> <!-- /.header__top -->
		<div class="row d-md-flex justify-content-md-center header-content">
			<div class="col-lg-10">
				<div class="header__content">
					<h1 class="header__content-title">your favorite one page multi purpose template</h1>
					<p class="header__content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo
						cursus magna vel scelerisque nisl consectetur et.</p>
					<a href="#" class="header__content-btn">find out more</a>
				</div> <!-- /.header__content -->
			</div>
		</div>
	</div>
</header> <!-- /.header -->