<section id="blog" class="blog">
	<div class="container">
		<div class="row d-flex justify-content-center mb-5">
			<div class="col-12 col-lg-6 d-flex flex-column align-items-center">
				<h2 class="blog__title">blog</h2>
				<p class="blog__text">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
					nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
			</div>
		</div>
		<div class="row mb-lg-5 mb-4">
			<div class="col-lg-4 mb-3">
				<a href="#" class="blog__link">
					<div class="img__wrapper">
						<img src="img/blog-item1.jpg" alt="blog" class="blog__img">
						<div class="blog__date">
							<p class="blog__date-number">20</p>
							<span class="blog__date-month">nov</span>
						</div>
						<div class="blog__info">
							<p class="blog__info-text">Green Smoothies: Too Much of a Good Thing?</p>
							<span class="blog__info-author">By Auskteez - 2 hours ago</span>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 mb-3">
				<a href="#" class="blog__link">
					<div class="img__wrapper">
						<img src="img/blog-item2.jpg" alt="blog" class="blog__img">
						<div class="blog__date">
							<p class="blog__date-number">14</p>
							<span class="blog__date-month">nov</span>
						</div>
						<div class="blog__info">
							<p class="blog__info-text">Growing Food and a “Thirst” for Innovation</p>
							<span class="blog__info-author">By Auskteez - 3 hours ago</span>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4">
				<a href="#" class="blog__link">
					<div class="img__wrapper">
						<img src="img/blog-item3.jpg" alt="blog" class="blog__img">
						<div class="blog__date">
							<p class="blog__date-number">10</p>
							<span class="blog__date-month">nov</span>
						</div>
						<div class="blog__info">
							<p class="blog__info-text">Pesticides & Food: What You Need to Know</p>
							<span class="blog__info-author">By Auskteez - 6 hours ago</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<button class="main__btn">view more</button>
			</div>
		</div>
	</div>
</section>