<section id="contact" class="contact">
	<div class="container">
		<div class="row d-flex justify-content-center mb-5">
			<div class="col-12 col-lg-6 d-flex flex-column align-items-center">
				<h2 class="contact__title">contact</h2>
				<p class="contact__text">For new projects, ideas, business or anything
					you'd like to discuss, contact with me!</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 mb-3 mb-lg-0">
				<form action="#" class="contact__form">
					<input class="contact__name form-con" type="text" placeholder="Your name..." required>
					<input class="contact__email form-con" type="email" placeholder="Your email..."
						pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" required>
					<input class="contact__phone form-con" type="phone" placeholder="Your phone..." required>
					<textarea class="contact__mess form-con" placeholder="Your message..."></textarea>
				</form>
			</div>
			<div class="col-lg-4 offset-lg-1">
				<div class="contact__address-info mb-3">
					<p class="contact__text-info">address</p>
					<span class="contact__info">123 City name, Street, City, Country</span>
				</div>
				<div class="contact__address-info mb-3">
					<p class="contact__text-info">email</p>
					<span class="contact__info">cahee@domain.com</span>
				</div>
				<div class="contact__address-info">
					<p class="contact__text-info">phone</p>
					<span class="contact__info">+012 345 6789</span>
				</div>
			</div>
		</div>
	</div>
</section>