<footer class="footer">
	<div class="container">
		<div class="row d-lg-flex justify-content-center justify-content-lg-between align-items-lg-center">
<div class="col-lg-4 order-2 order-lg-0">
	<p class="footer__copy">© 2015 Company. All right reserved.</p>
</div>
<div class="col-lg-2 order-0 order-lg-1 mb-3 mb-lg-0">
	<a href="" class="footer__logo">Cahee</a>
</div>
<div class="col-lg-3 order-1 order-lg-2 mb-3 mb-lg-0">
	<p class="footer__text">Made with <span class="footer__text--red">love</span> by Auskteez</p>
</div>
		</div>
	</div>
</footer>