<section id="gallery" class="gallery">
	<div class="container">
		<div class="row d-flex justify-content-center mb-3">
			<div class="col-12 col-lg-6 d-flex flex-column align-items-center">
				<h2 class="gallery__title">gallery</h2>
				<p class="gallery__text">Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
					magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
			</div>
		</div>
		<div class="row mb-lg-3">
			<div class="col-lg-8 mb-3 mb-lg-0">
				<div class="img__wrapper-large">
					<img src="img/gallery-item1.jpg" alt="" class="gallery__img">
				</div>
			</div>
			<div class="col-lg-4">
				<div class="row">
					<div class="col-12 mb-3 mb-lg-4">
						<div class="img__wrapper-small">
							<img src="img/gallery-item2.jpg" alt="" class="gallery__img">
						</div>
					</div>
					<div class="col-12 mb-3 mb-lg-0">
						<div class="img__wrapper-small">
							<img src="img/gallery-item3.jpg" alt="" class="gallery__img">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-lg-5">
			<div class="col-lg-6 mb-3 mb-lg-0">
				<div class="img__wrapper">
					<img src="img/gallery-item4.jpg" alt="" class="gallery__img">
				</div>
			</div>
			<div class="col-lg-6 mb-3 mb-lg-0">
				<div class="img__wrapper">
					<img src="img/gallery-item5.jpg" alt="" class="gallery__img">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 d-flex justify-content-center">
				<button class="main__btn">view more</button>
			</div>
		</div>
	</div>
</section>