<section class="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 order-1 order-lg-0 d-flex justify-content-center">
				<ul class="services__list">
					<li class="services__item">
						<a href="#" class="services__link">
							<p class="services__item-text">Online Shopping</p>
							<img src="img/services-icon1.png" alt="icon" class="services__icon">
						</a>
					</li>
					<li class="services__item">
						<a href="#" class="services__link">
							<p class="services__item-text">Quality Product</p>
							<img src="img/services-icon2.png" alt="icon" class="services__icon">
						</a>
					</li>
					<li class="services__item">
						<a href="#" class="services__link">
							<p class="services__item-text">Domestic & International Delivery</p>
							<img src="img/services-icon3.png" alt="icon" class="services__icon">
						</a>
					</li>
					<li class="services__item">
						<a href="#" class="services__link">
							<p class="services__item-text">Well Organized</p>
							<img src="img/services-icon4.png" alt="icon" class="services__icon">
						</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-6 order-0 order-lg-1 d-flex align-items-center mb-3 mb-lg-0">
				<div class="services-wrap">
					<h2 class="services__title">our services</h2>
				</div>
			</div>
		</div>
	</div>
</section>