<section class="subscribe">
	<div class="container">
		<div class="row mb-3 mb-lg-4">
			<div class="col-lg-6">
				<h2 class="subscribe__title">subscribe to us</h2>
				<p class="subscribe__text">Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
					labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8">
				<form action="#" class="subscribe__form">
					<input class="subscribe__email mb-3 mb-md-0" type="email" placeholder="Your email address..." pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
						required>
					<input class="main__btn" type="submit" value="subscribe">
				</form>
			</div>
		</div>
</section>