/* TEAM
------------- */
.team {
	padding: 50px 0;

	@media all and (min-width: 768px) {
		padding: 75px 0;
	}

	@media all and (min-width: 991px) {
		padding: 100px 0;
	}

	.img-wrapper {
		margin-bottom: 25px;
		@include padding-hack(94%);
	}

	&__author {
		border-radius: 40px 40px 0px 0px;

		@media all and (min-width: 768px) {
			border-radius: 20px 20px 0px 0px;
		}

		@media all and (min-width: 991px) {
			border-radius: 10px 10px 0px 0px;
		}
	}

	&__content {
		margin-bottom: 30px;

		&-title {
			font-size: $middle-size;
			line-height: 1.3;
			color: $dark;
			text-transform: capitalize;
			margin-bottom: 5px;

			@media all and (max-width: 991px) {
				text-align: center;
			}
		}

		&-subtitle {
			color: $red;
			font-size: $small-size;
			line-height: 1.3;
			text-transform: uppercase;
			margin-bottom: 25px;

			@media all and (max-width: 991px) {
				text-align: center;
			}
		}

		&-text {
			color: $grey-text;
			line-height: 1.5;
		}
	}

	&__social {
		display: flex;

		@media all and (max-width: 991px) {
			justify-content: center;
		}

		&-item {
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
			}
		}

		&-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;
			border: 1px solid $grey-icon;
			color: $grey-icon;
			transition: color .3s ease;

			&:hover {
				color: $red;
			}
		}
	}
}

/* /.TEAM
------------- */