// COLORS:

$dark-blue: #313454;
$light-blue: #3a3e64;
$white: #ffffff;
$black: #000000;
$copy: #808080;
$grey-text: #6c7279;
$violet: #53354a;
$dark: #2d3033;
$grey-icon: #c6cacc;
$red: #e84545;

// SIZE:

$big-size:	65px;
$huge-size:	36px;
$large-size:	28px;
$middle-size:	22px;
$base-size:	14px;
$small-size:	13px;

// FONTS:

$main-font: 'Raleway', sans-serif;
$sec-font: 'Open Sans', sans-serif;
$slider-font: 'Cardo', serif;

@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Open+Sans:400,700|Raleway:300,400,700&display=swap');

// font-family: 'Cardo', serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;