html,
body {
	min-height: 100vh;
}

body {
	background-color: $white;
	color: $black;
	font-family: $main-font;
	font-size: $base-size;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
}

a:hover {
	text-decoration: none;
}

.main-title {
	font-weight: 700;
	font-size: $main-title;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: $nav;
	margin-bottom: 30px;
}

.main-line {
	background: rgba(135, 135, 135, 0.5);
	width: 100px;
	height: 1px;
}