// COLORS:

$white: #ffffff;
$black: #000000;
$nav: #222222;
$red: #E7746F;

//SIZE:

@function px_to_rem($target, $context: $base-size) {
	@if $target==0 {
		@return 0
	}

	@return $target / $context+0rem;
}

$base-size: 16px;

$huge-size: px_to_rem(40px);
$main-title: px_to_rem(30px);
$large-size: px_to_rem(24px);
$middle-size: px_to_rem(18px);
$small-size: px_to_rem(12px);

// FONTS:

@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway:300,400,700');

$main-font: 'Raleway',
sans-serif;
$sec-font: 'Lobster',
cursive;

// font-family: 'Lobster', cursive;
// font-family: 'Raleway', sans-serif;
