.work {
	padding: 100px 0;

	&__link {
		display: block;
	}

	.img-wrapper {
		@include padding-hack(62%);
		width: 100%;
		max-width: 360px;
		border: 1px solid $nav;
	}

	// &__text {
	// 	position: absolute;
	// 	display: block;
	// 	top: 10%;
	// 	left: 50%;
	// 	transform: translate(-50%, -10%);
	// 	color: $nav;
	// 	font-size: $large-size;
	// 	font-weight: 700;
	// }
}