*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

html,
body
{
    min-height: 100vh;
}

body
{
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-size: 18px;

    color: #303030; 
    background-color: #eee;
}

a
{
    text-decoration: none;
}

li
{
    list-style: none;
}

.container
{
    width: 100%;
    max-width: 1200px;
    margin: 50px auto 0;
}
.container .header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 80px; 

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.container .header__logo
{
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: 900;

    text-transform: capitalize;
}
.container .header__link
{
    -webkit-transition: color .3s ease-out;
            transition: color .3s ease-out; 

    color: #303030;
}
.container .header__link:hover
{
    color: #e10011;
}
.container .header__navigation
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 30%;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.container .header .menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 85%;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.container .header .menu__item
{
    list-style: none;
}
.container .header .menu__link
{
    font-weight: 400;

    display: block;

    -webkit-transition: color .3s ease-out;
            transition: color .3s ease-out; 
    text-decoration: none;
    text-transform: capitalize;

    color: #303030;
}
.container .header .menu__link:hover
{
    color: #e10011;
}
.container .header .fas
{
    width: 100%;
    height: 100%;

    -webkit-transition: color .3s ease-out;
            transition: color .3s ease-out; 

    color: #000;
}
.container .header .fas:hover
{
    color: #e10011;
}
.container .slider
{
    margin-bottom: 100px;
}
.container .slider__box
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 70px; 

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.container .slider__content
{
    width: 50%;

    text-align: right;
}
.container .slider__title
{
    font-family: 'Raleway', sans-serif;
    font-size: 150px;

    width: 600px;

    text-transform: uppercase;
    word-wrap: break-word;
}
.container .slider__text
{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;

    margin-bottom: 30px;
}
.container .slider__img
{
    width: 50%;

    text-align: center;
}
.container .slider__view-project
{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 800;

    cursor: pointer;
    -webkit-transition: color .3s ease-out;
            transition: color .3s ease-out; 
    text-transform: capitalize;
}
.container .slider__view-project:hover
{
    color: #e10011;
}
.container .slider__ellipse
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.container .slider__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.container .slider__item
{
    margin-right: 5px;
}
.container .slider__item:last-child
{
    margin-right: 0;
}
.container .slider__link
{
    display: block;

    -webkit-transition: color .3s ease-out;
            transition: color .3s ease-out; 

    color: #000;
}
.container .slider__link:hover
{
    color: #e10011;
}
.container .main
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding: 100px 0; 

    background-color: #fff;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container .main__headline
{
    font-family: 'Relaway', sans-serif;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 570px;
    margin-bottom: 75px; 

    text-align: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container .main__title
{
    font-size: 48px;
    font-weight: 900;

    margin-bottom: 20px; 
    padding-bottom: 25px;

    text-transform: capitalize;

    background: url('../img/underline.png') no-repeat 50% 100%;
}
.container .main__text
{
    font-weight: 400;
}
.container .main__gallery
{
    width: 1060px;
}
.container .main__row-top
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 35px; 

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.container .main .product-item
{
    position: relative;
}
.container .main .product__link
{
    display: block;

    -webkit-transition: background-color .3s ease-out;
            transition: background-color .3s ease-out;
}
.container .main .product__link:hover::before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    border-radius: 5px; 
    background-color: #e10011;
}
.container .main .product-info
{
    position: absolute;
    top: 65%;
    left: 5.5%;

    display: block;

    width: 40%;
    height: 20%;
}
.container .main .product__text
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;

    text-transform: capitalize; 

    color: #fff;
}
.container .main .product__strip
{
    display: block;

    padding-bottom: 5%; 

    background: url('../img/strip.png') no-repeat 0 100%;
}
.container .main__row-bottom
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.container .news
{
    font-family: 'Raleway', sans-serif;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding: 100px 0; 

    text-align: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container .news__info
{
    width: 580px;
    margin-bottom: 35px;
}
.container .news__title
{
    font-size: 48px;
    font-weight: 900;

    margin-bottom: 15px; 

    text-transform: uppercase;
}
.container .news__form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 70%;

    border-radius: 50px 50px; 
    background-color: #fff;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container .news__form-input
{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: italic;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 60%;
    padding: 3% 0; 
    padding-left: 8%;

    color: #979797;
    border: none;
    border-radius: 50px 0 0 50px;
    background: url('../img/email.png') no-repeat 7% 50% #fff;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}
.container .news__form-button
{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 3% 0; 

    text-transform: uppercase;

    color: #979797;
    border-radius: 0 50px 50px 0;
    background-color: transparent;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.container .news input[type='submit']
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 40%;

    cursor: pointer;
    -webkit-transition: color, background-color  .3s ease-out;
            transition: color, background-color  .3s ease-out; 

    border: none;
    outline: none;
}
.container .news input[type='submit']:hover
{
    color: #fff;
    background-color: #e10011;
}
.container .footer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    padding-bottom: 30px; 

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container .footer__social
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 60px;
}
.container .footer__list
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.container .footer__item
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-right: 20px; 

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container .footer__item:last-child
{
    margin-right: 0;
}
.container .footer__social-img
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 70px;
    height: 70px;

    -webkit-transition: background-color .3s ease-out;
            transition: background-color .3s ease-out; 

    border-radius: 70px;
    background-color: #fff;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container .footer__social-img:hover
{
    background-color: #e10011;
}
.container .footer__copy
{
    font-family: 'Raleway', sans-serif;

    color: #aeaeae;
}
.container .footer__copy span
{
    color: #303030;
}
