*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

html,
body
{
    min-height: 100vh;
}

body
{
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-size: 18px;

    color: #303030; 
    background-color: #eee;
}

a
{
    text-decoration: none;
}

.container
{
    width: 100%;
    max-width: 1200px;
    margin: 50px auto 0;
}
.container .header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 80px; 

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.container .header__logo
{
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: 900;

    text-transform: capitalize;
}
.container .header__link
{
    -webkit-transition: color .3s ease-out;
            transition: color .3s ease-out; 

    color: #303030;
}
.container .header__link:hover
{
    color: #e10011;
}
.container .header__navigation
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 380px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container .header .menu
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 300px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container .header .menu__item
{
    list-style: none;
}
.container .header .menu__link
{
    font-weight: 400;

    display: block;

    -webkit-transition: color .3s ease-out;
            transition: color .3s ease-out; 
    text-decoration: none;
    text-transform: capitalize;

    color: #303030;
}
.container .header .menu__link:hover
{
    color: #e10011;
}
.container .header .fas
{
    width: 100%;
    height: 100%;

    -webkit-transition: color .3s ease-out;
            transition: color .3s ease-out; 

    color: #000;
}
.container .header .fas:hover
{
    color: #e10011;
}
.container .slider
{
    margin-bottom: 100px;
}
.container .slider__box
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 70px;
}
.container .slider__content
{
    width: 605px;
    margin-right: 100px; 

    text-align: right;
}
.container .slider__title
{
    font-family: 'Raleway', sans-serif;
    font-size: 150px;

    width: 600px;

    text-transform: uppercase;
    word-wrap: break-word;
}
.container .slider__text
{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;

    margin-bottom: 30px;
}
.container .slider__view-project
{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 800;

    cursor: pointer;
    -webkit-transition: color .3s ease-out;
            transition: color .3s ease-out; 
    text-transform: capitalize;
}
.container .slider__view-project:hover
{
    color: #e10011;
}
.container .slider__ellipse
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.container .slider__pointer
{
    margin-right: 5px;

    -webkit-transition: color .3s ease-out;
            transition: color .3s ease-out; 

    color: #000;
}
.container .slider__pointer:hover
{
    color: #e10011;
}
.container .slider__pointer:last-child
{
    margin-right: 0;
}
.container .main
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-bottom: 90px;
    padding-top: 100px;

    background-color: #fff;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* .product-item:hover {
			background-color: #f00;
			z-index: 3;			
		} */
}
.container .main__headline
{
    font-family: 'Relaway', sans-serif;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 570px;
    margin-bottom: 75px; 

    text-align: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container .main__title
{
    font-size: 48px;
    font-weight: 900;

    margin-bottom: 10px; 

    text-transform: capitalize;
}
.container .main__img
{
    margin-bottom: 10px;
}
.container .main__text
{
    font-weight: 400;
}
.container .main__gallery
{
    width: 1060px;
}
.container .main__row-top
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 35px; 

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.container .main .product-item
{
    position: relative;
    z-index: 1;
}
.container .main .product-info
{
    position: absolute;
    z-index: 2; 
    top: 65%;
    left: 5.5%;
}
.container .main .product__text
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;

    width: 225px; 

    text-transform: capitalize;

    color: #fff;
}
.container .main__row-bottom
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 70px; 

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.container .news
{
    font-family: 'Raleway', sans-serif;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    margin-bottom: 110px; 

    text-align: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container .news__info
{
    width: 580px;
    margin-bottom: 35px;
}
.container .news__title
{
    font-size: 48px;
    font-weight: 900;

    margin-bottom: 15px; 

    text-transform: uppercase;
}
.container .news__form
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 770px; 

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container .news__form-input
{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: italic;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 450px;
    height: 70px;
    padding-left: 8%;

    color: #979797; 
    border: none;
    border-radius: 50px 0 0 50px;
    background: url('../img/email.png') no-repeat 7% 50% #fff;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}
.container .news__form-button
{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    text-transform: uppercase;

    color: #fff;
    border-radius: 0 50px 50px 0;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.container .news input[type='submit']
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 210px;
    height: 70px;

    cursor: pointer; 

    border: none;
    border-right: 50px 0 0 0;
    outline: none;
    background-color: #f00;
}
.container .footer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.container .footer__social
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 60px;
}
.container .footer .scl
{
    width: 70px;
    height: 70px;
    margin-right: 20px;

    -webkit-transition: background-color .3s ease-out;
            transition: background-color .3s ease-out; 

    border-radius: 50%;
}
.container .footer .scl:hover
{
    background-color: #e10011;
}
.container .footer .scl:last-child
{
    margin-right: 0;
}
.container .footer__social-fb
{
    background: url('../img/social_fb.png') no-repeat #fff 50%;
}
.container .footer__social-tw
{
    background: url('../img/social_tw.png') no-repeat #fff 50%;
}
.container .footer__social-yb
{
    background: url('../img/social_yb.png') no-repeat #fff 50%;
}
.container .footer__social-me
{
    background: url('../img/social_me.png') no-repeat #fff 50%;
}
.container .footer__copy
{
    font-family: 'Raleway', sans-serif;

    color: #aeaeae;
}
.container .footer__copy span
{
    color: #303030;
}
