<header id="header" class="header">
	<div class="container">
		<div class="row justify-content-center">
			<div class="fixed-top header__fixed">
				<div class="header__top">
					<div class="container">
						<div class="row justify-content-between align-items-center py-1 py-md-3">
							<div class="col-6 col-md-3">
								<a href="/" class="header__top-logo">serhii shabala</a>
							</div>
							<div class="col-6 col-md-4 col-lg-3">
								<nav class="header__top-menu">
									<ul class="header__top-list">
										<li class="header__top-item">
											<a href="#header" class="header__top-link">home</a>
										</li>
										<li class="header__top-item">
											<a href="#work" class="header__top-link">work</a>
										</li>
										<li class="header__top-item">
											<a href="#contacts" class="header__top-link">contacts</a>
										</li>
									</ul>
								</nav> <!-- End .header__top-menu -->
							</div>
						</div>
					</div>
				</div> <!-- End .header__top -->
			</div> <!-- End .fixed-top -->
			<div class="col-lg-10">
				<div class="header__content">
					<h1 class="header__content-title">welcome!</h1>
					<p class="header__content-text">
						My name is Sergey Shabala, I am 29 years old. Born in Ukraine, Kremenchug and I really like Front-End
						development. From February 2019, I began to study this area, my work experience is five months, but I am
						already familiar with: HTML5, CSS3, CSS
						pre-processors (SCSS, SASS), Pixel Perfect, Flex box, Bootstrap, Git, Gulp, BEM naming classes and a little
						bit of JavaScript and jQuery.Semantic, cross-browser and adaptive layout. </p>
				</div> <!-- End .header__content -->
			</div>

		</div>
	</div>
	<a href="#work" class="header__scroll">
		<div class="scroll-down">
			<span class="header__arrow">
				<i class="fa fa-angle-down fa-2x"></i>
			</span>
		</div>
	</a>	<!-- End .header__scroll -->

</header> <!-- End .header -->