<section class="work" id="work">
	<div class="container">
		<div class="row mb-3 mb-md-5">
			<div class="col d-flex flex-column align-items-center">
				<h2 class="main__title">my work</h2>
			</div>
		</div>
		<div class="row p-4 work__wrapper">
			<div class="col-md-6 col-lg-4 mb-3">
				<a href="mogo/app/" class="work__link">
					<div class="img-wrapper">
						<img src="img/mogo.jpg" alt="MoGo" class="work__img">
					</div>
				</a>
			</div> <!-- col-md-4 mb-3 mb-md-0 -->
			<div class="col-md-6 col-lg-4 mb-3">
				<a href="cahee/app/" class="work__link">
					<div class="img-wrapper">
						<img src="img/cahee.jpg" alt="Cahee" class="work__img">
					</div>
				</a>
			</div> <!-- col-md-4 mb-3 mb-md-0 -->
			<div class="col-md-6 col-lg-4 mb-3">
				<a href="exam_1/app/" class="work__link">
					<div class="img-wrapper">
						<img src="img/bhromaon.jpg" alt="BHROMAON" class="work__img">
					</div>
				</a>
			</div> <!-- col-md-4 mb-3 mb-md-0 -->
			<div class="col-md-6 col-lg-4 mb-3">
				<a href="mogo/app/" class="work__link">
					<div class="img-wrapper">
						<img src="img/product-man.jpg" alt="ProductMan" class="work__img">
					</div>
				</a>
			</div> <!-- col-md-4 mb-3 mb-md-0 -->
			<div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
				<a href="mogo/app/" class="work__link">
					<div class="img-wrapper">
						<img src="img/our-team.jpg" alt="OurTeam" class="work__img">
					</div>
				</a>
			</div> <!-- col-md-4 mb-3 mb-md-0 -->
			<div class="col-md-6 col-lg-4 mb-3 mb-md-0">
				<a href="mogo/app/" class="work__link">
					<div class="img-wrapper">
						<img src="img/nike.jpg" alt="Nike" class="work__img">
					</div>
				</a>
			</div> <!-- col-md-4 -->
			<div class="col-md-6 col-lg-4 mb-3">
				<a href="organical/app/" class="work__link">
					<div class="img-wrapper">
						<img src="img/organical.jpg" alt="Organical" class="work__img">
					</div>
				</a>
			</div> <!-- col-md-4 -->
			<div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
				<a href="logotype/app/" class="work__link">
					<div class="img-wrapper">
						<img src="img/logotype.jpg" alt="Logotype" class="work__img">
					</div>
				</a>
			</div> <!-- col-md-4 -->
			<div class="col-md-6 col-lg-4 mb-3 mb-md-0">
				<a href="active-box/app/" class="work__link">
					<div class="img-wrapper">
						<img src="img/activebox.jpg" alt="ActiveBox" class="work__img">
					</div>
				</a>
			</div> <!-- col-md-4 -->
			<div class="col-md-6 col-lg-4">
				<a href="digitalproducts/app/" class="work__link">
					<div class="img-wrapper">
						<img src="img/digital-product.jpg" alt="DigitalProduct" class="work__img">
					</div>
				</a>
			</div> <!-- col-md-4 -->
		</div>
	</div>
</section>